.b-nav-vertical {
	position: fixed;
	top: 21vh;
    left: 54px;
	z-index: 3;
	display: none;

	&__list {
		padding: 0;
		display: flex;
		white-space: nowrap;
		align-items: center;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}

	&__item {
		list-style: none;

		& + & {
			margin-top: 20px;
		}
	}

	&__link {
		display: block;
		font-size: 12px;
		line-height: 15px;
		color: @cl-hawkes-blue;
		opacity: .5;
		transition: color .3s ease-out, opacity .3s ease-out;

		&.active {
			color: @cl-tuna;
			opacity: 1;
		}
	}

	&__line {
		position: absolute;
		right: -5px;
		width: 1px;
		background: @cl-tuna;
		transition: all .3s ease-out;
	}
}