.b-production {
	padding: 100px 0;

	&:before {
		top: 41%;
    	left: 47%;
	}

	&__inner {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 558px;
		filter: none;

		&--4,
		&--7,
		&--8 {
			width: 706px;
		}
	}

	&__inner--3 &,
	&__inner--5 &,
	&__inner--6 &,
	&__inner--9 & {

		&__item {

			&:nth-child(3n+1) {
				margin-right: auto;
			}

			&:nth-child(3n+2) {
				margin-left: auto;
			}

			&:nth-child(3n) {
				margin-left: ~'calc((100% - 262px) / 2)';
				margin-right: ~'calc((100% - 262px) / 2)';
			}
		}
	}

	&__inner--4 &,
	&__inner--7 &,
	&__inner--8 & {

		&__item {

			&:nth-child(odd) {
				margin-right: 35px;
			}

			&:nth-child(4n+2) {
				margin-right: auto;
			}

			&:nth-child(4n+3) {
				margin-left: auto;
			}
		}
	}

	&__inner--7 & {

		&__item {

			&:nth-child(7n) {
				margin-left: ~'calc(100% - (262px + 262px + 35px))';
				margin-right: auto;
			}
		}
	}

	&__item {
		align-self: center;
		margin-top: -36px;

		&:nth-child(2) {
			margin-top: 0;
		}

		&:nth-child(odd) {
			margin-right: 0;
		}

		&:nth-child(even) {
			margin-left: 0;
		}
	}

	&__item-inner {
		clip-path: url(#hexagon-desktop);
		width: 261px;
		height: 293px;
		padding: 60px 48px;

		.ios &,
		.mac & {
			padding: 0;
		}
		
	}

	&__name {

		.ios &,
		.mac & {
			padding: 60px 48px 0;
		}
	}

	&__title-block {
		margin: 0 0 55px;
	}

	&__link {
		font-size: 16px;
		line-height: 20px;
		letter-spacing: normal;
	}
}