.b-production {
	padding: 127px 0 194px;

	&:before {
		top: 36%;
    	left: 50%;
    	width: 1364px;
		height: 810px;
	}

	&__item {
		width: 261px;
		height: 293px;
	}

	// &__item-inner {
	// 	clip-path: url(#hexagon-desktop);
	// 	width: 261px;
	// 	height: 293px;
	// }

	&__item-wrapper {
		margin-top: 0;
		width: 25%;

		&:nth-child(3n + 2),
		&:nth-child(3n) {
			width: 25%;
		}
	}

	&__title-block {
		margin-bottom: 87px;
	}

	&__inner {

		&--4,
		&--7 {
			width: 1149px;
		}
	}

	&__inner--4 & {

		&__item {

			&:nth-child(n) {
				margin-left: 0;
				margin-right: 35px;
			}

			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}

	&__inner--7 & {

		&__item {

			&:nth-child(n) {
				margin-left: 0;
				margin-right: 35px;
			}

			&:nth-child(7n) {
				margin-right: auto;
			}

			&:nth-child(7n+5) {
				margin-left: auto;
			}

			&:nth-child(7n+4) {
				margin-right: 0;
			}
		}
	}

	&__inner--4 &,
	&__inner--7 & {

		&__item {

			&:nth-child(3),
			&:nth-child(4) {
				margin-top: 0;
			}
		}
	}

	.b-header & {
		background: none;
		padding: 24px 0 0;
		margin-top: 30px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 604px;
			height: 1px;
			background: @cl-hawkes-blue;
		}

		&__inner {
			width: 452px;
			margin: 15px auto 0 0;
		}

		&__item {
			width: 140px;
			height: 157px;
		}

		&__item-inner {
			clip-path: url(#hexagon-header);
			width: 140px;
			height: 157px;
			padding: 31px 5px;
		}

		&__text {
			font-size: 14px;
			line-height: 18px;
			color: @cl-ghost;
		}

		&__sum {
			font-size: 12px;
			line-height: 15px;
			margin-top: 4px;
			display: block;
		}
	}
}