.b-production {
	line-height: 0;
	padding: 42px 0 44px;
	position: relative;
	overflow: hidden;
	background: @cl-alice-blue;

	&:before {
		content: '';
		position: absolute;
		top: 38%;
		left: 91%;
		width: 962px;
		transform: translateX(-50%);
		height: 571px;
		background: url("../images/inhtml/back_map.svg") center/cover no-repeat;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 288px;
		padding-top: 18px;
		margin: 0 auto;
		filter: drop-shadow(0px 6px 25px rgba(141, 177, 216, 0.3));
	}

	&__item {
		position: relative;
		flex-shrink: 0;
		filter: drop-shadow(0px 0 1px rgba(212, 218, 225, 1));
		transition: filter .3s ease;
		cursor: pointer;
		overflow: hidden;
		display: block;
		transform: translate3D(0, 0, 0);
		margin-top: -27px;

		&:first-child {
			margin-top: 0;
		}

		&:nth-child(odd) {
			margin-right: auto;
		}

		&:nth-child(even) {
			margin-left: auto;
		}

		.no-touchevents &:hover,
		.touchevents &:active {
			filter: drop-shadow(0px 6px 25px rgba(141, 177, 216, 0.3));
			z-index: 1;

			.b-title {
				color: @cl-fruit-salad;
			}

			.b-production__img {
				transform: translate3D(0, 0, 0) scale(1.1);
			}

			.b-production__sum {
				color: @cl-raven;
			}
		}
		
		.no-touchevents.no-object-fit &:hover,
		.touchevents.no-object-fit &:active {
			
			.b-production__img {
				transform: none;
			}
		}
	}

	&__item-inner {
		display: flex;
		flex-direction: column;
		width: 192px;
		height: 215px;
		padding: 46px 10px;
		clip-path: url(#hexagon-mobile);
		overflow: hidden;
		background: @cl-white;
		transform: translate3D(0, 0, 0);
		// border: 1px solid @cl-hawkes-blue;

		.no-object-fit & {
			background-image: url('../images/inhtml/hexagon.png');
			background-color: transparent;
			background-size: contain;
		}
		
		.ios & {
			padding: 0;
		}
	}

	&__img {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 100%;
	    width: 100%;
		object-fit: cover;
        font-family: "object-fit: cover;";
		transition: transform .3s ease;
		transform: translate3D(0, 0, 0);
	}

	&__name {
		text-align: center;
		transition: color .3s ease;

		.ios & {
			padding: 46px 10px 0;
		}
	}

	&__sum {
		color: @cl-ghost;
		font-size: 16px;
		line-height: 22px;
		.roboto-regular();
	}

	&__link-wrapper {
		margin-top: 13px;
		overflow: hidden;
	}

	&__link {
		text-transform: uppercase;
		.roboto-medium();
		font-size: 13px;
		line-height: 13px;
		letter-spacing: 0.01em;
		color: @cl-tuna;
		display: inline-flex;
		align-items: center;

		&--catalog {

			.b-icon,
			span {
				transform: none;
			}

			.no-touchevents &:hover,
			.touchevents &:active {
				color: @cl-fruit-salad;

				.b-icon:before {
					animation: online-arrow .7s linear 1;
				}
			}
		}

		&--pdf {

			.b-icon,
			span {
				transform: none;
			}

			.no-touchevents &:hover,
			.touchevents &:active {
				color: @cl-fruit-salad;

				.b-icon:after {
					background-color: @cl-fruit-salad;
				}

				.b-icon:before {
					animation: pdf-arrow .7s linear 1;
				}
			}
		}
	}

	&__title-block {
		position: relative;
		margin: 0 0 50px;
	}
}

@keyframes online-arrow {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(95%);
		opacity: 0;
	}
	51% {
		transform: translateX(-105%);
		opacity: 1;
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes pdf-arrow {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(95%);
		opacity: 0;
	}
	51% {
		transform: translateY(-105%);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
	}
}