.b-product {
	padding: 174px 0 70px;

	&__inner {
		padding-left: 12.5%;
		padding-right: 12.5%;
		padding-bottom: 22px;
	}

	&__image-wrapper {
		margin: 0 0 0 ~'calc((100vw - 64px) * -0.125)';
		display: flex;
		flex-direction: row-reverse;
	}

	&__image-slider {
		width: ~'calc(100% - 86px)';
	}

	&__slider-pagination {
		flex-direction: column;
		width: 11.75%;
    	margin-right: 2.6%;
		flex-shrink: 0;
		justify-content: flex-start;
	}

	&__dots {
		width: 100%;
		margin-bottom: 22.2%;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__feed-text,
	&__name,
	&__value {
		font-size: 18px;
		line-height: 30px;
	}

	&__feed-text {
		margin: 14px 0 30px;
	}

	&__name {
		margin-right: 7px;
	}

	&__header-text {
		padding: 28px 0 44px;
	}

	&__header-text &__name {
		flex-shrink: 0;
	}

	&__value {
		margin-left: 7px;
	}

	&__row {
		display: flex;
	}

	&__more {
		padding-top: 30px;
		padding-bottom: 30px;
		margin: 0;
	}
	
	&__feed {
		padding: 72px 0 76px;
	}
}