.b-product {
	padding: 103px 0 80px;

	&__slide {
        width: 100%;
        background: @cl-alice-blue;
        border-radius: 4px;
    }

    &__slide-box {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        border-radius: 4px;
        background: radial-gradient(63.8% 63.8% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

        img {
            width: 100%;
            max-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__slider-pagination {
        display: flex;
        justify-content: space-between;
        margin-right: -16px;
    }

    &__dots {
        width: ~'calc(20% - 8px)';
        flex-shrink: 0;
        line-height: 0;
        border-radius: 1px;
        padding: 1px;
        background: @cl-alice-blue;
        cursor: pointer;
        border: 1px solid transparent;
        transition: border-color .3s ease;

        &.on {
            border-color: @cl-fruit-salad;
        }
    }

    &__image-slider {
        margin-bottom: 10px;
    }

    &__name,
    &__value {
    	display: inline;
    	font-size: 16px;
        line-height: 24px;
        
        &--block {
            display: block;
        }
    }

    &__name {
    	color: @cl-raven;
        .roboto-light();
        margin-right: 6px;
    }

    &__value {
    	color: @cl-tuna;
    	.roboto-medium();
    }

    &__feed-text {
    	font-size: 16px;
    	line-height: 24px;
    	color: @cl-raven;
    	margin: 18px 0 23px;
        .roboto-light();
    }

    &__row {

    	& + & {
    		margin-top: 8px;
    	}
    }

    &__row-icon {
    	margin-top: 28px;
    	display: flex;
    }

    &__icon {
        height: 34px;
        width: 34px;
		object-fit: contain;
        font-family: "object-fit: contain; object-position: center;";
        object-position: center;

    	& + & {
    		margin-left: 10px;
    	}
    }

    &__header-text {
    	padding: 28px 0;
    }

    &__footer-text {
        padding: 28px 0;
    }

    &__inner {
    	padding: 28px 0;
    	display: flex;
    	flex-direction: column;
    }

    &__lead-box {
    	order: 1;
    }

    &__image-box {
        order: 2;
    }

    &__acc-box {
    	order: 3;
    }

    &__more {
        position: relative;
        padding: 20px 0;
        clear: both;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: @cl-hawkes-blue;
        }
    }

    &__arrows {
        width: 100%;
        pointer-events: none;
    }

    &__arrows-inner {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__feed {
        order: 4;
        padding: 51px 0;
    }
}