.b-product {
    padding: 208px 0 70px;
    
    &__inner {
        padding: 18px 0 151px;
    }

    &__image-wrapper {
        margin: 0;
    }

    &__image-box,
    &__feed {
        width: ~'calc(50% - 60px)';
    }

    &__image-slider {
        margin-bottom: 0;
    }

    &__more {
        margin: 0;
    }

    &__slider-pagination {
		width: 14.38%;
		margin-right: 3.92%;
	}

	&__dots {
		margin-bottom: 17.2%;
	}

	&__image-slider {
        width: 81.7%;
    }
}