.b-feedback {
    // max-width: 608px;
    padding-top: 45px;

    &__top-line {
        text-align: center;
        margin-bottom: 38px;
    }

    &__description {
        margin: 0;
        font-size: 18px;
        line-height: 30px;
        .roboto-light();
        color: @cl-raven;
        margin-top: 18px;
    }

    &__form-wrapper {
        background: @cl-alice-blue;
        padding: 46px 16px 47px;
        margin: 0 -16px;
    }

    &__form {
        // max-width: 447px;
        margin: 0 auto;
    }

    &__notice {
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 38px;
    }

    .b-popup & {
        padding: 0;
        margin: 0;

        &__top-line {
            display: none;
        }

        &__form-wrapper {
            padding: 0;
            margin: 0;
        }

        &__notice {
            margin: 0 0 22px;
        }
    }
}