.b-feedback {
    padding-top: 93px;
    margin: 0 auto 101px;

    &__top-line {
        margin-bottom: 56px;
        padding: 0;
    }

    &__form-wrapper {
        margin: 0;
        padding: 59px 0;
        border-radius: 3px;
    }

    &__notice {
        margin-bottom: 41px;
    }

    .b-popup & {

        &__notice {
            margin: 0 0 32px;
        }
    }
}