.tooltipster {

	&-base & {

	 	&-content {
	 		padding: 32px 36px 26px;
	 		width: 446px;
	 	}
	}

	&-geography & {

		&-box {
			background: @cl-white;
			border: none;
			box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
			border-radius: 12px;
		}

		&-content {
			line-height: 0;
			color: @cl-raven;
			padding: 0;
			overflow: hidden;
			width: 312px;
		}
	}
}

.b-tooltip {

	&__icon {
		margin: auto 0 auto auto;
	}

	.b-product & {
		margin: 0 6px 0 8px;
	}
}