.b-tooltip {
	display: inline-block;

	.b-form & {
		width: 96px;
		display: flex;
	}

	.b-product & {
		margin: 0 3px 0 0;
		vertical-align: middle;
	}

	&__icon {
		position: relative;
		width: 31px;
		height: 31px;
		border: 1px solid @cl-ghost;
		border-radius: 50%;
		margin: auto;
		cursor: pointer;

		&:before {
			content: '?';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 18px;
			color: @cl-ghost;
			.roboto-medium();
		}
	}

	&__templates {
		display: none;
	}

	&__lead {
		margin: 0 0 24px;
	}

	&__item {
		margin: 0;

		span {
			.roboto-medium();
		}
	}

	&__icon-close {
		position: absolute;
		top: 18px;
		right: 18px;
		width: 20px;
		height: 20px;

		&:before,
		&:after {
			content: '';
	        display: block;
	        width: 21px;
	        height: 3px;
	        background: @cl-opium;
	        position: relative;
	        transform-origin: center;
		}

		&:before {
            transform: rotate(45deg);
            top: 9px;
        }

        &:after {
            transform: rotate(-45deg);
            bottom: -6px;
        }
	}
}

.tooltipster {

	&-base & {
		
		&-box {
			background: @cl-white;
			box-shadow: 0px 4px 40px rgba(141, 177, 216, 0.25);
			border-radius: 12px;
			border: none;
			flex-grow: 0;
		}

	 	&-content {
	 		padding: 48px 18px 15px;
	 		font-size: 16px;
			line-height: 24px;
			.roboto-regular();
			color: @cl-raven;
			width: 288px;
			position: relative;
		}
	}
}

.tooltipstered {
	cursor: pointer;
}

.b-tooltip-geography-hover {
	opacity: 0;
	transition: opacity .3s ease-out;
}

.no-touchevents .b-tooltip-geography-icon:hover .b-tooltip-geography-hover,
.touchevents .b-tooltip-geography-icon:active .b-tooltip-geography-hover {
	opacity: 1;
}