/* 1280 + */
.b-title {

	.b-header .b-production & {
		font-size: 13px;
		line-height: 13px;
	}

	&--address {
		font-size: 30px;
		line-height: 40px;
	}

	&--h1 {

        .b-contact & {
            margin: 0 0 102px;
        }
	}
}