/* 320 + */
.b-title {
    display: block;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: normal;
    color: @cl-font-main;
    // .foco();
    // .roboto-medium();
    .roboto-bold();

    &--block {
        display: block;
        margin-right: 0;
    }

    &__new-line {
        display: block;
        margin: 0;
    }

    .b-head-block-slider & {
        color: @cl-white;
        max-width: 870px;

        span {
            display: block;
            margin-bottom: 4px;
        }
    }

    .b-product__more &,
    .b-product__feed &,
    .b-values &,
    .b-lead &,
    .b-form &,
    .b-blog__title-block &,
    .b-blog-page__title-block &,
    .b-production__title-block & {
        color: @cl-fruit-salad;
    }

    .b-card &,
    .b-production__name & {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.01em;
        color: @cl-tuna;
        transition: color .3s ease;
    }

    .b-manufacture & {
        color: @cl-white;
        margin: 0 0 14px;
    }

    .b-work-with-us & {
        color: @cl-tuna;
        margin: 0;
    }

    .b-subscribe &,
    .b-certificates & {
        color: @cl-white;
    }

    .b-footer & {
        color: @cl-alice-blue;
        margin: 0 0 12px;
    }

    &--address {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: @cl-tuna;
        margin-bottom: 18px;
    }

    &--h1 {
        color: @cl-fruit-salad;

        .b-contact & {
            margin: 0 0 40px;
        }
    }

    .b-questionnaire &,
    .b-stm &,
    .b-text-block--about &,
    .b-learn-more &,
    .b-geography &,
    .b-facts &,
    .b-managers &,
    .b-requirements &,
    .b-feedback__top-line & {
        color: @cl-tuna;
    }

    .b-lead &,
    .b-blog-page__title-block & {
        margin: 0;
    }

    .b-directions & {
        color: @cl-white;
        margin: 0 0 49px;
    }

    .b-managers__card & {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.01em;
        margin: 0 0 4px;
    }

    .b-popup &,
    .b-product__lead-box &,
    .b-not-found & {
        color: @cl-madison;

        &.hidden {
            font-size: 0;
            line-height: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            visibility: hidden;
            opacity: 0;
        }
    }

    .b-product & {
        margin: 0;
    }

    .b-product-card & {
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        color: @cl-tuna;
        .roboto-medium();

        // .b-popular & {
        //     font-size: 15px;
        //     line-height: 19px;
        //     letter-spacing: 0.02em;
        //     margin-bottom: 0;
        // } 
    }

    .b-filter-head & {
        color: @cl-madison;
        margin-bottom: 10px;
    }

    .b-filter-container & {
        color: @cl-madison;
        margin-bottom: 10px;
        .roboto-medium();
        font-size: 18px;
        line-height: 21px;
    }

    .b-content-block & {
        .roboto-medium();
        color: @cl-tuna;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 18px;
    }

    .b-head-block & {
        color: @cl-white;
        font-size: 30px;
        line-height: 40px;
        margin: 17px 0;
    }

    .b-card & {
        overflow: hidden;
        text-overflow: ellipsis;
        
        /*! autoprefixer: off */
        -webkit-line-clamp: 2;
        /*! autoprefixer: off */
        display: -webkit-box;
        /*! autoprefixer: off */
        -webkit-box-orient: vertical;
    }

    .b-popup & {
        margin-bottom: 24px;
    }
}