/* 768 + */
.b-title {
	font-size: 40px;
    line-height: 54px;

	.b-head-block-slider & {

        span {
            margin-bottom: 0;
        }
    }

    .b-production__title-block & {
    	font-size: 40px;
		line-height: 54px;
    }

    .b-card &,
    .b-production__name & {
    	font-size: 24px;
		line-height: 32px;
		letter-spacing: normal;
    }
    
    .b-production__name & {
        line-height: 28px;
        margin-bottom: 8px;
    }

    .b-manufacture & {
        margin: 0 0 19px;
    }

    .b-footer & {
        font-size: 24px;
        line-height: 34px;
    }

    &--address {
        font-size: 23px;
        line-height: 32px;
    }

    .b-lead & {
        font-size: 48px;
        line-height: 68px;
    }

    .b-text-block--about & {
        font-size: 24px;
        line-height: 34px;
    }

    .b-managers__card & {
        font-size: 24px;
        line-height: 34px;
        letter-spacing: normal;
        margin: 0 0 2px;
    }

    .b-directions & {
        margin-bottom: 80px;
    }

    .b-filter-head &,
    .b-product & {
        font-size: 30px;
        line-height: 40px;
    }

    .b-filter-container & {
        font-size: 21px;
        line-height: 40px;
        margin-bottom: 12px;
    }

    .b-product-card & {
        font-size: 16px;
        line-height: 22px;

        .b-more-slider & {
            line-height: 24px;
        }
    }

    .b-head-block & {
        color: @cl-alice-blue;
        font-size: 40px;
        line-height: 54px;
    }

    .b-card & {
        -webkit-line-clamp: 3;
    }
}