/* 320 + */
.b-link {
    display: inline;
    text-decoration: none;
    transition: color @animation-time ease-out;

    // Общие
    &--block {
        display: block;
    }

    &--contact-link {
        font-size: 18px;
		line-height: 30px;
        text-decoration: underline;
        color: @cl-raven;
        display: inline-block;
        margin: 8px 0 0;
        .roboto-light();

        .no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-pale-sky;
		}
    }
}