/* 320 + */
.b-button {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-align: center;
    pointer-events: auto;
    cursor: pointer;
    position: relative;

    &--block {
        display: block;
    }

    .b-product__arrows &,
    .b-geography &,
    .b-achieve &,
    .b-content-block__slider &,
    .b-directions &,
    .b-certificates &,
    .b-work-with-us &,
    .b-head-block-slider__arrows & {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 77px;
        height: 47px;
        background: transparent;
        border: 1px solid @cl-hawkes-blue;
        transition: opacity .3s ease;
        border-radius: 0;
        pointer-events: auto;

        &:before {
            font-size: 14px;
            line-height: 1;
            color: @cl-white;
            transition: color .3s ease;
        }

        &--prev {
            .icon('prev');
        }

        &--next {
            .icon('next');
            margin-left: -1px;
        }

        &.slick-disabled {
            pointer-events: none;

            &:before {
                color: rgba(255, 255, 255, .4);
            }
        }

        // &.slick-hidden {
        //     opacity: 0;
        // }
    }

    .b-content-block__slider &,
    .b-product__arrows &,
    .b-geography &,
    .b-achieve &,
    .b-directions &,
    .b-certificates &,
    .b-work-with-us & {
        border-color: @cl-raven;

        &:before {
            color: @cl-raven;
        }

        &.slick-disabled {
            border-color: rgba(109, 113, 120, .5);

            &:before {
                color: rgba(109, 113, 120, .5);
            }
        }
    }

    &--subscribe-submit {
        border: 1px solid @cl-white;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 54px;
        width: 252px;
        margin: auto;
        color: @cl-white;
        text-transform: uppercase;
        .roboto-medium();
    }

    &--contact-button {
        font-size: 12px;
        line-height: 21px;
        color: @cl-fruit-salad;
        background: transparent;
        height: 37px;
        border: 1px solid @cl-fruit-salad;
        padding: 13px 30px;
        transition: color .3s ease-out, border-color .3s ease-out;
        text-transform: uppercase;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        .roboto-medium();
        
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -1px;
            left: -1px;
            width: 0;
            height: ~'calc(100% + 2px)';
            border-radius: 4px;
            background: @cl-fruit-salad;
            transition: width .3s ease;

            .no-object-fit & {
                left: 0;
            }
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-white;
            border-color: @cl-fruit-salad;
            &:before {
                width: ~'calc(100% + 2px)';
            }
        }

        .no-object-fit.no-touchevents &:hover,
        .no-object-fit.touchevents &:active {

            &:before {
                width: 100%;
            }
        }

        .b-product__feed &,
        .b-not-found & {
            height: 44px;
            font-size: 16px;
            line-height: 20px;
            padding: 13px 44px;
            width: auto;
        }

        .b-product__feed & {
            width: 100%;
            height: 60px;
        }
    }

    &--feedback {
        font-size: 12px;
        line-height: 21px;
        height: 37px;
        width: auto;
        padding: 8px 31px;

        .no-touchevents &:hover,
        .touchevents &:active {
            z-index: 1;
        }
    }

    &--popup-close,
    &--filter-close {
        display: flex;
        width: 41px;
        height: 41px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        border-radius: 50%;
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 0;

        &:before,
        &:after {
            content: '';
            display: block;
            width: 21px;
            height: 3px;
            background: @cl-ghost;
            position: absolute;
            top: 50%;
            left: 50%;
        }

        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    &--popup-close {
        top: 20px;
        border: 2px solid @cl-ghost;

        &:before,
        &:after {
            background: @cl-ghost;
        }
    }

    .b-test & {
        margin-top: 24px;
    }

    &.slick-hidden {
        opacity: 0;
        pointer-events: none;
    }

    &--submit {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: @cl-fruit-salad;
        border: 1px solid @cl-fruit-salad;
        border-radius: 2px;
        text-transform: uppercase;
        color: @cl-white;
        height: 54px;

        .b-questionnaire & {
            order: 3;
        }
    }

    .b-filter-buttons & {
        font-size: 12px;
        line-height: 21px;
        color: @cl-fruit-salad;
        background: transparent;
        height: 37px;
        width: ~'calc(50% - 12px)';
        border: 1px solid @cl-fruit-salad;
        padding: 0;
        transition: color .3s ease-out, border-color .3s ease-out;
        text-transform: uppercase;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        .roboto-medium();
        border-radius: 2px;
        
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -1px;
            left: -1px;
            width: 0;
            height: ~'calc(100% + 2px)';
            border-radius: 2px;
            background: @cl-fruit-salad;
            transition: width .3s ease;

            .no-object-fit & {
                left: 0;
            }
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-white;
            border-color: @cl-fruit-salad;
            &:before {
                width: ~'calc(100% + 2px)';
            }
        }

        .no-object-fit.no-touchevents &:hover,
        .no-object-fit.touchevents &:active {

            &:before {
                width: 100%;
            }
        }

        &--clear {
            color: @cl-ghost;
            border-color: @cl-ghost;

            &:before {
                background-color: @cl-ghost
            }

            .no-touchevents &:hover,
            .touchevents &:active {
                color: @cl-white;
                border-color: @cl-ghost;
            }
            
            &.disabled {
                border-color: transparent;
                color: @cl-ghost;
                pointer-events: none;
            }
        }
    }
}