/* 768 + */
.b-button {

	&--subscribe-submit {
		flex-shrink: 0;
		width: 60px;
		height: 60px;
		border-radius: 0 2px 2px 0;
		background: @cl-pale-sky;
		border: none;

		span {
			display: none;
		}
	}

	&--contact-button {
        font-size: 16px;
        line-height: 26px;
        height: 44px;
        padding: 3px;
        margin: 0;
        width: 251px;

        .b-product__feed & {
            width: 244px;
        }
    }

    &--feedback {
        font-size: 16px;
        line-height: 26px;
        height: 52px;
        padding: 13px 43px;
    }

    &--popup-close,
    &--filter-close {
        width: 64px;
        height: 64px;
        border-width: 3px;
        top: 31px;
        right: 40px;

        &:before,
        &:after {
            width: 52px;
            height: 4px;
        }
    }

    &--popup-close {
        top: 38px;
    }

    .b-test & {
        margin-top: 30px;
    }

    &--submit{
        margin: 0;
        height: 60px;
        width: ~'calc(50% - 12px)';
        margin-left: auto;
    }

    .b-filter-buttons & {
        font-size: 16px;
        height: 60px;
        width: 258px;
        margin-right: 24px;
    }

    .b-feedback__form & {
        height: 44px;
        width: 180px;
    }
}