.b-geography {
    padding: 110px 0 0;

    &__map {
    	display: block;
	    margin: 0 auto;
	    transform: translateX(48px);
	    margin: 83px auto 0;
    }

    &__svg {
    	width: 954px;
    	position: relative;
	    left: 50%;
	    transform: translateX(-50%);
    }

    &__inner {
    	display: none;
    }

    &__card {
    	display: block!important;
    	opacity: 1!important;
    	width: 100%;
    }
}