.b-geography {
	
	&--md40 {
		margin-top: 40px;

		&:before {
			content: '';
			position: absolute;
			top: 99%;
			left: 50%;
			transform: translateX(-50%);
			width: 100vw;
			height: ~'calc(1% + 44px)';
			background: @cl-alice-blue;
			z-index: -1;
		}
	}
}