.b-geography {
    padding: 60px 0 0;
    position: relative;
    background: @cl-alice-blue;

    .slick-list {
        overflow: unset;
    }

    &__card {
        width: 288px;
        background: @cl-white;
        box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
        border-radius: 12px;
        overflow: hidden;
        opacity: 0;
        transition: opacity .7s ease-out;

        &.slick-current {
            opacity: 1;
        }
    }

    &__img {
        height: 164px;
        width: 100%;
		object-fit: cover;
        font-family: "object-fit: cover;";
    }

    &__information {
        padding: 20px;
        font-size: 16px;
        line-height: 22px;
        .roboto-regular();
    }

    &__name {
        .roboto-medium();
    }

    &__map {
        display: none;
    }

    &__arrows {
        width: 100%;
    }

    &__slider {
        margin: 0;
    }

    &__arrows-inner {
        margin: 48px 0 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__pagination {
	    z-index: 3;
        pointer-events: none;
        margin-bottom: 11px;
        margin-top: 48px;

	    & * {
	    	pointer-events: none;
	    }
	}

	&__pagination-inner {
		display: flex;
		color: @cl-tuna;
	}

	&__num-total-slides {
		opacity: .6;
        .roboto-light();
        font-size: 18px;
        line-height: 30px;
	}

	&__num-active-slide {
        font-size: 24px;
        line-height: 34px;
        margin-right: 8px;
        color: @cl-tuna;
    }
}