.b-form {

	&__title-block {
		padding: 48px 0 10px;
	}

	&__link-wrapper {
		margin-top: 18px;
	}

	&__link {
		text-transform: uppercase;
		.roboto-medium();
		font-size: 16px;
		line-height: 20px;
		color: @cl-tuna;
		display: inline-flex;
		align-items: center;
		cursor: pointer;

		.no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-tuna;
		}
	}

	&__form {
		margin: 0 -16px;
		padding: 39px 16px 35px;
		background: @cl-alice-blue;
	}

	&__footer {
		display: flex;
		flex-direction: column;
	}

	&__checkboxes {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 18px;
		padding: 1px 0 0 1px;
		width: 100%;
	}

	&--questionnaire & {

		&__form {
			padding: 39px 16px 52px;
		}
	}
}