.b-form {

	&__title-block {
		padding: 96px 0 20px;
	}

	&__form {
		margin: 0;
		padding: 58px 0 57px;
	}

	&__inner {
		border-radius: 3px;
	}

	&__footer {
		flex-direction: row;
		flex-wrap: wrap;
	}

	&__checkboxes {
		flex-wrap: nowrap;
		margin: 0 0 30px;
	}

	&--questionnaire & {

		&__form {
			padding: 49px 0 52px;
		}
	}
}