.b-lang {
	display: flex;
	font-size: 13px;
	line-height: 15px;
	
	&__link {
		display: block;
		pointer-events: auto;
		.roboto-medium();
		text-transform: uppercase;
		transition: color .3s ease, opacity .3s ease;
	}
	z-index: 1;

	&__link {
		color: @cl-white;
		opacity: .6;

		&.active {
			opacity: 1;
		}
	}

	&__link + &__link {
		margin-left: 12px;
	}

	.light &,
	.hover-menu &,
	.header-color & {

		&__link {
			color: @cl-raven;
			opacity: .7;

			&.active {
				color: @cl-tuna;
				opacity: 1;
			}
		}
	}
}