.b-facts {
	padding: 60px 0 0;

	&__inner {
		display: flex;
		flex-direction: column;
		background: linear-gradient(168.2deg, #3AAA35 0%, #3FAB39 17.45%, #63B559 42.27%, #70B965 52.3%, #64B65B 62.59%, #40AC3A 85.61%, #3AAA35 100%);
		padding: 51px 16px 9px 56px;
		margin: 49px -16px 0;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%);
			width: 100vw;
			height: ~'calc(50% + 5px)';
			background: @cl-alice-blue;
			z-index: -1;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		margin: 0 0 42px;
		width: 240px;
		color: @cl-white;
	}

	&__item-main {
		display: flex;
	}

	&__item-value {
		font-size: 64px;
		line-height: 59px;
		letter-spacing: -0.05em;
		.roboto-bold();
		margin-right: 14px;
		flex-shrink: 0;
	}

	&__item-desc {
		font-size: 14px;
		line-height: 18px;
		max-width: 95px;
	}

	&__item-text {
		font-size: 18px;
		line-height: 26px;
		letter-spacing: 0.01em;
		.roboto-medium();
	}
}