.b-facts {
	padding: 110px 0 0;

	&__item {
		margin: 0 0 68px;
	}

	&__item-text {
		font-size: 24px;
		line-height: 34px;
		letter-spacing: normal;
	}

	&__item-value {
		font-size: 72px;
		line-height: 63px;
	}

	&__inner {
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 70px -90px 0;
    	padding: 90px 90px 22px;
    	background: linear-gradient(98.07deg, #3AAA35 0%, #70B965 100%);
    	border-radius: 3px;
	}
}