.b-facts {

	&--md40 {
		margin-top: 40px;
	}

	&--md40 & {

		&__inner {

			&:before {
				height: ~'calc(50% + 44px)';
			}
		}
	}

	&__inner {
		margin: 70px 0 0;
		padding: 100px 9% 32px;
	}

	&__item {
		width: 306px;
	}
}