.b-card {
	height: 590px;

	&__inner {
		padding: 35px;
	}

	&--min {
		height: 295px;
	}

	&--min &__inner {
		padding-top: 52px;
	}

	&__img {
		margin: 0 0 52px;
		height: 263px;
		border-radius: 3px;
	}

	.b-learn-more & {
		margin: auto;
	}
}