.b-card {
	position: relative;
	height: 442px;
	max-width: 464px;
	width: 100%;
	flex-shrink: 0;
	display: block;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: -1px;
		width: ~'calc(100% + 1px)';
		height: 100%;
		border: 1px solid @cl-hawkes-blue;
		background: @cl-white;
	}

	&:after {
		content: '';
		position: absolute;
		top: -1px;
		left: -1px;
		width: ~'calc(100% + 2px)';
		height: ~'calc(100% + 2px)';
		border: 2px solid @cl-fruit-salad;;
		z-index: 1;
		opacity: 0;
		transition: opacity .3s ease;
		border-radius: 3px;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		padding: 17px;
		position: relative;
		height: 100%;
	}

	&--min {
		height: 221px;
	}

	&__img {
		margin: 0 0 30px;
		height: 200px;
		overflow: hidden;
		
		img {
			object-fit: cover;
			font-family: "object-fit: cover;";
			width: 100%;
			height: 100%;
			transition: transform .3s ease;
		}
	}

	&__date {
		font-size: 13px;
		line-height: 13px;
		.roboto-medium();
		color: @cl-raven;
		margin: 0 0 24px;
		white-space: nowrap;
		min-height: 15px;
	}

	&__icon {
		width: 52px;
		height: 52px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: @cl-fruit-salad;
		border: 1px solid @cl-fruit-salad;
		.icon('card-arr');
		margin-top: auto;
		transition: background-color .3s ease, border-color .3s ease;

		&:before {
			line-height: 1;
			color: @cl-alice-blue;
			transition: color .3s ease;
		}
	}
}