.b-filter {
	
	&-wrapper {
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		max-width: 959px;
		height: 100%;
		transform: translateX(100%);
		background: @cl-white;
		z-index: 10;
		transition: transform .5s ease;
		padding: 32px;
		display: flex;
		flex-direction: column;

		&:before {
			content: '';
			position: fixed;
			width: 200vw;
			height: 100%;
			top: 0;
			right: 100%;
			opacity: 0;
			transition: opacity .5s ease;
			background: rgba(44, 59, 75, 0.4);
			display: none;
		}

		&.is-expand {
			position: fixed;
	        transform: translateX(0);
	        z-index: 10;

	        &:before {
				display: block;
				opacity: 1;
			}
		}
		
		&__panel {
			display: flex;
			overflow-y: hidden;
			overflow-x: auto;
			width: ~'calc(100% + 32px)';
			margin-bottom: 16px;
			flex-shrink: 0;
		}

		&__panel-item {
			
			flex-shrink: 0;
			margin: 0 0 0 -1px;

			&:first-child {
				margin: 0;
			}

			&:last-child {
				padding-right: 32px;
			}
		}

		&__panel-link {
			display: flex;
			padding: 4px;
			justify-content: center;
			align-items: center;
			width: 128px;
			height: 48px;
			position: relative;
			text-align: center;
			text-transform: uppercase;
			.roboto-medium();
			font-size: 13px;
			line-height: 15px;
			outline: none;
			transition: background-color .5s ease-out, color .5s ease-out;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 1px solid @cl-hawkes-blue;
				transition: border-color .5s ease-out;
			}

			.no-touchevents &:hover,
			.touchevents &:active {
				z-index: 1;
				color: @cl-fruit-salad;

				&:before {
					border-color: @cl-fruit-salad;
				}
			}

			&.is-select {
				background-color: @cl-alice-blue;
				color: @cl-tuna;
			}
		}

		&__input {
			border: none;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
		}
	}

	&-head {
		padding: 0 0 16px;
	}

	&-main {
		height: ~'calc(100% - 170px)';
	}

	&__link {
		display: block;
		padding-right: 26px;
		position: relative;
		.icon('ok', 'after');
		transition: color .3s ease;
		cursor: pointer;

		&:before,
		&:after {
			position: absolute;
			right: 4px;
			top: 0;
			opacity: 0;
			transition: opacity .3s ease;
			width: 18px;
			height: 18px;
		}

		&:before {
			content: '';
			border-radius: 50%;
			background: @cl-fruit-salad;
		}

		&:after {
			color: @cl-white;
			font-size: 9px;
			line-height: 19px;
			text-align: center;
		}

		.no-touchevents &:hover {
			color: @cl-fruit-salad;
		}

		&:active {
			.roboto-medium();
			color: @cl-tuna;
		}

		&.is-select {
			.roboto-medium();
			color: @cl-tuna;

			&:before,
			&:after {
				opacity: 1;
			}
		}
	}

	&__item {
		
		& + & {
			margin-top: 12px;
		}
	}

	&-container {
		width: 230px;

		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__input {
		border: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}

	&-container--name & {

		&__link {
			padding-left: 36px;
		}
	}

	&-buttons {
		display: flex!important;
		justify-content: space-between;
		padding: 16px 0 0;
	}
}