.b-filter {
	
	&-wrapper {
		padding: 100px 64px 70px;

		&__panel {
			width: 100%;
			margin-bottom: 32px;
		}
	
		&__panel-item {
	
			&:last-child {
				padding-right: 0;
			}
		}
	
		&__panel-link {
			width: 160px;
			height: 66px;
			font-size: 16px;
			line-height: 20px;
		}
	}
	
	&-head {
		padding: 0 0 32px;
	}

	&-main {
		height: 500px;

		.os-content {
			display: flex;
		    max-height: 500px;
		}
	}

	&-buttons {
		margin-top: auto;
		justify-content: flex-start;
		padding: 30px 0;
	}

	&-container {
		width: 185px;
		margin-right: auto;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		font-size: 16px;
		line-height: 22px;
	}
}