.b-blog {
	padding: 0 0 56px;

	&__title-block {
		padding: 48px 0 8px;
	}

	&__link-wrapper {
		margin-top: 18px;
	}

	&__link {
		text-transform: uppercase;
		.roboto-medium();
		font-size: 13px;
		line-height: 13px;
		letter-spacing: 0.01em;
		color: @cl-tuna;
		display: inline-flex;
		align-items: center;

		.b-icon,
		span {
			transform: none;
		}

		.no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-fruit-salad;

			.b-icon:before {
				animation: online-arrow .7s linear 1;
			}
		}
	}

	&--cooperation {
		padding: 24px 0 72px;
	}

	&--cooperation & {

		&__title-block {
			padding: 0;
		}
	}
}

.b-blog-page {

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 30px;
	}
}