.b-blog {
	padding: 0 0 100px;

	&__title-block {
		padding: 96px 0 16px;
	}

	&__link {
		font-size: 16px;
		line-height: 20px;
		letter-spacing: normal;
	}

	&--cooperation & {

		&__title-block {
			padding: 0;
		}
	}
}

.b-blog-page {

	&__inner {
		margin-top: 72px;
	}
}