.b-managers {
	padding: 60px 0 0;

	&__img {
		clip-path: url(#hexagon);
	}

	&__image-wrapper {
		display: flex;
		justify-content: center;
		margin: 0 0 26px;
	}

	&__card {
		margin: 48px 0 0;
		display: flex;
		flex-direction: column;
		font-size: 16px;
		line-height: 22px;
		color: @cl-raven;
	}

	&__position {
		.roboto-medium();
		color: @cl-hawkes-blue;
		margin: 0 0 14px;
	}

	&__tel,
	&__mail {
		color: @cl-raven;
		margin-bottom: 12px;
	}

	&__address {
		font-style: normal;
	}

	&__contacts {
		max-width: 448px;
		display: flex;
		flex-direction: column;
	}
}