.b-managers {
	padding: 110px 0 0;

	&__inner {
		padding: 8px 0 0;
	}

	&__card {
		font-size: 18px;
		line-height: 30px;
		margin: 64px 0 0;
	}

	&__image-wrapper {
		margin: 0 0 33px;
	}

	&__tel,
	&__mail,
	&__address {
		.roboto-light();
	}

	&__position {
		margin: 0 0 18px;
	}

	&__mail, 
	&__tel {
		margin-bottom: 5px;
	}
}