.b-product-card {
	position: relative;
	display: block;
	max-width: 248px;
	width: 100%;
	height: 346px;
	padding: 14px;
	justify-content: flex-end;
	background: @cl-white;
	transition: border-color .3s ease-out;
	cursor: pointer;
	margin: -1px 0 0 -1px;
	border: 1px solid @cl-hawkes-blue;

	.no-touchevents &:hover,
	.touchevents &:active {
		z-index: 1;
		border-color: @cl-fruit-salad;

		img {
			transform: scale3d(1.05, 1.05, 1.05);
		}
	}

	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__quantity {
		font-size: 12px;
		line-height: 16px;
		color: @cl-raven;

		span {
			margin-left: 6px;
		}
	}

	&__description {
		width: 190px;
    	margin-bottom: 8px;
    	max-height: 76px;
    	overflow: hidden;
    	text-align: center;
	}

	&__image-wrapper {
		height: 218px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 0;

		img {
			max-height: 100%;
			width: 100%;
			object-fit: contain;
			font-family: "object-fit: contain;";
			transition: transform .3s ease-out;
		}
	}

	.b-more-slider & {
		max-width: none;
		height: 400px;
		padding: 47px 14px 14px;
		
		&__image-wrapper {
			height: 220px;
		}
	}
}