.b-product-card {
	max-width: 50%;
	height: 455px;
	padding: 37px 30px;

	&__description {
		width: 100%;
    	max-height: 86px;
    	margin-bottom: 14px;
	}

	&__image-wrapper {
		height: 265px;

		.b-catalog & {
			margin-bottom: 31px;
		}
	}

	.b-more-slider & {
		height: 455px;
		padding: 25px 30px 14px;

    	&__description {
	    	max-height: 98px;
		}
		
		&__image-wrapper {
			height: 280px;
			margin-bottom: 24px;
		}
	}
}