.b-checkbox {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    left: 0;
    font-size: 14px;
    line-height: 1.43;
    margin: -1px 0 0 -1px;

    &__name,
    &__input {
        display: inline-block;
        width: auto;
    }

    &__input {
        width: 0;
        height: 0;
        left: 0;
        opacity: 0;
        position: absolute;
    }

    &__name {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.01em;
        .roboto-medium();
        width: 96px;
        height: 60px;
        background-color: @cl-white;
        color: @cl-ghost;
        border: 1px solid @cl-hawkes-blue;
        transition: background-color .3s ease-out,  color .3s ease-out, border-color .3s ease-out;
    }

    &__input[type=checkbox]:checked ~ &__name {
        background-color: @cl-fern;
        color: @cl-white;
        border-color: @cl-fruit-salad;          
    }

    &__text {
        display: inline-block;
        vertical-align: middle;
        letter-spacing: 0;
        font-size: 14px;
        line-height: 1.43;
    }

    &__text-mobile {
        display: none;
    }
}