.b-directions {

    &__dots {
        margin-left: 0;
        padding-left: 8.4%;
    }

    li:last-child {
        margin-right: 0;
    }

    &--about & {

        &__slide {
            width: 898px;
            margin: 0 56px;
        }

        &__arrows {
            width: 1182px;
        }
    }
}