.b-directions {
	padding: 104px 0 0;

	&:after {
		height: 100%;
		background: url("../images/inhtml/bg_certificates_tablet.png") left top/contain no-repeat;
	}

	&:before {
		height: 448px;
		max-height: 448px;
	}

	&__slider {
		padding-left: 12.5%;
	}

	&__slide {
		width:  448px;
		margin: 0 112px 0 0;
	}

	&__dots {
		width: 100vw;
		padding-bottom: 32px;
		// padding-left: 12.5%;
		margin-left: -32px;
		padding-left: ~'calc(((100vw - 64px) * 0.125) + 32px)';
	}

	li {
		margin-right: 64px;

		&:last-child {
			margin-right: ~'calc(((100vw - 64px) * 0.125) + 32px)';
		}
	}

	.dot {		
		font-size: 16px;
		line-height: 20px;
	}

	&__content {
		margin: 0 0 32px;
		height: 300px;
	}

	&--about {
		margin-bottom: 110px;

		.b-text-block {
			margin-right: 12.5%;
			margin-left: 12.5%;
		}
	}

	&--about & {

		&__slider {
			padding-left: 0;
			margin-bottom: 76px;
		}

		&__slide {
			width: ~'calc(100vw - 64px)';
			margin: 0 32px;
		}

		&__title {
			margin-right: 12.5%;
			margin-left: 12.5%;
		}
	}
}