.b-directions {
	position: relative;
	padding: 48px 0 0;

	.slick-list {
		overflow: visible;
	}

	.slick-track { 
		display: flex; 
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
	}

	&:before {
		height: 100vw;
		max-height: 348px;
		background: @cl-pale-sky;
	}

	&__dots {
		padding: 0 0 14px;
		overflow: hidden;
		width: ~'calc(100% + 16px)';
	}

	.slick-dots {
		display: flex;
		white-space: nowrap;
		width: max-content;
		align-items: center;
		padding: 0;
	}

	li {
		list-style: none;
		margin-right: 58px;

		&:last-child {
			margin-right: 16px;
		}

		&.slick-active .dot {
			color: @cl-white;
			opacity: 1;
		}
	}

	.dot {
		.roboto-medium();
		color: @cl-alice-blue;
		opacity: .7;
		text-transform: uppercase;
		background: transparent;
		border: none;
		padding: 0;
		font-size: 13px;
		line-height: 13px;
		transition: color .3s ease-out, opacity .3s ease-out;
		cursor: pointer;
	}

	&__slide {
		width: ~'calc(100vw - 32px)';
		margin: 0 16px;
    }

	&__title {
		font-size: 18px;
		line-height: 26px;
		color: @cl-tuna;
		.roboto-medium();
		margin-bottom: 7px;
	}

	&__content {
		margin: 0 0 18px;
		height: 200px;
		position: relative;
		overflow: hidden;
		border-radius: 3px;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(44, 59, 75, 0.3);
  			backdrop-filter: blur(6px);
  			transition: opacity .7s ease-out;

  			.slick-current & {
  				opacity: 0;
				z-index: -1;
  			}
		}
	}

	&__content ~ * {
		opacity: 0;
		transition: opacity 1s ease-out;
	}

	.slick-current &__content ~ * {
		opacity: 1;
	}

	&__name {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: @cl-tuna;
		font-size: 20px;
		transition: opacity .7s ease-out;

		.slick-current & {
			opacity: 0;
		}
	}

	&__video,
	&__img {
		width: 100%;
		height: 100%; 	
	}

	&__img {
		object-fit: cover;
        font-family: "object-fit: cover;";
	}

	&__video {
		object-fit: none;
	}

	&__slider {
		margin-bottom: 50px;
	}

	&__arrows {
		width: 100%;
		pointer-events: none;
	}

	&__arrows-inner {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&--about {
		margin-bottom: 60px;
	}

	&--about & {

		&__content {
			position: relative;
			padding-bottom: 56.25%;
			width: 100%;
			height: 0;
			overflow: hidden;

			iframe,
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-width: 0;
				outline-width: 0;
			}
		}
	}
}