include icon.pug

mixin accordion(accs)

    +b.acc.-js-acc
        each acc in accs
            +e.item
                +e.header.-js-acc-header 
                    +e('span') !{acc.title}
                    +icon('arrow-down')

                +e.content
                    each item in acc.items
                        +e.row
                            +e.name !{item.name}
                            +e.value !{item.value}

