//- ====================
//- kontora: button block link
//- 00-00-2020: author
//- --------------------
//- Блочная ссылка
//- ====================

//- if <a>        link = true
//- if <button>   link = false

mixin button(content, link, href)
    if link == true
        +b('a').button( href=href title=`${content}` )&attributes( attributes ) #{content}
            block

    else
        +b('button').button&attributes( attributes ) #{content}
            block
