mixin card(title, date, image)

    include title.pug

    if image

        +b('a').card(href='/content.html')
            +e.inner
                +e.img
                    img(src=image alt=title).js-image-wrapper
                +e('time').date !{date}
                +title('h4', title)
                +e.icon

    else
        
        +b('a').card.--min(href='javascript:void(0);')
            +e.inner
                +e('time').date !{date}
                +title('h4', title)
                +e.icon