//- ====================
//- kontora: 
//- 00-00-2020: author
//- --------------------
//- Карточки адресов
//- ====================


mixin contact-card(data)
    include link.pug
    include button.pug
    include title.pug

    +b.contact-card(class!=attributes.class)
        +e.text-groupe
            if data.title
                +title('h2', data.title).--address
            
            +e('a').phone( href= `tel:${data.href_phone}` title=`${data.phone_number}`)&attributes( attributes ) !{data.phone_number}

            if data.property
                +e.property !{data.property}
            
            if data.proviso
                +e.proviso !{data.proviso}

            if data.email
                +e('a').email( href= `mailto:${data.email}` title=`${data.email}`) !{data.email}

            if data.address
                +e('address').address&attributes( attributes ) !{data.address}

            if data.link
                +link(data.link, true, data.href_link).--contact-link.-js-route
        if data.button
            +e.button-groupe
                +button(data.button, true, data.href_button)(data-placemark=data.placemark).--contact-button
        block
