mixin content-block(data)

    +b.content-block
        if data.content
            include title.pug
            +title('h2', data.title)
            +e('p').text !{data.content}
            if data.image || data.video
                +e.content
                    if data.image
                        img(src=data.image, alt=data.title).js-image-wrapper
                    else if data.video
                        #{data.video}
            else if data.slides
            
                +e.slider
                
                    +e.pagination
                        +e.pagination-inner
                            +e.num-active-slide.-js-number-active-slide 01
                            +e.num-total-slides / 0#{data.slides.length}


                    .slick-slider.js-achieve-slider
                        each slide in data.slides
                            +e.slide
                                +e.content
                                    if slide.image
                                        img(src=slide.image, alt=slide.title).js-image-wrapper
                                    else if slide.video
                                        #{slide.video}
                    
                    +e.arrows
                        +e.arrows-inner
                            include button.pug
                            +button('').--prev.-js-prev
                            include button.pug
                            +button('').--next.-js-next
        else
            block 