mixin filter(filters)

    include icon.pug

    +b.filter(class!=attributes.class)
            
        each filter in filters
            +e.item
                +e('label').link.-js-filter-link(for=filter.icon)
                    +e('input')(type='checkbox', name=filter.icon, id=filter.icon).input
                    | !{filter.name}