//- ====================
//- kontora: input
//- 00-00-2020: author
//- --------------------
//- инпут
//- ====================

include link.pug

mixin input(obj, help)
    if obj.textarea
        +b.input(class!=attributes.class)
            +e('textarea').textarea&attributes(attributes)(id=obj.id, placeholder=obj.placeholder, name=obj.name || obj.id, checked = obj.checked, class!=attributes.class, required=obj.required)
            if obj.content
                +e('label').label(for=`${obj.id}`) #{obj.content}
                    block
                    if obj.required
                        +e('span').required *

    else
        +b.input(class!=attributes.class)
            +e('input').input-field&attributes(attributes)(id=obj.id, type=obj.type, placeholder=obj.placeholder, name=obj.name || obj.id, value=obj.value, pattern=obj.pattern, required=obj.required,class = obj.plugin, checked = obj.checked, class=obj.class)
            if help == true    
                +link('Не помню пароль', true, '#').--help
            else 

            if obj.content
                +e('label').label(for=`${obj.id}`) #{obj.content}
                    block
                    if obj.required
                        +e('span').required *


mixin input-feedback(label, input, id, name, type)
    +b.input(class!=attributes.class)
        if input == true
            +e('label').label&attributes( attributes )(for=id) !{label}
            +e('input').input-field&attributes( attributes )(id=id, type=type, name=name )
        else
            +e('label').label&attributes( attributes )(for=id) !{label}
            +e('textarea').textarea-field&attributes( attributes )(id=id, type=type, name=name )

