//- ====================
//- kontora: link inline
//- 00-00-2020: author
//- --------------------
//- Строчная ссылка
//- ====================

//- if <a>        link = true
//- if <button>   link = false

mixin link(content, link, href)
    if link == true
        +b('a').link( href=href title=`${content}` )&attributes( attributes ) #{content}
            block

    else
        +b('button').link&attributes( attributes ) #{content}
            block
