mixin logo(stubPage)
    +b(stubPage ? 'div' : 'a').logo(href=(stubPage ? false : '/') title='' class!=attributes.class)
        +e('svg').image(viewBox='0 0 505 567' fill='none')
            +e('path')(d='M252.895 566.951C245.548 566.951 237.712 564.993 230.855 561.077L22.6939 441.147C9.46963 433.315 0.653412 419.119 0.653412 403.454V163.594C0.653412 147.93 8.97984 133.734 22.6939 125.902L230.855 5.9719C244.079 -1.86026 261.222 -1.86026 274.446 5.9719L482.607 125.902C495.831 133.734 504.647 147.93 504.647 163.594V403.454C504.647 419.119 496.321 433.315 482.607 441.147L274.446 561.077C268.079 564.993 260.242 566.951 252.895 566.951ZM245.059 30.4474L36.8979 150.378C32.4898 152.825 29.5511 158.21 29.5511 163.594V403.454C29.5511 408.839 32.4898 413.734 36.8979 416.671L245.059 536.601C249.467 539.049 255.344 539.049 260.242 536.601L468.403 416.671C472.811 414.224 475.75 408.839 475.75 403.454V163.594C475.75 158.21 472.811 153.315 468.403 150.378L260.242 30.4474C255.834 27.5104 249.956 27.5104 245.059 30.4474Z' fill='#6DBF54')
            +e('path')(fill-rule='evenodd' clip-rule='evenodd' d='M432.648 215.481C255.834 215.481 233.793 343.244 231.344 428.418C262.201 346.181 361.138 306.53 361.138 306.53C361.138 306.53 268.078 366.74 259.752 460.237C433.627 445.551 437.056 302.614 432.648 215.481Z' fill='#6DBF54')
            +e('path')(fill-rule='evenodd' clip-rule='evenodd' d='M126.039 306.042C126.039 306.042 183.835 323.175 222.528 381.916C219.589 308.489 206.855 215.972 72.6522 215.972C69.2237 292.825 72.1625 419.608 215.181 428.419C194.12 353.035 126.039 306.042 126.039 306.042Z' fill='#6DBF54')