mixin nav(data)
    
    if data.form
        +b('form').nav
            +e('ul').list
                each item, index in data.items
                    +e('li').item
                        if item.active
                            +e('label').link.-js-nav-link.-active(for=item.id) 
                                +e('input')(type='checkbox', name='nav', id=item.id, checked).input
                                +e('span').name !{item.name}
                        else
                            +e('label').link.-js-nav-link(for=item.id) 
                                +e('input')(type='checkbox', name='nav', id=item.id).input
                                +e('span').name !{item.name}

    else if data.vertical
        +b('nav').nav-vertical.-js-nav
            +e('ul').list
                each item, index in data.items
                    +e('li').item
                        if item.active
                            +e('a').link.-js-nav-link.-active(href=item.link, title=item.name) 
                                +e('span').name !{item.name}
                        else
                            +e('a').link.-js-nav-link(href=item.link, title=item.name) 
                                +e('span').name !{item.name}
            +e.line.-js-nav-line

    else
        +b('nav').nav.-js-nav
            +e('ul').list
                each item, index in data.items
                    +e('li').item
                        if item.active
                            +e('a').link.-js-nav-link.-active(href=item.link, title=item.name) 
                                +e('span').name !{item.name}
                        else
                            +e('a').link.-js-nav-link(href=item.link, title=item.name) 
                                +e('span').name !{item.name}

