//- ====================
//- kontora: pagination
//- 00-00-2020: author
//- --------------------
//- пагинация
//- ====================

mixin pagination(data, config)
    include icon.pug
    +b.pagination(class!=attributes.class)
        +e.list
            +e.item.--prev.-disabled
                +e('a').nav.--prev(href='javascript:void(0);')
            - var current = ''
            each item, index in data.items
                if (index == `${config.current}`)
                    - var current = '-current'
                else
                    - var current = ''

                if (item.number == 'dots')
                    +e.item.--dot
                        +e('span').link.--dot /
                else
                    +e.item
                        +e('a').link(href='javascript:void(0);', title='' class=current) #{item.number}
            +e.item.--next
                +e('a').nav.--next(href='javascript:void(0);')
