include title.pug
include button.pug
include ../feedback.pug


mixin popup-form()

    +b.popup.--form&attributes( attributes )
        +e.content
            +button('', true).--popup-close.-js-close-popup
            +title('h3', 'Напишите нам')
            +feedback()

mixin popup-form2()

    +b.popup.--form&attributes( attributes )
        +e.content
            +button('', true).--popup-close.-js-close-popup
            +title('h3', 'Заказать тестинг')
            +feedback()