mixin popup-send()

    include button.pug
    include icon.pug
    include title.pug

    +b.popup.--send&attributes( attributes )
        +e.content
            +button('', true).--popup-close.-js-close-popup
            +e.inner
                +icon('send-popup')
                +title('h3', 'Отправлено')
                +e.text
                    +e('span') Спасибо за&nbsp;обращение!
                    +e('span') Сообщение отправлено успешно, и&nbsp;менеджер скоро вам ответит.

mixin popup-subscribe()

    include button.pug
    include icon.pug
    include title.pug

    +b.popup.--send.--subscribe&attributes( attributes )
        +e.content
            +button('', true).--popup-close.-js-close-popup
            +e.inner
                +icon('send-popup')
                +title('h3', 'Поздравляем!')
                +e.text
                    +e('span') Вы успешно подписались на рассылку!