mixin product-card(card)
    
    include title.pug
    
    +b('a').product-card(href='/product.html')
        +e.inner
            +e.image-wrapper
                img(src='images/catalog/' + card.image + '.png', alt=card.title).js-image-wrapper
            +e.description
                +title('h6', card.title)
            +e.quantity В упаковке:
                span !{card.sum}
