include button.pug

mixin test()

    +b.test
        .b-container
            +e.inner.-container
                +e('p').text Любую нашу продукцию можно протестировать.
                +e('p').text Свяжитесь с менеджером, чтобы заказать тестинг.
                +button('Заказать тестинг', true).--contact-button.-js-open-popup(data-popup='popup-form2')