//- ====================
//- kontora: title
//- 00-00-2020: author
//- --------------------
//- заголовок
//- ====================

mixin title(type, title)
    +b(type).title(class!=attributes.class) !{title}
        block
