include ui-kit/icon.pug
include ui-kit/button.pug

mixin achieve(slides)
    +b('section').achieve(class!=attributes.class, id!=attributes.id)
        .b-container
            +e.slider.-slick-slider.-js-achieve-slider
                each slide in slides
                    +e.slide
                        //- +e.text
                        //-     +icon(slide.icon)
                        //-     | !{slide.achieve}
                        
                        +e.content
                            if slide.image
                                +e('img').img(src=slide.image).js-image-wrapper
                            if slide.video
                                +e.video !{slide.video}
                        +e.desc !{slide.desc}

            //- +e.pagination
            //-     +e.pagination-inner
            //-         +e.num-active-slide.-js-number-active-slide 01 
            //-         +e.num-total-slides / 05

            +e.arrows
                +e.arrows-inner
                    +button('').--prev.-js-prev
                    +button('').--next.-js-next