mixin blog()

    include ui-kit/icon.pug
    include ui-kit/text-block.pug
    include ui-kit/title.pug
    include ui-kit/card.pug

    +b('section').blog(class!=attributes.class, id!=attributes.id)
        .b-container
            +e.title-block.-container
                +title('h2', 'Блог')
                +e.wrap
                    +text-block()
                        p Будьте в&nbsp;курсе ключевых событий на&nbsp;рынке! О&nbsp;них, а&nbsp;также об&nbsp;актуальных новостях компании мы&nbsp;рассказываем в&nbsp;блоге.

                    +e.link-wrapper
                        +e('a').link
                            +icon('next')
                            +e все новости

            +e.inner
                +b.tab
                    +e.header
                        +e('ul').nav.-js-tab
                            +e.item.-js-tab-trigger.-active(data-tab='1') все статьи
                            +e.item.-js-tab-trigger(data-tab='2') Новинки
                            +e.item.-js-tab-trigger(data-tab='3') акции
                            +e.item.-js-tab-trigger(data-tab='4') выставки
                        +e.line.-js-tab-line
                    +e.content
                        +e.content-item.-js-tab-content.-active(data-tab='1')
                            +e.card
                                +card('&laquo;Продэкспо-2017&raquo;&nbsp;&mdash; итог работы и&nbsp;взгляд в&nbsp;будущее', '20.07.2020', '/images/content/blog1.jpg')
                            +e.card.--hidden-xs
                                +card('&laquo;Anuga&raquo;&nbsp;&mdash; мировые новинки под одной крышей в&nbsp;Кельне', '20.07.2020', '/images/content/blog2.jpg')
                            +e.card.--hidden-tablet
                                +card('Международная продуктовая выставка &laquo;WorldFood&raquo;&nbsp;&mdash; обзор и&nbsp;перспективы участия', '20.07.2020')
                                +card('Выставка &laquo;InterFood Siberia&raquo;', '20.07.2020')
                        
                        +e.content-item.-js-tab-content(data-tab='2')
                            +e.card
                                +card('&laquo;Anuga&raquo;&nbsp;&mdash; мировые новинки под одной крышей в&nbsp;Кельне', '20.07.2020', '/images/content/blog2.jpg')
                            +e.card.--hidden-xs
                                +card('&laquo;Продэкспо-2017&raquo;&nbsp;&mdash; итог работы и&nbsp;взгляд в&nbsp;будущее', '20.07.2020', '/images/content/blog1.jpg')
                            +e.card.--hidden-tablet
                                +card('Международная продуктовая выставка &laquo;WorldFood&raquo;&nbsp;&mdash; обзор и&nbsp;перспективы участия', '20.07.2020')
                                +card('Выставка &laquo;InterFood Siberia&raquo;', '20.07.2020')


                        +e.content-item.-js-tab-content(data-tab='3')
                            +e.card
                                +card('Международная продуктовая выставка &laquo;WorldFood&raquo;&nbsp;&mdash; обзор и&nbsp;перспективы участия', '20.07.2020')
                                +card('Выставка &laquo;InterFood Siberia&raquo;', '20.07.2020')
                            +e.card.--hidden-xs
                                +card('&laquo;Anuga&raquo;&nbsp;&mdash; мировые новинки под одной крышей в&nbsp;Кельне', '20.07.2020', '/images/content/blog2.jpg')
                            +e.card.--hidden-tablet
                                +card('&laquo;Продэкспо-2017&raquo;&nbsp;&mdash; итог работы и&nbsp;взгляд в&nbsp;будущее', '20.07.2020', '/images/content/blog1.jpg')

                        +e.content-item.-js-tab-content(data-tab='4')
        