mixin catalog(cards)

    include ui-kit/product-card.pug
    include ui-kit/icon.pug
    include ui-kit/filter.pug
    include ui-kit/text-block.pug
    include ui-kit/title.pug
    include ui-kit/button.pug
    include ui-kit/nav.pug

    +b('section').catalog

        //- +e.category
        //-     .b-container
        //-         +e.category-inner
        //-             +e('form').category-form
        //-                 +e('label').category-link.-js-category-link(for='asc') 
        //-                     +e('input')(type='checkbox', name='sort', id='asc').input
        //-                     | орехи
        //-                 +e('label').category-link.-js-category-link(for='desc') 
        //-                     +e('input')(type='checkbox', name='sort', id='desc').input
        //-                     | Сухофрукты
        //-                 +e('label').category-link.-js-category-link(for='weight')
        //-                     +e('input')(type='checkbox', name='sort', id='weight').input
        //-                     | Кондитерские изделия
        //-                 +e('label').category-link.-js-category-link(for='weight')
        //-                     +e('input')(type='checkbox', name='sort', id='weight').input
        //-                     | рыбные снеки
        //-                 +e('label').category-link.-js-category-link(for='weight')
        //-                     +e('input')(type='checkbox', name='sort', id='weight').input
        //-                     | показать все

        +nav({
            items: [
                {
                    name: 'орехи',
                    id: 'nuts'
                },{
                    name: 'Сухофрукты',
                    id: 'dried-fruits'
                },{
                    name: 'Кондитерские изделия',
                    id: 'confectionery'
                },{
                    name: 'рыбные снеки',
                    id: 'fish-snacks'
                },{
                    name: 'ПОказать ВСЕ',
                    id: 'all',
                    active: true
                }
            ],
            form: true
        })

        .b-container

                +e.sorting
                    +e.sort
                        +e('a').button.-js-sort
                            span сортировать
                            +icon('sorting')
                        +e.wrap
                            +e('form').wrap-box
                                +e('label').sort-link.-js-sort-link(data-sort-value='name' data-sort-direction='asc' for='asc') 
                                    +e('input')(type='radio', name='sort', id='asc').input
                                    | А&mdash;Я
                                +e('label').sort-link.-js-sort-link(data-sort-value='name' data-sort-direction='desc' for='desc') 
                                    +e('input')(type='radio', name='sort', id='desc').input
                                    | Я&mdash;А
                                +e('label').sort-link.-js-sort-link(data-sort-value='weight' data-sort-direction='asc' for='weight')
                                    +e('input')(type='radio', name='sort', id='weight').input
                                    | По&nbsp;весу
                    +e('form').filter
                        +e('a').button.-js-filter
                            +icon('filter')
                            span фильтры
                        +b.filter-wrapper

                            +button('', true).--filter-close.-js-filter-close

                            +b.filter-head
                                +title('h3', 'Фильтры')
                                +text-block() Выберите одну или несколько опций

                            +e.panel
                                +e.panel-item
                                    +e('label').panel-link.-js-filter-link(for='filter-nuts')
                                        +e('input').input(type='checkbox', name='filter-nuts', id='filter-nuts')
                                        | орехи
                                +e.panel-item
                                    +e('label').panel-link.-js-filter-link(for='filter-dried-fruits')
                                        +e('input').input(type='checkbox', name='filter-dried-fruits', id='filter-dried-fruits')
                                        | Сухофрукты
                                +e.panel-item
                                    +e('label').panel-link.-js-filter-link(for='filter-confectionery')
                                        +e('input').input(type='checkbox', name='filter-confectionery', id='filter-confectionery')
                                        | кондитерские изделия
                                +e.panel-item
                                    +e('label').panel-link.-js-filter-link(for='filter-fish-snacks') 
                                        +e('input').input(type='checkbox', name='filter-fish-snacks', id='filter-fish-snacks')
                                        | Рыбные снэки

                            +b.filter-main.-js-scroll-block

                                +b.filter-container
                                    +title('h4', 'Наименование')
                                    +filter([
                                        {
                                            name: 'Арахис',
                                            icon: 'peanut'
                                        },{
                                            name: 'Грецкий орех',
                                            icon: 'walnut'
                                        },{
                                            name: 'Кедровый орех',
                                            icon: 'pine-nut'
                                        },{
                                            name: 'Миндаль',
                                            icon: 'almond'
                                        },{
                                            name: 'Кешью',
                                            icon: 'cashew'
                                        },{
                                            name: 'Фисташки',
                                            icon: 'pistachio'
                                        },{
                                            name: 'Фундук',
                                            icon: 'hazelnut'
                                        },{
                                            name: 'Чернослив',
                                            icon: 'prunes'
                                        },{
                                            name: 'Курага',
                                            icon: 'dried-apricot'
                                        }
                                    ])

                                +b.filter-container
                                    +title('h4', 'Обработка')
                                    +filter([
                                        {
                                            name: 'Очищенный',
                                            icon: 'purified'
                                        },{
                                            name: 'Жареный',
                                            icon: 'fried'
                                        },{
                                            name: 'Соленый',
                                            icon: 'salty'
                                        },{
                                            name: 'Спецированный',
                                            icon: 'specialized'
                                        },{
                                            name: 'В скорлупе',
                                            icon: 'in-the-shell'
                                        },{
                                            name: 'В шоколадной глазури',
                                            icon: 'in-chocolate-glaze'
                                        }
                                    ])

                                +b.filter-container
                                    +title('h4', 'Вес')
                                    +filter([
                                        {
                                            name: '25 кг',
                                            icon: '25kg'
                                        },{
                                            name: '3 кг (короб)',
                                            icon: '3kg'
                                        },{
                                            name: '500 г (пакет L)',
                                            icon: '500g'
                                        },{
                                            name: '250 г (тарелка-ассорти)',
                                            icon: '250g'
                                        },{
                                            name: '175-200 г (ПЭТ-банка)',
                                            icon: '175g'
                                        },{
                                            name: '150-200 г (пакет M)',
                                            icon: '150g'
                                        },{
                                            name: '100 г (пакет S-M)',
                                            icon: '100g'
                                        },{
                                            name: '50 г (флоупак)',
                                            icon: '50g'
                                        }
                                    ])

                            +b.filter-buttons
                                +button('Применить', true).-js-filter-apply
                                +button('Очистить', true).--clear.-js-filter-clear.-disabled
                +e.inner
                    each card in cards
                        +product-card(card)

                +e.more
                    +e('a').button.--border
                        +icon('more')
                        span показать ещё