mixin certificates(certificates)
    
    include ui-kit/title.pug
    include ui-kit/button.pug

    +b('section').certificates(class!=attributes.class, id!=attributes.id)
        +e.inner
            .b-container
                +title('h2', 'Сертификаты')
                +e.slider.-slick-slider.-js-certificates-slider
                    each certificate in certificates
                        +e.slide
                            +e('img').img(src=certificate)

                +e.arrows
                    .b-container
                        +e.arrows-inner
                            +button('').--prev.-js-prev
                            +button('').--next.-js-next