mixin directions(title, slides)

    include ui-kit/title.pug
    include ui-kit/button.pug
    include ui-kit/text-block.pug

    +b('section').directions(class!=attributes.class, id!=attributes.id)
        .b-container
            +title('h2', title).-container

            +e.dots.-js-directions-nav

            +e.slider.-slick-slider.-js-directions-slider
                each slide in slides
                    +e.slide(title=slide.dot)
                        +e.content
                            if slide.image
                                +e('img').img(src=slide.image).js-image-wrapper
                            if slide.video
                                +e('video').video.-js-video(muted)
                                    +e('source')(src=slide.video type='video/mp4')
                                +e.name !{slide.name}
                        if slide.title
                            +e('h4').title !{slide.title}
                        +text-block()
                            p !{slide.text}

            +e.arrows
                .b-container
                    +e.arrows-inner
                        +button('').--prev.-js-prev
                        +button('').--next.-js-next