mixin facts(facts)

    include ui-kit/title.pug

    +b('section').facts(class!=attributes.class, id!=attributes.id)
        .b-container
            +title('h2', 'Компания &laquo;Грин Лайн&raquo; в&nbsp;цифрах')

            +e.inner
                each fact in facts
                    +e.item
                        +e.item-main
                            +e.item-value !{fact.value}
                            +e.item-desc !{fact.desc}
                        +e.item-text !{fact.text}