mixin feedback(data)
    
    include ui-kit/icon.pug
    include ui-kit/title.pug
    include ui-kit/input.pug
    include ui-kit/button.pug
    include ui-kit/text-block.pug

    +b.feedback(class!=attributes.class, id!=attributes.id)
        .b-container 
            +e.inner
                +e.top-line.-container
                    +title('h3', 'Напишите нам').--feedback
                    +e('p').description Заполните поля формы обратной связи, и мы с радостью ответим на ваши вопросы и предложения.
                +e.form-wrapper
                    +e('form').form.js-form-validate(action="/json/form.json" name="contacts").-container
                        +input({
                            id: 'feed-name',
                            type: 'text',
                            required: true,
                            name: 'name',
                            content: 'Ваше имя'
                        })(required)
                        +input({
                            id: 'feed-tel',
                            type: 'tel',
                            name: 'phone',
                            required: true,
                            content: 'Телефон'
                        })(required)
                        +input({
                            textarea: true,
                            name: 'message',
                            id: 'feed-message',
                            content: 'Сообщение'
                        })
                        +text-block()
                            p Нажимая на&nbsp;кнопку &laquo;Отправить&raquo;, вы&nbsp;даете согласие на&nbsp;обработку персональных данных.
                        +button('отправить', false)(data-popup='popup-send', type="submit").--submit.-js-check-form.-js-custom-popup
        block


