mixin form()

    include ui-kit/icon.pug
    include ui-kit/text-block.pug
    include ui-kit/title.pug
    include ui-kit/input.pug

    +b('section').form(class!=attributes.class, id!=attributes.id)
        .b-container
            +e.title-block.-container
                +title('h2', 'Приобрести продукцию')
                +e.wrap
                    +text-block()
                        p Хотите получить больше информации и&nbsp;приобрести нашу продукцию? Напишите нам!

                    //- +e.link-wrapper
                    //-     +e('a').link
                    //-         +icon('next')
                    //-         +e Контакты менеджеров

                    //- +e.link-wrapper
                    //-     +e('a').link
                    //-         +icon('next')
                    //-         +e сотрудничество

                    //- +e.link-wrapper
                    //-     +e('a').link
                    //-         +icon('next')
                    //-         +e условия работы

            +e('form').form.js-form-validate(action="/json/form.json", method="get")
                +e.inner.-container
                    +e.column
                        +input({
                            id: 'name',
                            name: 'name',
                            type: 'text',
                            required: true,
                            content: 'Ваше имя'
                        })

                        +input({
                            id: 'email',
                            name: 'email',
                            type: 'email',
                            required: true,
                            content: 'E-mail'
                        })

                    +e.column
                        +input({
                            id: 'company',
                            name: 'company',
                            type: 'text',
                            required: true,
                            content: 'Компания / Должность'
                        })

                        +input({
                            id: 'feed-tel',
                            type: 'tel',
                            name: 'tel',
                            required: true,
                            content: 'Телефон'
                        })

                    +input({
                        textarea: true,
                        id: 'textarea',
                        name: 'message',
                        content: 'Сообщение'
                    })

                    +e.footer
                        +input({
                            id: 'file',
                            type: 'file',
                            name: 'file',
                            content: '+ ПРИКРЕПИТЬ ФАЙЛ'
                        })(multiple).--file

                        +text-block()
                            p Нажимая на&nbsp;кнопку &laquo;Отправить&raquo;, вы&nbsp;подтверждаете, что принимаете условия Политики конфиденциальности и&nbsp;даете согласие на&nbsp;обработку своих персональных данных

                        +input({
                            id: 'submit',
                            type: 'submit'
                        })(value='отправить', data-popup='popup-send').--submit.-js-check-form.-js-custom-popup