mixin head-block()

    +b('section').head-block.js-full
        +e('img').bg.js-image-wrapper(src='images/content/nuts_news.jpg')
        .b-container.b-container--narrow
            +e.inner
                include ui-kit/breadcrumbs.pug
                +breadcrumbs('Главная', 'Блог', 'Выставки', 'Продэкспо-2017').--light
                include ui-kit/title.pug
                +title('h1', '«Продэкспо-2017» — итог работы и взгляд в будущее')
                +e.desc
                    +e.source Источник:
                    +e('a').link(src='#') Ссылка
                    +e('time').time 20 августа 2020
                +e.lead 
                    span Из какого ореха делают клей? Кто украл орешки у королевы Елизаветы? Все знают, что орехи — это полезно. Но есть несколько фактов, которые могут удивить.
                    span О них и поговорим сегодня.
            +e.arrow
                include ui-kit/icon.pug
                +icon('next')
                span Листайте вниз