mixin head-block-slider()

    include ui-kit/title.pug
    include ui-kit/text-block.pug
    include ui-kit/icon.pug
    include ui-kit/button.pug

    +b('section').head-block-slider(class!=attributes.class, id!=attributes.id)
        +e.slider-mask
            +e('svg')(viewBox='0 0 964 1083' overflow='hidden').svg-mask
                +e('mask')(id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='158' y='175' width='648' height='727')
                    +e('path')(d='M453.977 894.466C462.793 899.489 472.869 902 482.315 902C491.761 902 501.837 899.489 510.023 894.466L777.662 740.654C795.294 730.609 806 712.402 806 692.313V384.687C806 364.598 794.665 346.391 777.662 336.346L510.023 182.534C493.02 172.489 470.98 172.489 453.977 182.534L186.338 336.346C168.706 346.391 158 364.598 158 384.687V692.313C158 712.402 169.335 730.609 186.338 740.654L453.977 894.466Z' fill='white')
                +e('mask')(id='mask1' mask-type='alpha' maskUnits='userSpaceOnUse' x='269' y='302' width='425' height='475')
                    +e('path')(d='M633.286 482.483C484.185 482.483 465.599 589.543 463.534 660.916C489.554 592.004 572.984 558.778 572.984 558.778C572.984 558.778 494.51 609.232 487.489 687.578C634.112 675.272 637.003 555.497 633.286 482.483Z' fill='white')
                    +e('path')(d='M456.1 621.948C423.471 572.725 374.734 558.368 374.734 558.368C374.734 558.368 432.144 597.747 449.904 660.916C329.302 653.532 326.824 547.293 329.715 482.893C442.883 482.893 453.622 560.419 456.1 621.948Z' fill='white')
                    +e('path')(fill-rule='evenodd' clip-rule='evenodd' d='M481.706 777C475.511 777 468.903 775.359 463.12 772.078L287.586 671.581C276.434 665.018 269 653.123 269 639.997V439.003C269 425.877 276.021 413.982 287.586 407.419L463.12 306.922C474.272 300.359 488.728 300.359 499.88 306.922L675.414 407.419C686.566 413.982 694 425.877 694 439.003V639.997C694 653.123 686.979 665.018 675.414 671.581L499.88 772.078C494.51 775.359 487.902 777 481.706 777ZM475.098 327.432L299.564 427.928C295.846 429.979 293.368 434.491 293.368 439.003V639.997C293.368 644.509 295.846 648.611 299.564 651.072L475.098 751.568C478.815 753.619 483.772 753.619 487.902 751.568L663.436 651.072C667.154 649.021 669.632 644.509 669.632 639.997V439.003C669.632 434.491 667.154 430.389 663.436 427.928L487.902 327.432C484.185 324.971 479.228 324.971 475.098 327.432Z' fill='white')
        +e.title-block
            .b-container
                +title('h1', '<span>Грин Лайн</span>Крупный производитель ореховой и&nbsp;фруктовой продукции').-container
        .slick-slider.js-head-slider
            +e.slide.--slide1
                +e.svg-wrapper
                    +e('svg')(viewBox='0 0 964 1083' overflow='hidden').svg
                        +e('path').-hidden-xs(opacity='0.04' d='M482.468 1083C468.416 1083 453.427 1079.26 440.311 1071.78L42.1574 842.645C16.863 827.681 0 800.56 0 770.632V312.368C0 282.44 15.9261 255.319 42.1574 240.355L440.311 11.2228C465.605 -3.74093 498.395 -3.74093 523.689 11.2228L921.843 240.355C947.137 255.319 964 282.44 964 312.368V770.632C964 800.56 948.074 827.681 921.843 842.645L523.689 1071.78C511.51 1079.26 496.521 1083 482.468 1083ZM467.479 57.9844L69.3256 287.117C60.8941 291.793 55.2732 302.08 55.2732 312.368V770.632C55.2732 780.92 60.8941 790.272 69.3256 795.883L467.479 1025.02C475.911 1029.69 487.152 1029.69 496.521 1025.02L894.674 795.883C903.106 791.207 908.727 780.92 908.727 770.632V312.368C908.727 302.08 903.106 292.728 894.674 287.117L496.521 57.9844C488.089 52.3731 476.847 52.3731 467.479 57.9844Z' fill='white')
                        +e('g').-hidden-xs(mask='url(#mask0)' opacity='0.36')
                            +e('image')(xlink:href='images/inhtml/slider/slide1.jpg' width='100%' height='100%' preserveAspectRatio='xMidYMid slice' overflow='hidden').image
                        +e('g').-opacity-xs(mask='url(#mask1)')
                            +e('image')(xlink:href='images/inhtml/slider/slide1.jpg' width='100%' height='100%' preserveAspectRatio='xMidYMid slice' overflow='hidden')
                        
                +e.inner
                    .b-container
                        +e.box.--logo.-container
                            +e('a').link-logo(href='javascript:void(0);')
                                +e('img').img-logo(src='../images/content/logo-sn.svg')
                            +e('a').link-logo(href='javascript:void(0);')
                                +e('img').img-logo(src='../images/content/logo-sn.svg')
                            +e('a').link-logo(href='javascript:void(0);')
                                +e('img').img-logo(src='../images/content/logo-sn.svg')
            +e.slide.--slide2
                +e.svg-wrapper
                    +e('svg')(viewBox='0 0 964 1083' overflow='hidden').svg
                        +e('path').-hidden-xs(opacity='0.04' d='M482.468 1083C468.416 1083 453.427 1079.26 440.311 1071.78L42.1574 842.645C16.863 827.681 0 800.56 0 770.632V312.368C0 282.44 15.9261 255.319 42.1574 240.355L440.311 11.2228C465.605 -3.74093 498.395 -3.74093 523.689 11.2228L921.843 240.355C947.137 255.319 964 282.44 964 312.368V770.632C964 800.56 948.074 827.681 921.843 842.645L523.689 1071.78C511.51 1079.26 496.521 1083 482.468 1083ZM467.479 57.9844L69.3256 287.117C60.8941 291.793 55.2732 302.08 55.2732 312.368V770.632C55.2732 780.92 60.8941 790.272 69.3256 795.883L467.479 1025.02C475.911 1029.69 487.152 1029.69 496.521 1025.02L894.674 795.883C903.106 791.207 908.727 780.92 908.727 770.632V312.368C908.727 302.08 903.106 292.728 894.674 287.117L496.521 57.9844C488.089 52.3731 476.847 52.3731 467.479 57.9844Z' fill='white')
                        +e('g').-hidden-xs(mask='url(#mask0)' opacity='0.64')
                            +e('image')(xlink:href='images/inhtml/slider/slide2.jpg' width='100%' height='100%' preserveAspectRatio='xMidYMid slice' overflow='hidden').image
                        +e('g').-opacity-xs(mask='url(#mask1)')
                            +e('image')(xlink:href='images/inhtml/slider/slide2.jpg' width='100%' height='100%' preserveAspectRatio='xMidYMid slice' overflow='hidden')
                        
                //- +e.inner
                //-     .b-container
                //-         +text-block()
                //-             p Обрабатываем<br>40&nbsp;000&nbsp;кг сырья ежедневно
                //-             +icon('tech')

            +e.slide.--slide3
                +e.svg-wrapper
                    +e('svg')(viewBox='0 0 964 1083' overflow='hidden').svg
                        +e('path').-hidden-xs(opacity='0.04' d='M482.468 1083C468.416 1083 453.427 1079.26 440.311 1071.78L42.1574 842.645C16.863 827.681 0 800.56 0 770.632V312.368C0 282.44 15.9261 255.319 42.1574 240.355L440.311 11.2228C465.605 -3.74093 498.395 -3.74093 523.689 11.2228L921.843 240.355C947.137 255.319 964 282.44 964 312.368V770.632C964 800.56 948.074 827.681 921.843 842.645L523.689 1071.78C511.51 1079.26 496.521 1083 482.468 1083ZM467.479 57.9844L69.3256 287.117C60.8941 291.793 55.2732 302.08 55.2732 312.368V770.632C55.2732 780.92 60.8941 790.272 69.3256 795.883L467.479 1025.02C475.911 1029.69 487.152 1029.69 496.521 1025.02L894.674 795.883C903.106 791.207 908.727 780.92 908.727 770.632V312.368C908.727 302.08 903.106 292.728 894.674 287.117L496.521 57.9844C488.089 52.3731 476.847 52.3731 467.479 57.9844Z' fill='white')
                        +e('g').-hidden-xs(mask='url(#mask0)' opacity='0.64')
                            +e('image')(xlink:href='images/inhtml/slider/slide3.jpg' width='100%' height='100%' preserveAspectRatio='xMidYMid slice' overflow='hidden').image
                        +e('g').-opacity-xs(mask='url(#mask1)')
                            +e('image')(xlink:href='images/inhtml/slider/slide3.jpg' width='100%' height='100%' preserveAspectRatio='xMidYMid slice' overflow='hidden')
                        
                //- +e.inner
                //-     .b-container
                //-         +text-block()
                //-             p Обрабатываем<br>100&nbsp;000&nbsp;кг сырья ежедневно
                //-             +icon('tech')
            +e.slide.--slide4
                +e.svg-wrapper
                    +e('svg')(viewBox='0 0 964 1083' overflow='hidden').svg
                        +e('path').-hidden-xs(opacity='0.04' d='M482.468 1083C468.416 1083 453.427 1079.26 440.311 1071.78L42.1574 842.645C16.863 827.681 0 800.56 0 770.632V312.368C0 282.44 15.9261 255.319 42.1574 240.355L440.311 11.2228C465.605 -3.74093 498.395 -3.74093 523.689 11.2228L921.843 240.355C947.137 255.319 964 282.44 964 312.368V770.632C964 800.56 948.074 827.681 921.843 842.645L523.689 1071.78C511.51 1079.26 496.521 1083 482.468 1083ZM467.479 57.9844L69.3256 287.117C60.8941 291.793 55.2732 302.08 55.2732 312.368V770.632C55.2732 780.92 60.8941 790.272 69.3256 795.883L467.479 1025.02C475.911 1029.69 487.152 1029.69 496.521 1025.02L894.674 795.883C903.106 791.207 908.727 780.92 908.727 770.632V312.368C908.727 302.08 903.106 292.728 894.674 287.117L496.521 57.9844C488.089 52.3731 476.847 52.3731 467.479 57.9844Z' fill='white')
                        +e('g').-hidden-xs(mask='url(#mask0)' opacity='0.64')
                            +e('image')(xlink:href='images/inhtml/slider/slide4.jpg' width='100%' height='100%' preserveAspectRatio='xMidYMid slice' overflow='hidden').image
                        +e('g').-opacity-xs(mask='url(#mask1)')
                            +e('image')(xlink:href='images/inhtml/slider/slide4.jpg' width='100%' height='100%' preserveAspectRatio='xMidYMid slice' overflow='hidden')
                        
                //- +e.inner
                //-     .b-container
                //-         +text-block()
                //-             p Обрабатываем<br>999&nbsp;999&nbsp;кг сырья ежедневно
                //-             +icon('tech')


        +e.pagination
            .b-container
                +e.pagination-inner.-container
                    +e.num-active-slide.-js-number-active-slide 01 
                    +e.num-total-slides / 04

        +e.arrows
            .b-container
                +e.arrows-inner.-container
                    +button('').--prev.-js-prev
                    +button('').--next.-js-next