include ui-kit/title.pug
include ui-kit/text-block.pug
include ui-kit/test.pug

mixin lead()

    +b('section').lead(class!=attributes.class, id!=attributes.id)
        //- +e('svg')(width='0' height='0')
        //-     +e('defs')
        //-         +e('clipPath')#hexagon
        //-             +e('path')(d='M104.048 212.342L104.054 212.338L183.355 166.85L183.356 166.849C188.428 163.966 191.5 158.746 191.5 152.988V62.0121C191.5 56.2634 188.249 51.0367 183.352 48.148C183.351 48.1475 183.35 48.147 183.35 48.1466L104.054 2.66169L104.049 2.65871C99.1681 -0.21956 92.8319 -0.21956 87.9508 2.65868L87.9456 2.66172L8.64528 48.1496L8.64364 48.1505C3.57242 51.034 0.5 56.2541 0.5 62.0121V152.988C0.5 158.736 3.75062 163.963 8.64743 166.852C8.64844 166.852 8.64945 166.853 8.65047 166.853L87.9439 212.337L104.048 212.342ZM104.048 212.342L104.042 212.346M104.048 212.342L104.042 212.346M104.042 212.346C101.704 213.777 98.8109 214.5 96.0933 214.5C93.3795 214.5 90.4802 213.779 87.9456 212.338L104.042 212.346Z' stroke='#D4DAE1')
        .b-container
            +e.inner.-container
                +title('h1', 'Поставщикам')
                +e.wrap
                    +text-block().--lead
                        p Грин Лайн постоянно расширяет географию сотрудничества. Если ваша компания производит орехи и&nbsp;сухофрукты, мы&nbsp;с&nbsp;радостью рассмотрим ваше предложение.
                    //- +e.fact
                    //-     +e('img').img(src='images/content/deal.jpg')
                        //- +e('p').desc В&nbsp;прошлом году мы&nbsp;в&nbsp;2,5 раза увеличили объем перерабатываемой продукции.


mixin lead-about()
    +b('section').lead.--min(id!=attributes.id)
        .b-container
            +title('h1', 'Компания &laquo;Грин Лайн&raquo;').-container

            +text-block().--lead.-container
                p Восемь лет усердной работы вознаградили Грин Лайн опытом и&nbsp;глубокой экспертизой. Мы&nbsp;знаем, какую информацию нашим партнерам было&nbsp;бы интересно получить в&nbsp;первую очередь.
                p Позвольте обратиться к&nbsp;вам и&nbsp;рассказать главное.

        +e.inner-decor
            .b-container

                +text-block().--about.-container
                    +title('h4', 'Основание компании')
                    p Много лет назад основатель Грин Лайн побывал в&nbsp;Иране, где попробовал местную фисташку. Вкус и&nbsp;качество ореха стали удивительным открытием: они разительно отличались от&nbsp;тех, что мы&nbsp;привыкли видеть на&nbsp;полках магазинов в&nbsp;России. Было решено установить сотрудничество и&nbsp;основать компанию, которая&nbsp;бы давала людям этот невероятный вкус из&nbsp;первых рук.

        .b-container

            +text-block().--about.-container
                +title('h4', 'Свой путь')
                p Активная рационализация процессов, системный мониторинг и&nbsp;анализ рынка создают условия для устойчивого развития компании. В&nbsp;Грин Лайн нет случайных людей, участники нашей большой команды заинтересованы в&nbsp;качестве продукта, благополучии компании, а&nbsp;значит и&nbsp;в&nbsp;своем благополучии.

            +text-block().--about.--short-m.-container
                +title('h4', 'Стандарты')
                p Грин Лайн опирается на&nbsp;современные нормы производства и&nbsp;стандарты качества. Одно из&nbsp;главных наших обещаний&nbsp;&mdash; полное соответствие этим нормам и&nbsp;стандартам.

            +text-block().--about.--short-m.-container
                +title('h4', 'Продукты')
                p Грин Лайн поставляет на&nbsp;рынок только актуальную продукцию, разнообразную по&nbsp;вкусам и&nbsp;упаковке, и&nbsp;неизменную по&nbsp;качеству. Поэтому наша продукция гарантированно востребована.

            +text-block().--about.--short-m.-container
                +title('h4', 'Контроль качества')
                p Качество и&nbsp;безопасность продукции многократно подтверждается от&nbsp;плантации до&nbsp;отгрузки покупателю. Обновление и&nbsp;техническое обслуживание оборудования, допуск только специального квалифицированного персонала гарантируют качественные процессы и&nbsp;наилучшие результаты. Строгое соблюдение гигиены и&nbsp;асептики на&nbsp;всех этапах фасовки&nbsp;&mdash; непреложная норма наших рабочих процессов. Наша упаковка делает продукцию сохранной от&nbsp;воздействия внешних факторов.

mixin lead-buyer()
    +b('section').lead.--buyer(id!=attributes.id)
        .b-container
            +title('h1', 'Покупателям').-container

            +text-block().--lead.-container
                p Мы&nbsp;рады, что вас заинтересовало сотрудничество.
                p Наши приоритеты: создание прибыли и&nbsp;новых зон роста для наших партнеров, а&nbsp;также удобство и&nbsp;прозрачность бизнес-процессов.


        +e.inner-decor.--buyer
            .b-container
                +text-block().--about.-container
                    +b('ol').list-buyer
                        +e.item Мы&nbsp;самостоятельно отбираем и&nbsp;импортируем сортовое сырье из&nbsp;регионов произрастания.
                        +e.item Производственный контур осуществляет переработку любой сложности и&nbsp;фасовку во&nbsp;все популярные типы упаковки.
                        +e.item Выпускаемая продукция полностью безопасна благодаря точному исполнению технологических процессов и&nbsp;соблюдению всех санитарных норм
                        +e.item Логистический комплекс обеспечивает бесперебойные поставки в&nbsp;любое комфортное для заказчика время.
                        +e.item Вся продукция проходит полную сертификацию.

        +test()