include ui-kit/title.pug
include ui-kit/card.pug

mixin learn-more(title, cards)

    +b.learn-more(class!=attributes.class, id!=attributes.id)
        .b-container
            +title('h2', title ? title : 'Узнать подробнее')
            +e.inner
                each card in cards
                    +card(card.title, card.date)