mixin managers()
    
    include ui-kit/title.pug

    +b('section').managers(class!=attributes.class, id!=attributes.id)
        .b-container
            +title('h2', 'Контакты менеджеров')
            +e.inner

                +e.card
                    +e.image-wrapper
                        +e('img').img(src='images/content/Antonina.jpg' alt='Антонина Ивановна Митрич-Петрановская')
                    +title('h4', 'Антонина Ивановна Митрич&#8209;Петрановская')
                    +e.position Ведущий менеджер по&nbsp;закупкам орехов
                    +e.contacts
                        +e('a').tel(href='tel:+74952121102') +7 (495) 21-21-102
                        +e('a').mail(href='mailto:petranovskaya@greenline77.ru') petranovskaya@greenline77.ru
                        +e('address').address РФ, 141051, МО, Мытищинский муниципальный район, с/п Федоскинское, д. Капустино, ш. Дмитровское, стр. N&nbsp;36.

                +e.card
                    +e.image-wrapper
                        +e('img').img(src='images/content/Ivan.jpg' alt='Иван Михайлович Калмыков')
                    +title('h4', 'Иван Михайлович Калмыков')
                    +e.position Ведущий менеджер по&nbsp;закупкам фруктов и&nbsp;сухофруктов
                    +e.contacts
                        +e('a').tel(href='tel:+74952121102') +7 (495) 21-21-102
                        +e('a').mail(href='mailto:petranovskaya@greenline77.ru') petranovskaya@greenline77.ru
                        +e('address').address РФ, 141051, МО, Мытищинский муниципальный район, с/п Федоскинское, д. Капустино, ш. Дмитровское, стр. N&nbsp;36.
                                
