mixin manufacture(items)

    include ui-kit/title.pug
    include ui-kit/link.pug
    include ui-kit/text-block.pug
    include ui-kit/icon.pug

    +b('section').manufacture(class!=attributes.class, id!=attributes.id)
        +e.head
            .b-container
                +e.head-inner
                    +title('h2', 'Производство')
                    +e.description
                        +text-block()
                            p Современное оснащение и&nbsp;квалифицированные сотрудники поддерживают высокое качеcтво продукции.
                        +e('a').link(href='javascript:void(0);')
                            +icon('next')
                            span УЗНАТЬ ПОДРОБНЕЕ
                    +e.button-wrapper
                        +e('a').button(href='javascript:void(0);')
                            +e('img').button-img(src='images/inhtml/play.svg' alt='')
                            span СМОТРЕТЬ ВИДЕО
        +e.facts
            .b-container
                +e.facts-inner
                    each item in items
                        +e.item
                            +e.item-main
                                +e.item-value !{item.value}
                                +e.item-desc !{item.desc}
                            +e.item-text !{item.text}