mixin more-slider(cards)

    include ui-kit/product-card.pug

    +b.more-slider.-js-more-slider
        each card in cards
            +product-card(card)

    +e.arrows
        +e.arrows-inner
            include ui-kit/button.pug
            +button('').--prev.-js-prev
            include ui-kit/button.pug
            +button('').--next.-js-next