mixin production(items)

    include ui-kit/title.pug
    include ui-kit/text-block.pug
    include ui-kit/icon.pug

    - var sumItems = items.length

    +b('section').production(class!=attributes.class, id!=attributes.id)
        +e('svg')(width='0' height='0')
            +e('defs')
                +e('clipPath')#hexagon-mobile
                    +e('path')(d='M104.048 212.342L104.054 212.338L183.355 166.85L183.356 166.849C188.428 163.966 191.5 158.746 191.5 152.988V62.0121C191.5 56.2634 188.249 51.0367 183.352 48.148C183.351 48.1475 183.35 48.147 183.35 48.1466L104.054 2.66169L104.049 2.65871C99.1681 -0.21956 92.8319 -0.21956 87.9508 2.65868L87.9456 2.66172L8.64528 48.1496L8.64364 48.1505C3.57242 51.034 0.5 56.2541 0.5 62.0121V152.988C0.5 158.736 3.75062 163.963 8.64743 166.852C8.64844 166.852 8.64945 166.853 8.65047 166.853L87.9439 212.337L104.048 212.342ZM104.048 212.342L104.042 212.346M104.048 212.342L104.042 212.346M104.042 212.346C101.704 213.777 98.8109 214.5 96.0933 214.5C93.3795 214.5 90.4802 213.779 87.9456 212.338L104.042 212.346Z' stroke='#D4DAE1')
                +e('clipPath')#hexagon-tablet
                    +e('path')(d='M133.389 272.706L133.383 272.71L133.377 272.714C130.357 274.567 126.624 275.5 123.12 275.5C119.618 275.5 115.879 274.568 112.609 272.705L11.0123 214.316C11.0115 214.315 11.0106 214.315 11.0097 214.314C4.69585 210.583 0.5 203.829 0.5 196.394V79.6062C0.5 72.1621 4.465 65.4144 11.0055 61.6883L11.0072 61.6874L112.611 3.29364L112.616 3.29059C118.914 -0.430196 127.086 -0.430196 133.384 3.29062L133.389 3.29361L234.988 61.6844C234.988 61.6848 234.989 61.6853 234.99 61.6858C241.304 65.4172 245.5 72.1714 245.5 79.6062V196.394C245.5 203.838 241.535 210.586 234.994 214.312L234.993 214.313L133.389 272.706Z' stroke='#D4DAE1')
                +e('clipPath')#hexagon-desktop
                    +e('path')(d='M141.538 289.53L141.532 289.534L141.526 289.538C138.316 291.508 134.35 292.5 130.627 292.5C126.907 292.5 122.934 291.509 119.46 289.529L11.6684 227.543C11.6676 227.542 11.6668 227.542 11.666 227.541C4.95846 223.575 0.5 216.395 0.5 208.491V84.5095C0.5 76.5954 4.71294 69.4221 11.6616 65.4612L11.6632 65.4602L119.462 3.46974L119.467 3.46669C126.159 -0.488896 134.841 -0.488896 141.533 3.46672L141.538 3.46971L249.332 65.4572C249.332 65.4576 249.333 65.4581 249.334 65.4586C256.042 69.4248 260.5 76.6047 260.5 84.5095V208.491C260.5 216.405 256.287 223.578 249.338 227.539L249.337 227.54L141.538 289.53Z' stroke='#D4DAE1')
        .b-container
            +e.title-block.-container
                +title('h2', 'Продукция')
                +e.wrap
                    +text-block()
                        p Мы поставляем все виды орехов в ритейл, HoReCa и дистрибьютерам.

                    +e.link-wrapper
                        +e('a').link.--catalog(href='javascript:void(0);')
                            +icon('next')
                            +e В&nbsp;онлайн-каталог
                    +e.link-wrapper
                        +e('a').link.--pdf(href='javascript:void(0);')
                            +icon('download')
                            +e СКАЧАТЬ ПРЕЗЕНТАЦИЮ 
                                nobr (pdf, 3Mb)

        +e(class='inner--' + sumItems)
            each item, index in items
                +e('a').item(href='javascript:void(0);')
                    +e.item-inner
                        +e.name
                            +title('h5', item.name)
                            +e.sum !{item.sum}
                        +e('img').img(src=item.image, alt=item.name).js-image-wrapper
