mixin questionnaire()

    include ui-kit/title.pug
    include ui-kit/text-block.pug
    include ui-kit/input.pug
    include ui-kit/checkbox.pug
    include ui-kit/tooltip.pug

    +b('section').questionnaire(class!=attributes.class, id!=attributes.id)
        .b-container
            +title('h2', 'Анкета поставщика').-container
            +text-block().-container
                +e('p').text Пожалуйста, заполните анкету поставщика ниже. В&nbsp;текстовом поле анкеты укажите, с&nbsp;какими контрагентами вы&nbsp;уже работаете и&nbsp;есть&nbsp;ли среди них компании из&nbsp;России.
                +e('p').text 
                    span Обратите внимание: 
                    | цены товара на&nbsp;условиях поставки &laquo;Инкотермс-2010&raquo; должны включать стоимость тары, упаковки и&nbsp;маркировки.
                +e('p').text Также предлагаем указать контактную информацию и&nbsp;приложить имеющиеся сертификаты качества.
                +e('p').text Интересующие нас виды поставок: <br>
                    | EXW&nbsp;&mdash; самовывоз с&nbsp;производства поставщика; <br>
                    | FOB&nbsp;&mdash; забор в&nbsp;порту поставщика; <br>
                    | CIF&nbsp;&mdash; доставка и&nbsp;страховка до&nbsp;порта покупателя; <br>
                    | DAT&nbsp;&mdash; доставка до&nbsp;поста таможенного оформления; <br>
                    | DAP&nbsp;&mdash; доставка до&nbsp;таможенного терминала, таможенная очистка силами покупателя и&nbsp;доставка до&nbsp;склада Покупателя.

                +e('p').text Чтобы оставить заявку, заполните форму ниже.

            +b.form.--questionnaire
                +e('form').form.-js-form-validate(data-event="popup-send" action="/json/form.json")
                    +e.inner.-container
                        +input({
                            id: 'company',
                            type: 'text',
                            content: 'Название компании',
                            required: 'required'
                        })

                        +input({
                            id: 'country',
                            type: 'text',
                            content: 'Ваша страна',
                            required: 'required'
                        })

                        +input({
                            id: 'site',
                            type: 'text',
                            content: 'Ссылка на сайт',
                            required: 'required'
                        })
                            
                        +input({
                            id: 'name',
                            type: 'text',
                            content: 'Имя',
                            required: 'required'
                        })

                        +input({
                            id: 'email',
                            type: 'email',
                            content: 'E-mail',
                            required: 'required'
                        })

                        +input({
                            id: 'direction',
                            type: 'text',
                            content: 'Направление поставок',
                            required: 'required'
                        })

                        .b-input__label.b-input__label--checkbox Выберите виды поставок, которые вы&nbsp;предлагаете
                        +e.checkboxes
                            
                            +checkbox({
                                id: 'EXW',
                                name: 'EXW',
                                title: 'EXW'
                            })
                            +checkbox({
                                id: 'FOB',
                                name: 'FOB',
                                title: 'FOB'
                            })
                            +checkbox({
                                id: 'CIF',
                                name: 'CIF',
                                title: 'CIF'
                            })
                            +checkbox({
                                id: 'DAT',
                                name: 'DAT',
                                title: 'DAT'
                            })
                            +checkbox({
                                id: 'DAP',
                                name: 'DAP',
                                title: 'DAP'
                            })

                            +tooltip('direction-tooltip')
                                +e('p').lead Интересующие нас виды поставок:
                                +e('p').item
                                    +e('span') EXW
                                    |  — самовывоз с производства поставщика;
                                +e('p').item
                                    +e('span') FOB
                                    |  — забор в порту поставщика;
                                +e('p').item
                                    +e('span') CIF
                                    |  — доставка и страховка до порта покупателя;
                                +e('p').item
                                    +e('span') DAT
                                    |  — доставка до поста таможенного оформления;
                                +e('p').item
                                    +e('span') DAP
                                    |  — доставка до таможенного терминала, таможенная очистка силами покупателя и доставка до склада Покупателя.

                        +input({
                            textarea: true,
                            id: 'textarea',
                            content: 'Сообщение',
                            required: 'required'
                        }).--textarea

                        +e.footer

                            +input({
                                id: 'file',
                                type: 'file',
                                content: '+ ПРИКРЕПИТЬ ФАЙЛ'
                            })(multiple).--file

                            +text-block()
                                p Нажимая на&nbsp;кнопку &laquo;Отправить&raquo;, вы&nbsp;подтверждаете, что принимаете условия Политики конфиденциальности и&nbsp;даете согласие на&nbsp;обработку своих персональных данных

                            include ui-kit/button.pug
                            +button('отправить', true).--submit.-js-check-form