mixin requirements()

    include ui-kit/title.pug
    include ui-kit/text-block.pug
    
    +b('section').requirements(class!=attributes.class, id!=attributes.id)
        .b-container
            +e.inner
                +title('h2', 'Требования к&nbsp;поставщикам')
                +text-block()
                    p Если вы&nbsp;хотите стать нашим поставщиком, необходимо соответствовать следующим критериям:
                    +b('ul').list
                        +e.item срок регистрации компании&nbsp;&mdash; не&nbsp;менее 18&nbsp;месяцев;
                        +e.item среднесписочная численность&nbsp;&mdash; не&nbsp;менее 4&nbsp;сотрудников в&nbsp;штате;
                        +e.item отсутствие признаков фирм-однодневок;
                        +e.item отсутствие исполнительных производств и&nbsp;признаков банкротства.