include ui-kit/title.pug
include ui-kit/text-block.pug

mixin stm()

    +b('section').stm
        .b-container
            +e.inner
                +e.title-block.-container
                    +title('h2', 'Продукция, маркированная&nbsp;ТМ заказчика (СТМ)')
                    +e.wrap 
                        +text-block()
                            p Если вы&nbsp;хотите выпускать продукцию под имеющейся у&nbsp;вас торговой маркой, мы&nbsp;готовы разработать и&nbsp;произвести продуктовую линейку под ключ.
                +e.video-box
                    +e.video
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/vjcLnVeGY0Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>