mixin subscribe()

    include ui-kit/title.pug
    include ui-kit/input.pug
    include ui-kit/icon.pug
    include ui-kit/button.pug

    +b.subscribe(class!=attributes.class, id!=attributes.id)
        .b-container
            +e.inner.-container
                +e.title-block
                    +title('h2', 'Подписаться на&nbsp;рассылку')
                    +e.text Получайте новости нашей компании первым!
                +e('form').form.js-form-validate
                    
                    +input({
                        id: 'subscribe',
                        type: 'email',
                        name: 'email',
                        placeholder: 'Контактный e-mail',
                        required: true
                    }).--subscribe.-js-email

                    +button('', true)(type='submit', data-popup='popup-subscribe').--subscribe-submit.-js-check-form.-js-custom-popup
                        +icon('send')
                        +e отправить
                    