include ui-kit/title.pug
include ui-kit/icon.pug
include ui-kit/text-block.pug

mixin values(items)

    +b('section').values(class!=attributes.class, id!=attributes.id)
        .b-container
            +title('h2', 'О компании').-container
            +e.inner.-container
                +text-block()
                    p Грин Лайн считает: чтобы бизнес работал, он должен эволюционировать. Главное — видеть четкую цель и опираться на прочные убеждения.
                    p Поэтому мы выделили основные принципы компании, воплотив их в шестиугольном фирменном символе:
                    +b('ul').list
                        each item, index in items
                            +e.item.-js-val-item(data-content='sector-' + index) !{item.text}
                    +e.link-wrapper
                        +e('a').link
                            +icon('next')
                            +e Подробнее о компании Green Line
                +e('ul').list
                    each item, index in items
                        +e.item
                            +e.link.-js-val-link(href='javascript:void(0);', data-id='sector-' + index)
                                +e.img
                                    +e('svg').svg(viewBox='0 0 163 276' fill='#F6F8FA')
                                        +e('path')(d='M162.3 91.8999L4.40001 0.699951C1.50001 6.49995 0 12.8999 0 19.5999V257C0 263.5 1.6 269.7 4.3 275.4L162.3 184.2V91.8999Z')
                                +e.icon
                                    +icon(item.icon)

mixin values2(items)

    +b('section').values(class!=attributes.class, id!=attributes.id)
        .b-container
            +title('h2', 'Создание собственной торговой марки (СТМ)')
            +e.inner
                +text-block()
                    p Производство продукции маркированной вашими ТМ:
                    +b('ul').list
                        each item in items
                            +e.item !{item}
                +e.list.--img
                    +e('svg')(viewBox='0 0 192 215' overflow='hidden')
                        +e('mask')(id='mask-values' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='192' height='215')
                            +e('path')(d='M104.048 212.342L104.054 212.338L183.355 166.85L183.356 166.849C188.428 163.966 191.5 158.746 191.5 152.988V62.0121C191.5 56.2634 188.249 51.0367 183.352 48.148C183.351 48.1475 183.35 48.147 183.35 48.1466L104.054 2.66169L104.049 2.65871C99.1681 -0.21956 92.8319 -0.21956 87.9508 2.65868L87.9456 2.66172L8.64528 48.1496L8.64364 48.1505C3.57242 51.034 0.5 56.2541 0.5 62.0121V152.988C0.5 158.736 3.75062 163.963 8.64743 166.852C8.64844 166.852 8.64945 166.853 8.65047 166.853L87.9439 212.337L104.048 212.342ZM104.048 212.342L104.042 212.346M104.048 212.342L104.042 212.346M104.042 212.346C101.704 213.777 98.8109 214.5 96.0933 214.5C93.3795 214.5 90.4802 213.779 87.9456 212.338L104.042 212.346Z' stroke='#D4DAE1')
                        +e('g')(mask='url(#mask-values)')
                            +e('image')(xlink:href='images/inhtml/slider/slide1.jpg' width='100%' height='100%' preserveAspectRatio='xMidYMid slice' overflow='hidden')

mixin values3(items)

    +b('section').values.--buyer(class!=attributes.class, id!=attributes.id)
        .b-container
            +e.inner.-container
                +text-block()
                    +e('p').medium Если у&nbsp;вас нет торговой марки, но&nbsp;вы&nbsp;хотели&nbsp;бы иметь собственный бренд, мы&nbsp;предложим вам полный комплекс услуг по&nbsp;разработке&nbsp;ТМ:
                    +b('ul').list.--ghost
                        each item in items
                            +e.item !{item}
                +e.before-after.-js-before-after
                    +e('img').img-before-after.-twentytwenty-before(src='images/inhtml/before.png')
                    +e('img').img-before-after.-twentytwenty-after(src='images/inhtml/after.png')