mixin work-with-us(items)

    include ui-kit/title.pug
    include ui-kit/button.pug

    +b('section').work-with-us(class!=attributes.class, id!=attributes.id)
        .b-container
            +title('h2', 'С&nbsp;нами работают').-container
            +e.slider.-slick-slider.-js-wwu-slider.-container
                each item in items
                    +e.slide
                        +e('a').link(href=item.link)
                            +e('img').img(src=item.image alt='').js-image-wrapper


            +e.arrows
                .b-container
                    +e.arrows-inner
                        +button('').--prev.-js-prev
                        +button('').--next.-js-next