/* 320 + */
.b-icon {
	line-height: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.icon {

	&-tech {
		font-size: 42px;
	}

	&-download {
		font-size: 24px;
		margin-right: 12px;
		width: 24px;
		height: 24px;
		position: relative;
		overflow: hidden;

		// .icon('download2', 'after');

		// &:after {
		// 	position: absolute;
		// 	left: 0;
		// 	bottom: -2px;
		// }
		&:after { 
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 14px;
			height: 1.2px;
			background-color: #4a4c50;
		}
	}

	&-next {
		font-size: 9px;
		margin-right: 12px;
		width: 24px;
		height: 24px;
	}

	&-send {
		font-size: 22px;
		margin-right: 14px;
	}

	&-menu-arr {
		font-size: 14px;
		width: 14px;
		margin-left: 2px;
	}

	&-mobile-arr {
		font-size: 26px;
		width: 26px;
		margin-left: 8px;
	}

	&-account {
		font-size: 21px;
		width: 21px;
		height: 23px;
		margin-right: 8px;
	}

    &-send-popup {
        font-size: 93px;
        color: @cl-fruit-salad;
        margin: 0 0 21px;

		.no-object-fit & {
			line-height: normal;
		}
    }

    &-sorting,
    &-filter {
    	width: 20px;
    	height: 20px;
    }

    &-sorting {
    	font-size: 6px;
    	margin-left: 4px;
    }

    &-filter {
    	font-size: 16px;
    	margin-right: 10px;
    }
}