.b-acc {
	position: relative;

	&:before {
		// content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 1px;
		opacity: .7;
		background: @cl-hawkes-blue;
	}

	&__item {
		position: relative;
	}
	
	&__header {
		.roboto-medium();
		font-size: 18px;
		line-height: 28px;
		color: @cl-tuna;
		padding: 28px 0;
		display: flex;
		cursor: pointer;
		transition: color .3s;

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			opacity: .7;
			background-color: @cl-hawkes-blue;
			transition: background-color .3s;
		}

		.b-icon {
			margin: 0 0 0 auto;
			font-size: 26px;

			&:before {
				transition: transform .5s;
			}
		}

		&.is-expand {

			.b-icon:before {
				transform: rotate(180deg);
			}
		}

		&.is-expand,
		.no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-fruit-salad;

			&:before {
				background-color: @cl-fruit-salad;
			}
		}
	}

	&__content {
		padding: 0 0 28px;
		display: none;
	}

	&__name,
    &__value {
    	display: block;
    	font-size: 16px;
    	line-height: 24px;
    }

    &__name {
    	color: @cl-raven;
		.roboto-light();
    }

    &__value {
    	color: @cl-tuna;
    	.roboto-medium();
    }

    &__row {

    	& + & {
    		margin-top: 8px;
    	}
    }
}