.b-acc {

	&:before {
		height: 2px;
	}

	&__header {
		font-size: 24px;
		line-height: 32px;
	}

	&__content {
		padding: 0 0 34px;
	}

	&__name,
	&__value {
		font-size: 18px;
		line-height: 30px;
	}

	&__name {
		width: 250px;
		margin-right: 14px;
		flex-shrink: 0;
	}

	&__row {
		display: flex;
	}
}