.b-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 10;
	pointer-events: none;
	padding-top: 16px;
	transition: all .5s ease-out;

	&__panel {
		// display: none;
		z-index: 1;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		// position: relative;
	}

	&__account {
		display: none;
		pointer-events: auto;
		align-items: center;
		transition: color .3s ease-out;
		z-index: 1;
	}

	.light &,
	&.header-color {
		background: @cl-white;
		pointer-events: auto;
	}

	&.header-color {
		padding: 16px 0;
	}

	&.hover-menu {
		pointer-events: none;
	}
}