.b-header {
	padding: 24px 0;

	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 50%;
	// 	transform: translateX(-50%);
	// 	width: 100%;
	// 	height: 1px;
	// 	background-color: @cl-hawkes-blue;
	// 	opacity: 0;
	// 	transition: opacity .3s ease-out;
	// 	z-index: 1;
	// 	// border-bottom: 1px solid @cl-hawkes-blue;
	// }

	&__panel {
		display: flex;
		align-items: center;
		margin: 0;
	}

	&__account {
		display: flex;
		margin-left: 72px;
		.roboto-medium();
		color: @cl-white;
		font-size: 13px;
		line-height: 13px;
		text-transform: uppercase;
	}

	.light &,
	&.hover-menu &,
	&.header-color & {

		&__account {
			color: @cl-tuna;
		}
	}
}