.b-catalog {
	padding: 0 0 150px;
	
	&__button {
		font-size: 13px;
		line-height: 15px;
		letter-spacing: 0.01em;

		&--border {
			padding: 18px 68px 18px 59px;
			font-size: 16px;
			line-height: 20px;
			letter-spacing: normal;

			.b-icon {
				font-size: 22px;
			}
		}
	}

	&__sorting {
		width: 267px;
	}

	&__inner {
		justify-content: flex-start;
		margin: 18px 0 0;
	}

	&__more {
		margin-top: 70px;
	}
}