.b-catalog {
	padding: 0 0 120px;
	
	&__button,
	&__sorting {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.roboto-medium();
		text-transform: uppercase;
		font-size: 12px;
		line-height: 21px;
		color: @cl-tuna;
		transition: color .3s ease;
		cursor: pointer;
		position: relative;

		.no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-raven;
		}

		&--border {
			border-radius: 2px;
			border: 1px solid @cl-hawkes-blue;
			padding: 7px 31px;
			transition: color .3s ease, border-color .3s ease;

			&:before {
	            content: '';
	            position: absolute;
	            z-index: -1;
	            top: -1px;
	            left: -1px;
	            width: 0;
	            height: ~'calc(100% + 2px)';
	            border-radius: 4px;
	            background: @cl-hawkes-blue;
	            transition: width .3s ease;
			}

			.no-touchevents &:hover,
			.touchevents &:active {
				color: @cl-white;
				border-color: @cl-hawkes-blue;

				&:before {
					width: ~'calc(100% + 2px)';
				}
			}

			.b-icon {
				margin-right: 8px;
			}
		}
	}

	&__sort {
		position: relative;
	}

	&__sort-link {
		display: block;
		font-size: 13px;
		line-height: 15px;
		color: @cl-tuna;
		transition: color .3s ease;
		cursor: pointer;
		text-align: center;
		width: auto;

		& + & {
			margin-top: 14px;
		}

		&.active {
			.roboto-medium();
			color: @cl-fruit-salad;
			pointer-events: none;
		}
	}

	&__wrap {
		display: none;
		position: absolute;
		width: 118px;
		top: 100%;
		left: 0;	
		padding: 23px 18px;
		background: @cl-white;
		box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
		border-radius: 10px;
		z-index: 2;
	}

	&__wrap-box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		padding: 4px 0;
		margin: 18px 0 0;
		width: 100%;
		justify-content: center;
	}

	&__more {
		margin-top: 32px;
		width: 100%;
	    display: flex;
	    justify-content: center;
	}

	&__input {
		border: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
}