.b-text-block {
	.roboto-regular();
	font-size: 16px;
	line-height: 24px;

	&__link-wrapper {
        margin-top: 22px;
    }

    &__medium {
    	.roboto-medium();
    }

    &__link {
        text-transform: uppercase;
		.roboto-medium();
		font-size: 13px;
		line-height: 13px;
		letter-spacing: 0.01em;
		color: @cl-tuna;
		display: inline-flex;
		align-items: center;

		.b-icon,
		span {
			transform: none;
		}

		.no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-fruit-salad;

			.b-icon:before {
				animation: online-arrow .7s linear 1;
			}
		}
    }

	.b-head-block-slider & {
		color: @cl-white;
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: flex-start;
		max-width: 300px;
		.roboto-medium();

		p {
			margin: 0 0 0 26px;
		}
	}

	.b-blog__title-block &,
	.b-form__title-block &,
	.b-production__title-block & {
		color: @cl-raven;

		p {
			margin: 14px 0 21px;
		}
	}

	.b-blog__title-block & p {
		margin-bottom: 27px;
	}

	.b-manufacture & {
		color: @cl-alice-blue;

		p {
			margin: 0;
		}
	}

	.b-feedback__form &,
	.b-form__inner & {
		font-size: 14px;
		line-height: 18px;
		color: @cl-raven;
		order: 1;

		p {
			margin: 10px 0 29px;
		}
	}

	.b-form__inner & {
		line-height: 20px;

		p {
			margin: 10px 0 18px;
		}
	}

	.b-geography &,
	.b-lead & {
		margin: 36px 0 0;
		color: @cl-raven;

		p {
			margin: 0 0 18px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		a {
			color: @cl-fruit-salad;
			text-decoration: underline;
			.roboto-medium();
		}

		span {
			.roboto-medium();
		}

		&--lead {
			// margin: 18px 0 0;
			.roboto-medium();

			p {
				margin-bottom: 8px;
			}
		}

		&--about {

			p {
				margin-top: 14px;
			} 
		}
	}

	.b-directions__slide & {
		font-size: 14px;
		line-height: 20px;
		color: @cl-raven;

		p {
			margin: 0;
		}
	}

	.b-requirements & {
		color: @cl-raven;

		p {
			margin: 30px 0 18px;
		}
	}

	.b-values & {
		color: @cl-raven;

		p {
			margin: 14px 0;
		}
	}

	.b-questionnaire & {
		color: @cl-raven;

		&__text {
			margin: 0 0 14px;

			&:first-child {
				margin-top: 30px;
			}

			&:last-child {
				margin-bottom: 48px;
			}

			span {
				.roboto-medium();
			}
		}
	}

	.b-filter-head & {
		font-size: 12px;
		line-height: 21px;
	}
}