.b-text-block {

	.b-form__inner & {
		order: 2;
		width: ~'calc(100% - 672px)';

		p {
			margin: 0;
		}
	}

	.b-head-block-slider & {

		p {
    		margin: 0 0 0 44px;
    	}
	}

	.b-values--buyer & p:first-child {
		margin-top: 8px;
	}
}