.b-text-block {
	font-size: 24px;
	line-height: 34px;

	&__link {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: normal;
	}

	.b-production__title-block & {
		font-size: 18px;
		line-height: 30px;
		.roboto-light();

		p {
			margin: 14px 0 30px;
		}
	}

	.b-blog__title-block &,
	.b-form__title-block &,
	.b-manufacture & {
		.roboto-light();
		font-size: 18px;
		line-height: 30px;
	}

	.b-form__title-block & {

		p {
			margin: 22px 0 31px;
		}
	}

	.b-blog__title-block &,
	.b-blog--cooperation & {

		p {
			margin: 18px 0 31px;
		}
	}

	.b-feedback__form &,
	.b-form__inner & {		
		font-size: 14px;
		line-height: 20px;

		p {
			margin: 2px 0 30px;
		}
	}

	.b-feedback__form & {

		p {
			margin-bottom: 40px;
		}
	}

	.b-lead & {
		margin-top: 52px;
		font-size: 18px;
		line-height: 30px;
		.roboto-light();

		p {
			margin: 0 0 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&--lead {
			margin-top: 48px;
			.roboto-regular();
			font-size: 24px;
			line-height: 34px;

			p {
				margin-bottom: 8px;
			}
		}

		&--about {

			p {
				margin-top: 18px;
			} 
		}
	}

	.b-requirements & {
		font-size: 18px;
		line-height: 30px;
		.roboto-light();

		p {
			margin: 43px 0 15px;
		}
	}

	.b-geography &,
	.b-values & {
		font-size: 18px;
		line-height: 30px;
		.roboto-light();
	}

	.b-geography & {
		margin-top: 40px;
	}

	.b-questionnaire & {

		&__text {
			font-size: 18px;
			line-height: 30px;
			.roboto-light();


			&:first-child {
				margin-top: 14px;
			}

			&:last-child {
				margin-bottom: 60px;
			}
		}
	}

	.b-stm & {
		font-size: 18px;
		line-height: 30px;
		.roboto-light();
		margin: 39px auto;
	}

	.b-directions__slide & {
		font-size: 16px;
		line-height: 24px;
	}

	.b-filter-head & {
		font-size: 16px;
		line-height: 22px;
	}
}