.b-list {

	&__item {
		padding-left: 40px;
	}
}

.b-list-buyer {

	&__item {
		margin-bottom: 60px;
		padding-left: 51px;

		&:before {
			top: -20px;
    		left: 14px;
		}

		&:after {
			height: 44px;
			top: 6px;
    		left: 18px;
		}
	}
}