.b-list {
	padding: 0;

	&__item {
		list-style: none;
		position: relative;
		padding-left: 40px;
		transition: color .5s ease-out, font-weight .5s ease-out;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: @cl-fern;
			transition: background .5s ease-out;
		}

		& + & {
			margin-top: 8px;
		}
	}

	&--ghost & {

		&__item {

			&:before {
				background: @cl-ghost;
			}
		}
	}

	.b-values & {

		&__item {

			&:before {
				background: @cl-tuna;
			}

			&.active {
				color: @cl-fruit-salad;
				font-weight: 700;

				&:before {
					background: @cl-fruit-salad;
				}
			}
		}
	}
}

.b-list-buyer {
	padding: 0;
	margin: 0;
	list-style-type: none; 
    counter-reset: num; 
    .roboto-medium();

	&__item {
		list-style: none;
		position: relative;
		margin-bottom: 24px;
		padding-left: 24px;

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
		    content: counter(num);
		    counter-increment: num;
		    position: absolute;
		    top: 0;
		    left: 0;
		    transform: rotate(-90deg);
    		transform-origin: left;
		}

		&:nth-child(-n+9):before {
			content: '0' counter(num);
		}

		&:after {
			content: '';
			position: absolute;
			top: 18px;
			left: 5px;
			height: 34px;
			width: 1px;
			background: @cl-ghost;

		}
	}
}