include ../../node_modules/bemto.pug/bemto.pug

- set_bemto_settings({ prefix: { '': 'b-', 'js-': true, '-': false }, element: '__', modifier: '--', default_tag: 'div' })

block variables
- var requireJS = false

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui, user-scalable=no")
        meta(name="skype_toolbar", content="skype_toolbar_parser_compatible")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="google" value="notranslate")
        meta(name="format-detection" content="telephone=no")
        //- TODO закомментить перед тем как клиенту отдать!
        meta(name="robots" content="noindex")

        //- Цвета/тема Браузера (вкладок)
        //- //- Chrome, Firefox, Opera
        //- meta(name="theme-color" content="#2e3192")
        //- //- Windows Phone
        //- meta(name="msapplication-navbutton-color" content="#2e3192")
        //- //- iOS Safari
        //- meta(name="apple-mobile-web-app-status-bar-style" content="default")

        block styles
            //- link(href="css/normalize/normalize.css" rel="stylesheet")
            //- link(href="css/" + file_name + ".css" rel="stylesheet")
            //- link(href="css/main.css?" + new Date().getTime() rel="stylesheet")
            link(href="css/main.css" rel="stylesheet")
            link(href="css/mobile.css" rel="stylesheet")
            link(href="css/tablet.css" rel="stylesheet" media="(min-width: 768px)")
            link(href="css/desktop-min.css" rel="stylesheet" media="(min-width: 1024px)")
            link(href="css/desktop.css" rel="stylesheet" media="(min-width: 1366px)")
            link(href="css/desktop-big.css" rel="stylesheet" media="(min-width:1440px)")
            link(href="css/desktop-fullhd.css" rel="stylesheet" media="(min-width:1920px)")

        //- jquery подключаем в шапке т.к. какой-то js может быть внутри компонентов
        //- block scripts
        //- script(src='js/jquery/jquery.min.js')

        block head
        title= pageTitle || ''
        meta(name='description' content=pageDescription || '')
        meta(name='keywords' content=pageKeywords || '')

        if map == true
            script(data-map-src='https://api-maps.yandex.ru/2.1.70/?lang=ru_RU')

        <!--[if lte IE 9]>
        script(src="js/html5shiv/html5shiv.min.js")
        <![endif]-->
    body(class=bodyClass)
        +b.page-wrapper
            include layout/header.pug
            +header()

            +b('main').main
                block content
            
            if !not_found
                include layout/footer.pug
                +footer()

        block popup

        include ../section/ui-kit/popup-send.pug
        include ../section/ui-kit/popup-form.pug

        +popup-form()(data-popup='popup-form')
        +popup-send()(data-popup='popup-send')
        +popup-subscribe()(data-popup='popup-subscribe')

        if requireJS == true
            - var js_filename = 'config'
            if (typeof(file_name) !== 'undefined')
                - var js_filename = file_name
            script(src="js/require.js?" + new Date().getTime() data-main="js/" + js_filename)
        else
            script(src="js/external.js")
            script(src="js/internal.js")