.b-not-found {
	padding: 0;

	&__text {
		font-size: 18px;
		line-height: 30px;
		margin: 14px 0 40px;
		.roboto-light();
	}

	&__content {
		margin-top: 6vh;
		padding: 0 2.5vw;
	}

	&__num {
		font-size: 240px;
		line-height: 200px;
	}

	&__svg {
		width: 192px;
	}
}