.b-not-found {
	padding: 12vh 0 0;
	overflow: hidden;

	.b-container {
		height: 100%;
	}

	&__text {
		margin: 18px 0 24px;
		font-size: 16px;
		line-height: 22px;
		color: @cl-raven;
	}

	&__content {
		margin-top: 8vh;
		padding: 0 4vw;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;
	}

	&__nums {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		white-space: nowrap;
	}

	&__num {
		.roboto-bold();
		font-size: 130px;
		line-height: 130px;
		color: @cl-madison;
		// margin-top: 10px;
	}

	&__svg {
		width: 110px;
		margin: 0 1.5vw;
	}
}