.b-footer {
	background: url('../images/inhtml/bg_footer_desktop.jpg') top/cover no-repeat;

	&__main {
		display: flex;
	}

	&__menu,
	&__contacts {
		width: 50%;
		flex-shrink: 0;
	}

	&__top {
		padding: 68px 0 46px;
		align-items: center;
	}

	&__menu {
		padding-right: 8%;
	}

	&__contact-link {

		&--map {
			font-size: 16px;
			line-height: 22px;
		}
	}

	&__tel {
		.roboto-medium();
		font-size: 16px;
		line-height: 22px;

		&--major {
			font-size: 24px;
			line-height: 34px;
		}
	}

	&__row + &__row {
		margin: 24px 0 0;
	}

	&__main {
		padding: 0 0 55px;
	}
}