.b-footer {
	background: url('../images/inhtml/bg_footer_tablet.jpg') top/cover no-repeat;

	&__top {
		padding: 68px 0 53px;
	}

	&__menu-link {
		font-size: 24px;
		line-height: 34px;
		letter-spacing: normal;
	}

	&__menu {
		margin: 0 0 67px;
	}

	&__row {
		display: flex;
	}

	&__row + &__row {
		margin: 36px 0 0;
	}

	&__contact-item {
		width: 50%;
		flex-shrink: 0;
		padding-right: 24px;
	}

	&__contact-item + &__contact-item {
		margin: 0;
	}

	&__tel {
		letter-spacing: normal;
    	line-height: 30px;
    	.roboto-light();

		&--major {
			margin-top: auto;
			font-size: 24px;
			line-height: 34px;
			.roboto-medium();
		}
	}

	&__contact-link {

		&--map {
			margin-top: 10px;
		}
	}

	&__main {
		padding: 0 0 60px;
	}

	&__copyright {
		height: 57px;
	}

	&__menu-item + &__menu-item {
		margin-top: 18px;
	}
}