.b-footer {
	background: url('../images/inhtml/bg_footer_mobile.jpg') top/cover no-repeat;

	&__top {
		display: flex;
		justify-content: space-between;
		padding: 40px 0 48px;
	}

	&__up {
		width: 30px;
		height: 49px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 23px;
		line-height: 0;
		color: rgba(255, 255, 255, .6);
		border: 1px solid rgba(212, 218, 225, .4);
		transition: color .3s ease;

		.no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-hawkes-blue;
		}
	}

	&__menu {
		display: flex;
		margin: 0 0 50px;
	}

	&__col {
		width: 50%;
		flex-shrink: 0;
	}

	&__menu-link {
		color: @cl-hawkes-blue;
		.roboto-medium();
		font-size: 18px;
		line-height: 26px;
		letter-spacing: 0.01em;
		transition: color .3s ease;

		.no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-white;
		}
	}

	&__menu-item + &__menu-item {
		margin-top: 20px;
	}

	&__address {
		font-size: 14px;
		line-height: 20px;
		font-style: normal;
		color: @cl-alice-blue;
		margin-bottom: auto;
		width: 100%;
	}

	&__contact-item {
		display: flex!important;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 40px;

		&:first-child,
		&--short {
			margin-top: 0;
		}
	}

	&__contact-link {
		font-size: 14px;
		line-height: 18px;
		color: @cl-alice-blue;
		margin-top: 9px;
		transition: color .3s ease;

		&--map {
			text-decoration: underline;
			margin-top: 3px;
		}

		.no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-white;
		}
	}

	&__tel {
		font-size: 18px;
		line-height: 26px;
		letter-spacing: 0.01em;
		.roboto-medium();
		color: @cl-alice-blue;
		margin-top: 9px;
		transition: color .3s ease;

		.no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-white;
		}
	}

	&__desc {
		font-size: 12px;
		line-height: 15px;
		color: @cl-ghost;
	}

	&__row + &__row {
		margin-top: 41px;
	}

	&__main {
		padding: 0 0 33px;
	}

	&__copyright {
		height: 53px;
		position: relative;
		display: flex;
		align-items: center;
		font-size: 14px;
		line-height: 18px;
		color: @cl-ghost;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 1px;
			width: 100vw;
			background: @cl-alice-blue;
			opacity: .5;
		}
	}
}