.b-work-with-us {
	position: relative;
	padding: 48px 0;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	&:before {
		opacity: .8;
		background: linear-gradient(180deg, rgba(246, 248, 250, 0.2) 0%, rgba(186, 186, 196, 0.2) 100%), #D4DAE1;
	}

	&:after {
		background: url("../images/inhtml/bg_work-with-us_mobile.png") left/cover no-repeat;
	}

	.slick-slide {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: inherit;

		div + div {
			margin-top: 60px;
		}

		div {
			display: flex;
			justify-content: center;
		}
	}

	.slick-track { 
		display: flex; 
	}

	.slick-list {
		padding: 40px 0 48px;
	}

	&__slide {
		display: flex!important;
		align-items: center;
		max-width: 60%;
		max-height: 28vw;
	}

	&__link {
		display: inline-flex;
		justify-content: center;
		height: 100%;
		transition: transform .3s ease-out;

		.no-touchevents &:hover,
		.touchevents &:active {
			transform: scale(1.07);
		}
	}

	&__img {
		max-height: 100%;
		width: 100%;
		object-fit: contain;
        font-family: "object-fit: contain; object-position: center;";
		object-position: center;
	}

	&__arrows {
		width: 100%;
	}

	&__arrows-inner {
		margin: 0;
		width: 100%;
		display: flex;
		justify-content: center;
	}
}