.b-work-with-us {
	padding: 100px 0 70px;

	&:after {
		background: url("../images/inhtml/bg_work-with-us_tablet.png") left/cover no-repeat;
	}

	&__slide {
		max-height: 152px;
		max-width: 90%;
		align-items: center;
	}

	.slick-slide {

		div {
			height: 100%;
		}

		div + div {
			margin-top: 72px;
		}
	}

	.slick-list {
		padding: 60px 0 70px;
	}

	&__link {
		height: auto;
	}
}