.b-tab {

	&__nav {
		display: flex;
		flex-wrap: nowrap;
		white-space: nowrap;
		padding: 0;
		width: max-content;
		border-bottom: 1px solid @cl-hawkes-blue;
	}

	&__item {
		list-style: none;
		font-size: 13px;
		line-height: 13px;
		text-transform: uppercase;
		.roboto-medium();
		color: @cl-ghost;
		transition: color .3s ease;
		padding: 16px;
		margin-right: 26px;
		cursor: pointer;

		&:last-child {
			margin-right: 0;
		}

		&.active {
			color: @cl-tuna;
		}
	}

	&__header {
		position: relative;
		overflow-y: hidden;
		overflow-x: auto;
		padding: 18px 16px 18px 0;
		margin: 0 -16px 0 0;
	}

	&__line {
		height: 3px;
		border-radius: 1px;
		background: @cl-fruit-salad;
		position: absolute;
		bottom: 17px;
	}

	&__card {
		margin: auto;

		&--hidden-xs,
		&--hidden-tablet {
			display: none;
		}
	}

	&__content-item {
		display: none;
		padding: 13px 0 0;

		&.active {
			display: flex;
		}
	}
}