.b-tab {

	&__item {
		font-size: 16px;
		line-height: 20px;
		padding: 0 41px;
		margin-right: 22px;
	}

	&__header {
		padding: 39px 0 18px;
    	margin: 0;
	}

	&__nav {
		padding: 0 0 14px;
		width: 100%;
	}

	&__content-item {
		padding: 40px 0 0;
	}
}