/* 1170 + */


@media (min-width: 1408px) {
    .b-container {
        // width: 1290px;
    
        &--wide {
    
            .b-header & {
                padding: 0 ~'calc( (100vw - 1408px) / (1408 - 1488) * (32 - 72) + 32px)';
                max-width: 1920px;
            }
        }
    }
    }
    
    @media (min-width: 1488px) {
        .b-container {  
            &--wide {
        
                .b-header & {
                    padding: 0 72px;
    
                }
            }
        }
     }