/* 320 + */
.b-input {
    width: 100%;

    &__input-field {
        height: 48px;
        background-color: @cl-white;
        transition: border .3s;
        font-size: 16px;
        line-height: 1.5;
        padding: 7px 18px;
        border: 1px solid @cl-hawkes-blue;
        border-radius: 3px;

        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;


        &:focus {
            // border: 1px solid @cl-4l-background-point-menu;
        }

        &[disabled] {
            // background-color: @cl-4l-light-gray;
        }

        &[placeholder]{
            text-overflow:ellipsis;
        }

        &::-webkit-input-placeholder {
            color: @cl-font-light;
            opacity: 1;
            text-overflow:ellipsis;
        }
        &:-moz-placeholder {
            color: @cl-font-light;
            opacity: 1;
            text-overflow:ellipsis;
        }
        &::-moz-placeholder {
            color: @cl-font-light;
            opacity: 1;
            text-overflow:ellipsis;
        }
        &:-ms-input-placeholder {
            color: @cl-font-light;
            opacity: 1;
            text-overflow:ellipsis;
        }

        &.error {
            border: 1px solid #f33939;

            &::-webkit-input-placeholder {
                color: #f33939;
            }
            &:-moz-placeholder {
                color: #f33939;
            }
            &::-moz-placeholder {
                color: #f33939;
            }
            &:-ms-input-placeholder {
                color: #f33939;
            }
        }

        &.ok {
            // border: 2px solid @cl-font-light;
        }

        &--file {
            opacity: 0;
            z-index: -1;
            position: absolute;
            width: 1px!important;
            height: 1px!important;
            overflow: hidden;
            padding: 0!important;
            border: none;
        }

        &--submit {
            background: @cl-fruit-salad;
            border: 1px solid @cl-fruit-salad;
            border-radius: 2px;
            text-transform: uppercase;
            color: @cl-white;
            height: 54px;
        }

        &--subscribe {
            border-radius: 2px;
            border: 1px solid @cl-alice-blue;
            height: 46px;
        }
    }

    display: flex;
    flex-direction: column-reverse;
    margin: 0 0 18px;

    &__label {
        font-size: 16px;
        line-height: 22px;
        color: @cl-raven;
        margin-bottom: 6px;

        &--checkbox {
            margin-bottom: 15px;
        }
    }

    &__textarea {
        height: 135px;
        background: @cl-white;
        border: 1px solid @cl-hawkes-blue;
        border-radius: 2px;
        padding: 13px 18px;
        -webkit-appearance: none;
        appearance: none;

        &.error {
            border: 1px solid #f33939;

            &::-webkit-input-placeholder {
                color: #f33939;
            }
            &:-moz-placeholder {
                color: #f33939;
            }
            &::-moz-placeholder {
                color: #f33939;
            }
            &:-ms-input-placeholder {
                color: #f33939;
            }
        }
    }

    &--file & {

        &__label {
            border: 1px solid @cl-ghost;
            border-radius: 2px;
            height: 54px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            .roboto-medium();
            font-size: 16px;
            line-height: 20px;
            cursor: pointer;
        }
    }

    &--file {
        order: 2;
    }

    &--submit {
        order: 3;
    }

    &--subscribe {
        margin: 0 0 25px;
    }
}