/* 768 + */
.b-input {
	margin: 0 0 30px;

	&__input-field {
        height: 60px;
        padding: 7px 27px;

        &--subscribe {
            border-radius: 2px 0 0 2px;
        }
    }

	&__label {
        font-size: 18px;
        line-height: 30px;
        .roboto-light();

        &--checkbox {
            margin-bottom: 10px;
        }
    }

    &__textarea {
        height: 160px;
        padding: 13px 27px;
    }

    &--submit,
    &--file &__label {
    	margin: 0;
    	height: 60px;
    }

    &--submit,
    &--file {
    	margin: 0;
    	width: ~'calc(50% - 12px)';
    }

    &--submit {
    	margin-left: auto;
    }

    &--subscribe {
        margin: 0!important;
    }
}