.b-learn-more {
    padding: 134px 0 150px;

    &--light {
        padding-top: 115px;
    }

    &__inner {
    	margin: 80px 0 0;
    }

    &--content {
        margin-top: 56px;
    }

    &--content & {

        &__inner {
            margin: 80px 0 0;
        }
    }
}