.b-learn-more {
    padding: 60px 0 100px;
    position: relative;
    background: @cl-alice-blue;

    &--light {
    	background: transparent;
    	padding: 80px 0 100px;
    }

    &--content {
        margin-top: -4px;
        padding: 48px 0 100px;
    }
 
    &--light &,
    &--content & {

        &__inner {
            margin-top: 48px;
        }
    }
    
    &__inner {
    	display: flex;
    	flex-wrap: wrap;
    	margin: 36px 0 0;
    }
}