.b-head-block-slider {

	&__hidden-xs {
		display: block;
	}

	&__opacity-xs {
		opacity: 1;
	}

	&__title-block {
		top: 16vh;
		width: 100%;
	}

	&__inner {
		padding-top: 46vh;
	}

	&__arrows {
		top: 76vh;
		bottom: auto;
	}

	&__arrows-inner {
		justify-content: flex-start;
	}

	&__pagination {
		width: 100%;
		top: 71vh;
		bottom: auto;
	}

	&__num-total-slides {
		.roboto-light();
		font-size: 18px;
	}

	&__num-active-slide {
		.roboto-regular();
		font-size: 24px;
		line-height: 26px;
		margin-right: 9px;
	}

	&__svg {
		top: 29vh;
	    left: 15%;
	    transform: none;
	    width: 109%;
	}

	&__link-logo {
		width: 74px;
		height: 74px;

		& + & {
			margin-left: 22px;
		}
	}
}