.b-head-block-slider {
	position: relative;
	background: #509B4D;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(50% 85.41% at 50% 50%, #70B965 0%, #3AAA35 100%);
		opacity: .4;
	}

	.slick-slider {
		z-index: 2;
	}

	.slick-slider,
	.slick-list,
	.slick-track,
	.slick-slide {
		height: 100%;
	}

	&__title-block {
		z-index: 3;
		position: absolute;
		left: 0;
    	top: 21vh;
    	pointer-events: none;
	}

	&__arrows {
		z-index: 3;
		position: absolute;
		left: 0;
		// top: 83vh;
		bottom: 11vh;
		width: 100%;
		pointer-events: none;
	}

	&__arrows-inner {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__pagination {
		position: absolute;
	    // top: 75vh;
	    bottom: 23vh;
	    left: 50%;
	    transform: translateX(-50%);
	    z-index: 3;
	    pointer-events: none;

	    & * {
	    	pointer-events: none;
	    }
	}

	&__pagination-inner {
		display: flex;
		font-size: 16px;
		color: @cl-white;
	}

	&__num-total-slides {
		opacity: .6;
		.roboto-regular();
	}

	&__num-active-slide {
		.roboto-medium();
	}

	&__image {
		transform: scale(1.1);
		transform-origin: 50% 50%;
		transition: transform 3s ease;

		.slick-current & {
			transform: scale(1);
		}
	}

	&__hidden-xs {
		display: none;
	}

	&__opacity-xs {
		opacity: .2;
	}

	&__svg {
		position: absolute;
	    top: -3vh;
	    left: 50%;
	    transform: translateX(-50%);
	    width: 96vh;
	}

	&__svg-mask {
		// width: 0;
		// height: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__inner {
		padding-top: 53vh;
		position: relative;
	}

	&__box {
		display: flex;
	}

	&__link-logo {
		display: block;
		width: 48px;
		height: 48px;

		& + & {
			margin-left: 16px;
		}
	}
}