.b-achieve {

	&--md40 {
		margin-top: 40px;
	}

	&__slide {
		width: 1008px;
		padding: 0 56px;
	}

	&__text {
		padding: 0 43px 0 110px;
		font-size: 24px;
		line-height: 34px;
		margin: 0 0 150px;

		.b-icon {
			font-size: 169px;
		}
	}

	&__content {
		height: 535px;
	}

	&__pagination {
		width: 896px;
		position: relative;
		bottom: 0;
		margin: 30px 0 0;
	}

	&__arrows {
		position: absolute;
		bottom: 280px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__arrows-inner {
		justify-content: space-between;
		width: 1086px;
		margin: auto;
	}
}