.b-achieve {

	&__slide {
		width: 648px;
		padding: 0 60px;
	}

	&__text {
		margin: 0 0 110px;
		padding: 0 0 0 90px;
		font-size: 18px;
		line-height: 30px;

		.b-icon {
			font-size: 119px;
		}
	}

	&__desc {
		.roboto-light();
		font-size: 18px;
		line-height: 30px;
	}

	&__content {
		height: 380px;
	}

	&__num-total-slides {
		.roboto-light();
		font-size: 18px;
	}

	&__num-active-slide {
		.roboto-regular();
		font-size: 28px;
		line-height: 26px;
		margin-right: 9px;
	}

	&__arrows-inner {
		margin: 70px 0 0;
	}

	&__pagination {
		bottom: 21px;
		left: 120px;
	}
}