.b-achieve {
	position: relative;

	.slick-list {
		overflow: unset;
	}

	.slick-track { 
		display: flex; 
	}

	.slick-slide {
		height: inherit;
		display: flex;
		flex-direction: column;
	}

	&__text {
		position: relative;
		margin: auto;
		padding: 0 0 0 40px;
		margin: 0 0 60px;
		font-size: 16px;
		line-height: 22px;
		.roboto-medium();
		color: @cl-raven;
		opacity: 0;
		transition: opacity .7s ease-out;

		.b-icon {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			font-size: 69px;
			width: auto;
			margin: 0;
			z-index: -1;
			color: @cl-alice-blue;
		}

		.slick-current & {
			opacity: 1;
		}
	}

	&__desc {
		margin: auto 0 30px;
		font-size: 16px;
		line-height: 22px;
		color: @cl-raven;
	}

	&__slide {
		width: 100vw;
		padding: 0 16px;
	}

	&__content {
		width: 100%;
		height: 180px;
	}

	&__video {
		height: 100%;

		iframe {
			height: 100%!important;
			width: 100%!important;
		}
	}

	&__img {
		height: 100%;
		width: 100%;
		object-fit: cover;
        font-family: "object-fit: cover;";
	}

	&__arrows {
		width: 100%;
	}

	&__arrows-inner {
		margin: 30px 0 0;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__pagination {
		position: absolute;
	    bottom: 27px;
	    left: 16px;
	    z-index: 3;
	    pointer-events: none;

	    & * {
	    	pointer-events: none;
	    }
	}

	&__pagination-inner {
		display: flex;
		font-size: 16px;
		color: @cl-tuna;
	}

	&__num-total-slides {
		opacity: .6;
		.roboto-regular();
	}

	&__num-active-slide {
		.roboto-medium();
	}
}