.b-certificates {
	padding: 100px 0 10px;

	&:after {
		background: url("../images/inhtml/bg_certificates_tablet.png") left top/contain no-repeat;
	}

	&__slide {
		padding: 0 80px 0 0;
		justify-content: flex-start;
	}

	&__slider {
		margin: 80px 0 56px;
	}
}