.b-certificates {
	position: relative;
	padding: 48px 0 10px;

	.slick-list {
		overflow: unset;
	}

	.slick-track { 
		display: flex; 
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
	}

	&:before {
		height: 100vw;
		max-height: 412px;
		background: @cl-pale-sky;
	}

	&:after {
		height: 100%;
		background: url("../images/inhtml/bg_work-with-us_mobile.png") left/cover no-repeat;
	}

	&__inner {
		position: relative;
	}

	&__slider {
		margin: 52px -16px 68px;
	}

	&__slide {
		display: flex!important;
		justify-content: center;
		align-items: center;
		list-style: 1;
		padding: 0 16px;
		height: inherit;
	}

	&__img {
		box-shadow: 2px 6px 50px rgba(141, 177, 216, 0.3);
		min-width: 225px;
	}

	&__arrows {
		width: 100%;
	}

	&__arrows-inner {
		margin: 0;
		width: 100%;
		display: flex;
		justify-content: center;
	}
}