.b-logo {
	line-height: 0;
	transition: transform .3s ease, width .5s ease, height .5s ease;
	width: 48px;
	pointer-events: auto;
	position: relative;
	z-index: 1;
	display: block;

	// &__image {
	// 	width: 48px;
	// }

	path {
		transition: fill .3s ease;
		fill: @cl-white;
	}
	
	.b-footer & {
		width: 44px;

		// &__image {
		// 	width: 44px;
		// }

		path {
			fill: @cl-apple;
		}

		.no-touchevents &:hover,
		.touchevents &:active {
			transform: scale(1.05);
		}
	}

	&.color,
	.light .b-header &,
	.header-color &,
	.hover-menu & {

		path {
			fill: @cl-fruit-salad;
		}
	}
}