.b-lead {
	padding: 130px 0 48px;

	&__fact {
		display: none;
	}

	&__inner-decor {
		padding: 1px 0 36px;
		margin: 36px 0;
		position: relative;
		background: @cl-alice-blue;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("../images/inhtml/bg_work-with-us_mobile.png") left/cover no-repeat;
			opacity: .5;
		}
	}
}