.b-lead {
	padding: 186px 0 78px;

	&__inner-decor {
		padding: 44px 0 96px;
		margin: 80px 0;

		&:after {
			background: url("../images/inhtml/bg_work-with-us_tablet.png") left/cover no-repeat;
		}
	}
}