.b-nav {
	margin: 86px 0 30px;
    height: 88px;
    background: @cl-alice-blue;

	&__list {
		display: flex;
		white-space: nowrap;
		height: 100%;
		align-items: center;
		overflow-y: hidden;
		overflow-x: auto;
		padding: 0 0 0 16px;
		max-width: 1920px;
		margin: auto;
	}

	&__item {
		list-style: none;
		margin-right: 24px;

		&:last-child {
			margin-right: 0;
			padding-right: 16px;
		}
	}

	&__link {
		.roboto-medium();
		color: rgba(109, 113, 120, .7);
		font-size: 12px;
		line-height: 20px;
		text-transform: uppercase;

		.no-touchevents &:active,
		.touchevents &:active {
			color: @cl-tuna;
		}
		
		&.active {
			color: @cl-tuna;
			pointer-events: none;
		}

		&.is-select {
			color: @cl-tuna;
		}
	}

	&__input {
		border: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
}