.b-nav {
	margin: 145px 0 49px;
	height: 100px;
	
	&__list {
		padding: 0 0 0 ~'calc(((100vw - 64px) * 0.125) + 32px)';
	}

	&__item {
		margin-right: 65px;

		&:last-child {
			margin-right: 0;
			padding-right: ~'calc(((100vw - 64px) * 0.125) + 32px)';
		}
	}

	&__link {
		font-size: 16px;
	}
}