
@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/Roboto-Light.woff") format("woff"),
    url("../fonts/Roboto-Light.woff2") format("woff2"); 
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"); 
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Medium";
    src: url("../fonts/Roboto-Medium.woff") format("woff"),
    url("../fonts/Roboto-Medium.woff2") format("woff2"); 
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

.roboto-light(){font-family: "Roboto Light";}
.roboto-regular(){font-family: "Roboto Regular";}
.roboto-medium(){font-family: "Roboto Medium";}
.roboto-bold(){font-family: "Roboto Bold";}