@font-face {
	font-family: "icons";
	src: url('../fonts/icons.eot');
	src: url('../fonts/icons.eot?#iefix') format('eot'),
		url('../fonts/icons.woff2') format('woff2'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
	font-display: swap;
}

.icon-base-pseudo {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

.icon-char(@filename) {
	@_download: "\E001";
	@account: "\E002";
	@arrow-down: "\E003";
	@arrow-left: "\E004";
	@arrow-right: "\E005";
	@business: "\E006";
	@card-arr: "\E007";
	@card-plus: "\E008";
	@conversation: "\E009";
	@delivery-box: "\E00A";
	@download: "\E00B";
	@download2: "\E00C";
	@filter: "\E00D";
	@innovation: "\E00E";
	@logo: "\E00F";
	@mass-production: "\E010";
	@menu-arr: "\E011";
	@mobile-arr: "\E012";
	@more: "\E013";
	@next: "\E014";
	@ok: "\E015";
	@prev: "\E016";
	@route: "\E017";
	@send-popup: "\E018";
	@send: "\E019";
	@sort: "\E01A";
	@sorting: "\E01B";
	@tax: "\E01C";
	@tech: "\E01D";
	@up: "\E01E";
	
	content: @@filename;
}

.icon(@filename, @insert: before) {
	@pseudo-selector: ~":@{insert}";

	&@{pseudo-selector} {
		&:extend(.icon-base-pseudo);
		.icon-char(@filename);
	}
}

.icon-_download {
	.icon(_download);
}
.icon-account {
	.icon(account);
}
.icon-arrow-down {
	.icon(arrow-down);
}
.icon-arrow-left {
	.icon(arrow-left);
}
.icon-arrow-right {
	.icon(arrow-right);
}
.icon-business {
	.icon(business);
}
.icon-card-arr {
	.icon(card-arr);
}
.icon-card-plus {
	.icon(card-plus);
}
.icon-conversation {
	.icon(conversation);
}
.icon-delivery-box {
	.icon(delivery-box);
}
.icon-download {
	.icon(download);
}
.icon-download2 {
	.icon(download2);
}
.icon-filter {
	.icon(filter);
}
.icon-innovation {
	.icon(innovation);
}
.icon-logo {
	.icon(logo);
}
.icon-mass-production {
	.icon(mass-production);
}
.icon-menu-arr {
	.icon(menu-arr);
}
.icon-mobile-arr {
	.icon(mobile-arr);
}
.icon-more {
	.icon(more);
}
.icon-next {
	.icon(next);
}
.icon-ok {
	.icon(ok);
}
.icon-prev {
	.icon(prev);
}
.icon-route {
	.icon(route);
}
.icon-send-popup {
	.icon(send-popup);
}
.icon-send {
	.icon(send);
}
.icon-sort {
	.icon(sort);
}
.icon-sorting {
	.icon(sorting);
}
.icon-tax {
	.icon(tax);
}
.icon-tech {
	.icon(tech);
}
.icon-up {
	.icon(up);
}
