/* 320 + */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    font-family: @font-base;
    overflow-x: hidden;

    &.no-scroll {
    	overflow: hidden;
    }
}

* {
    outline: none;
}

input[type='submit'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.hidden-xs {
	display: none;
}