//- ====================
//- kontora: footer_main
//- 00-00-2017: Author
//- --------------------
//- Футер страниц
//- ===================
mixin footer()

    include ../../section/subscribe.pug
    include ../../section/ui-kit/logo.pug
    include ../../section/ui-kit/icon.pug
    include ../../section/ui-kit/title.pug
    
    +subscribe()

    +b('footer').footer
        .b-container
            +e.inner.-container
                +e.top
                    +logo()
                    +e('a').up.-js-up(href='javascript:void(0);')
                        +icon('up')
                +e.main
                    +e.menu
                        +e.col
                            +e.menu-item
                                +e('a').menu-link(href='/') Главная
                            +e.menu-item
                                +e('a').menu-link(href='/about.html') О компании
                            +e.menu-item
                                +e('a').menu-link(href='/catalog.html') Продукция
                            +e.menu-item
                                +e('a').menu-link(href='/buyer.html') Купить
                        +e.col
                            +e.menu-item
                                +e('a').menu-link(href='javascript:void(0);') Личный кабинет
                            +e.menu-item
                                +e('a').menu-link(href='/deal.html') Поставщикам
                            +e.menu-item
                                +e('a').menu-link(href='/blog-general.html') Блог
                            +e.menu-item
                                +e('a').menu-link(href='/contacts.html') Контакты

                    +e.contacts
                        +e.row
                            +e.contact-item
                                +title('h4', 'Главный офис')
                                +e('address').address РФ, 127411, Москва, Дмитровское шоссе, 157, стр.&nbsp;9, офис 9308 а,б,в.
                                +e('a').contact-link.--map(href='/contacts.html#map::center', data-placemark='center') Показать на&nbsp;карте

                            +e.contact-item.--short
                                +e('a').tel.--major(href='tel:+74952121102') +7 (495) 21-21-102
                                +e.desc (многоканальный)
                                +e('a').contact-link(href='mailto:info@greenline77.ru') info@greenline77.ru


                        +e.row
                            +e.contact-item
                                +title('h4', 'Производство')
                                +e('address').address РФ, 141051, МО, Мытищинский муниципальный район, с/п Федоскинское, д. Капустино, ш. Дмитровское, стр. N&nbsp;36.
                                +e('a').tel(href='tel:+74996700707') +7 (499) 670-07-07
                                +e('a').contact-link(href='mailto:info@greenline77.ru') info@greenline77.ru

                            +e.contact-item
                                +title('h4', 'Склад')
                                +e('address').address РФ, 141051, МО, Мытищинский муниципальный район, с/п Федоскинское, д. Капустино, ш. Дмитровское, стр. N&nbsp;36.
                                +e('a').tel(href='tel:+74996700707') +7 (499) 670-07-07
                                +e('a').contact-link(href='mailto:info@greenline77.ru') info@greenline77.ru

                +e.copyright
                    span Все права защищены &copy;&nbsp;2020