//- ====================
//- kontora: Шапка сайта
//- 00-00-2017: Author
//- --------------------
//- Шапка
//- ====================
mixin header()
    
    include ../../section/ui-kit/logo.pug
    include ../../section/ui-kit/icon.pug
    include ../../section/ui-kit/title.pug

    +e('svg')(width='0' height='0')
        +e('defs')
            +e('clipPath')#hexagon-header
                +e('path')(d='M75.7994 154.78L75.8056 154.777L133.629 121.595L133.63 121.594C137.287 119.514 139.5 115.75 139.5 111.6V45.2358C139.5 41.0942 137.159 37.3242 133.626 35.2392C133.625 35.2387 133.624 35.2383 133.624 35.2378L75.8056 2.05891L75.8004 2.05592C72.2837 -0.0186304 67.7163 -0.0186303 64.1996 2.05589L64.1945 2.05894L6.37131 35.2408L6.36967 35.2418C2.71343 37.3216 0.5 41.085 0.5 45.2358V111.6C0.5 115.741 2.84135 119.511 6.37402 121.596C6.37484 121.597 6.37567 121.597 6.37649 121.598L64.1928 154.776L75.7994 154.78ZM75.7994 154.78L75.7932 154.784M75.7994 154.78L75.7932 154.784M75.7932 154.784C74.112 155.814 72.0276 156.335 70.068 156.335C68.1123 156.335 66.0216 155.815 64.1944 154.777L75.7932 154.784Z' stroke='white')

    +b('header').header
        .b-container.b-container--wide
            +e.inner
                +logo()

                +b.menu.-js-menu
                    +e.wrap-bg
                    +e('ul').list
                        +e.item
                            +e('a').link.--about.-js-menu-link(href='javascript:void(0);')
                                span компания
                                +icon('menu-arr')

                            +e.wrap
                                +e.wrap-inner
                                    +e.list-lvl2
                                        +e.link-wrapper-lvl2
                                            +e('a').link-lvl2(href='/about.html#lead')
                                                +icon('next')
                                                +e О НАС
                                        +e.link-wrapper-lvl2
                                            +e('a').link-lvl2(href='/about.html#directions')
                                                +icon('next')
                                                +e Наше ПРОИЗВОДСТВО
                                        +e.link-wrapper-lvl2
                                            +e('a').link-lvl2(href='/about.html#geography')
                                                +icon('next')
                                                +e География закупок
                                    +e.image-wrapper
                                        +e('img').img.js-image-wrapper(src='images/content/img.jpg')

                        +e.item
                            +e('a').link.--catalog.-js-menu-link(href='javascript:void(0);')
                                span Продукция
                                +icon('menu-arr')

                            +e.wrap
                                +e.wrap-inner
                                    
                                    +e.production
                                        +e.production-box
                                            +e.production-col
                                                +e.production-name ОРЕХИ
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);') 
                                                        +icon('next')
                                                        +e Арахис
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);') 
                                                        +icon('next')
                                                        +e Фундук
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);') 
                                                        +icon('next')
                                                        +e Миндаль
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Кешью
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Фисташка
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Грецкий
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Макадамия
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Бразильский
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Кедровый
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Пекан

                                            +e.production-col
                                                +e.production-name Сухофрукты
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Курага
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Чернослив
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Изюм
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Цукаты ананаса
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Цукаты папайи
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Цукаты клюквы

                                            +e.production-col
                                                +e.production-name Кондитерские изделия
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Драже
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Заливки

                                            +e.production-col
                                                +e.production-name Рыбные снэки
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Анчоус
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Барракуда
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Вобла
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Горбуша
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Желтый полосатик
                                                +e.production-item
                                                    +e('a').production-link(href='javascript:void(0);')
                                                        +icon('next')
                                                        +e Морской лизун

                                        +e.production-link-wrap
                                            +e('a').link-lvl2.--online(href='/catalog.html')
                                                +icon('next')
                                                +e показать все

                                    +e.tm
                                        +e.tm-name торговые марки
                                        +e('a').tm-link(href='javascript:void(0);')
                                            +e('img').tm-logo.js-image-wrapper(src='images/content/logo-sn.svg', alt='')
                                        +e('a').tm-link(href='javascript:void(0);')
                                            +e('img').tm-logo.js-image-wrapper(src='images/content/logo-sn.svg', alt='')
                                        +e('a').tm-link(href='javascript:void(0);')
                                            +e('img').tm-logo.js-image-wrapper(src='images/content/logo-sn.svg', alt='')
                        
                        +e.item
                            +e('a').link.--deal.-js-menu-link(href='javascript:void(0);')
                                span Сотрудничество
                                +icon('menu-arr')

                            +e.wrap
                                +e.wrap-inner

                                    +e.list-lvl2
                                        +e.link-wrapper-lvl2
                                            +e('a').link-lvl2(href='/deal.html')
                                                +icon('next')
                                                +e Я - поставщик
                                        +e.link-wrapper-lvl2
                                            +e('a').link-lvl2(href='/buyer.html')
                                                +icon('next')
                                                +e Я - покупатель
                                    +e.image-wrapper
                                        +e('img').img.js-image-wrapper(src='images/content/img.jpg')

                        //- +e.item
                        //-     +e('a').link.--deal.-js-menu-link(href='javascript:void(0);')
                        //-         span Поставщикам

                        +e.item
                            +e('a').link.--blog.-js-menu-link(href='/blog-general.html')
                                span блог

                        +e.item
                            +e('a').link.--contacts.-js-menu-link(href='/contacts.html')
                                span контакты

                        +e.line.-js-menu-line
                
                +e.panel
                    +b.lang
                        +e('a').link.-js-lang(href='javascript:void(0);') EN
                        +e('a').link.-js-lang.-active(href='javascript:void(0);') RU

                    +e('a').account(href='javascript:void(0);')
                        +icon('account')
                        span ЛИЧНЫЙ КАБИНЕТ

                +b.burger
                    +e('a').link.js-burger(href='javascript:void(0);')
                        +e.line
                    +e.menu.js-burger-menu
                        +e('ul').list
                            +e.item
                                +e('a').link-lvl1.-js-burger-link(href='javascript:void(0);')
                                    span компания
                                    +icon('mobile-arr')

                                +e.wrap
                                    +icon('mobile-arr').-js-back
                                    +e.list-lvl2
                                        +e.link-wrapper-lvl2
                                            +e('a').link-lvl2(href='/about.html#lead')
                                                +icon('next')
                                                +e О НАС
                                        +e.link-wrapper-lvl2
                                            +e('a').link-lvl2(href='/about.html#directions')
                                                +icon('next')
                                                +e Наше ПРОИЗВОДСТВО
                                        +e.link-wrapper-lvl2
                                            +e('a').link-lvl2(href='/about.html#geography')
                                                +icon('next')
                                                +e  География закупок

                            +e.item
                                +e('a').link-lvl1.-js-burger-link(href='javascript:void(0);')
                                    span Продукция

                            +e.item
                                +e.subitem
                                    +e('a').link-lvl1.--sub.-js-burger-link(href='javascript:void(0);')
                                        span Орехи
                                        +icon('mobile-arr')
                                    +e.wrap
                                        +icon('mobile-arr').-js-back
                                        +e.list-lvl2
                                            +e.production-item
                                                +e('a').production-link.--catalog(href='/catalog.html')
                                                    +icon('next')
                                                    +e Каталог
                                            +e.production-item
                                                +e('a').production-link.--name(href='javascript:void(0);') Все орехи
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);') Арахис
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);') Фундук
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);') Миндаль
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);') Кешью
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);') Фисташка
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);') Грецкий
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);') Макадамия
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);') Бразильский
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);') Кедровый
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);') Пекан

                                        +e.tm
                                            +e.tm-name торговые марки
                                            +e.tm-box
                                                +e('a').tm-link(href='javascript:void(0);')
                                                    +e('img').tm-logo(src='images/content/logo-sn.svg', alt='')
                                                +e('a').tm-link(href='javascript:void(0);')
                                                    +e('img').tm-logo(src='images/content/logo-sn.svg', alt='')
                                                +e('a').tm-link(href='javascript:void(0);')
                                                    +e('img').tm-logo(src='images/content/logo-sn.svg', alt='')
                                +e.subitem
                                    +e('a').link-lvl1.--sub.-js-burger-link(href='javascript:void(0);')
                                        span Сухофрукты
                                        +icon('mobile-arr')
                                    +e.wrap
                                        +icon('mobile-arr').-js-back
                                        +e.list-lvl2
                                            +e.production-item
                                                +e('a').production-link.--catalog(href='/catalog.html')
                                                    +icon('next')
                                                    +e Каталог
                                            +e.production-item
                                                +e('a').production-link.--name(href='javascript:void(0);') Все сухофрукты
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);')
                                                    +e Курага
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);')
                                                    +e Чернослив
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);')
                                                    +e Изюм
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);')
                                                    +e Цукаты ананаса
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);')
                                                    +e Цукаты папайи
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);')
                                                    +e Цукаты клюквы
                                        +e.tm
                                            +e.tm-name торговые марки
                                            +e.tm-box
                                                +e('a').tm-link(href='javascript:void(0);')
                                                    +e('img').tm-logo.js-image-wrapper(src='images/content/logo-sn.svg', alt='')
                                                +e('a').tm-link(href='javascript:void(0);')
                                                    +e('img').tm-logo.js-image-wrapper(src='images/content/logo-sn.svg', alt='')
                                                +e('a').tm-link(href='javascript:void(0);')
                                                    +e('img').tm-logo.js-image-wrapper(src='images/content/logo-sn.svg', alt='')
                                +e.subitem
                                    +e('a').link-lvl1.--sub.-js-burger-link(href='javascript:void(0);')
                                        span кондитерские изделия
                                        +icon('mobile-arr')
                                    +e.wrap
                                        +icon('mobile-arr').-js-back
                                        +e.list-lvl2
                                            +e.production-item
                                                +e('a').production-link.--catalog(href='/catalog.html')
                                                    +icon('next')
                                                    +e Каталог
                                            +e.production-item
                                                +e('a').production-link.--name(href='javascript:void(0);') Все кондитерские изделия
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);')
                                                    +e Драже
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);')
                                                    +e Заливки
                                        +e.tm
                                            +e.tm-name торговые марки
                                            +e.tm-box
                                                +e('a').tm-link(href='javascript:void(0);')
                                                    +e('img').tm-logo.js-image-wrapper(src='images/content/logo-sn.svg', alt='')
                                                +e('a').tm-link(href='javascript:void(0);')
                                                    +e('img').tm-logo.js-image-wrapper(src='images/content/logo-sn.svg', alt='')
                                                +e('a').tm-link(href='javascript:void(0);')
                                                    +e('img').tm-logo.js-image-wrapper(src='images/content/logo-sn.svg', alt='')
                                +e.subitem
                                    +e('a').link-lvl1.--sub.-js-burger-link(href='javascript:void(0);')
                                        span рыбные снэки
                                        +icon('mobile-arr')
                                    +e.wrap
                                        +icon('mobile-arr').-js-back
                                        +e.list-lvl2
                                            +e.production-item
                                                +e('a').production-link.--catalog(href='/catalog.html')
                                                    +icon('next')
                                                    +e Каталог
                                            +e.production-item
                                                +e('a').production-link.--name(href='javascript:void(0);') Все рыбные снэки
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);')
                                                    +e Анчоус
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);')
                                                    +e Барракуда
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);')
                                                    +e Вобла
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);')
                                                    +e Горбуша
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);')
                                                    +e Желтый полосатик
                                            +e.production-item
                                                +e('a').production-link(href='javascript:void(0);')
                                                    +e Морской лизун
                                        +e.tm
                                            +e.tm-name торговые марки
                                            +e.tm-box
                                                +e('a').tm-link(href='javascript:void(0);')
                                                    +e('img').tm-logo.js-image-wrapper(src='images/content/logo-sn.svg', alt='')
                                                +e('a').tm-link(href='javascript:void(0);')
                                                    +e('img').tm-logo.js-image-wrapper(src='images/content/logo-sn.svg', alt='')
                                                +e('a').tm-link(href='javascript:void(0);')
                                                    +e('img').tm-logo.js-image-wrapper(src='images/content/logo-sn.svg', alt='')

                            +e.item
                                +e('a').link-lvl1.-js-burger-link(href='javascript:void(0);')
                                    span Сотрудничество
                                    +icon('mobile-arr')

                                +e.wrap
                                    +icon('mobile-arr').-js-back
                                    +e.list-lvl2
                                        +e.link-wrapper-lvl2
                                            +e('a').link-lvl2(href='/deal.html')
                                                +icon('next')
                                                +e Я - поставщик
                                        +e.link-wrapper-lvl2
                                            +e('a').link-lvl2(href='/buyer.html')
                                                +icon('next')
                                                +e Я - покупатель

                            +e.item
                                +e('a').link-lvl1.-js-burger-link(href='/blog-general.html')
                                    span блог

                            +e.item
                                +e('a').link-lvl1.-js-burger-link(href='/contacts.html')
                                    span контакты

                        +e.account-wrapper
                            +e('a').account(href='javascript:void(0);')
                                +icon('account')
                                span ЛИЧНЫЙ КАБИНЕТ