/* 320 + */
.b-pagination {
    display: flex;
    justify-content: center;
    margin: 48px 0;

    &__list {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 400px;
        padding: 16px 0;
    }

    &__link {
        font-size: 30px;
        .roboto-medium();
        position: relative;
        display: block;
        color: @cl-tuna;
        transition: color .3s ease-out;

        &:before {
            position: absolute;
            bottom: -12px;
            width: 100%;
            height: 3px;
            background: @cl-fruit-salad;
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-fruit-salad;
        }

        &.current {
            color: @cl-fruit-salad;

            &:before {
                content: '';
            }
        }
    }

    &__item {

        &.disabled {
            display: none;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        height: 24px;
        .icon('mobile-arr');
        font-size: 38px;
        width: 32px;
        line-height: 1;
        color: @cl-tuna;
        transition: color .3s ease-out;

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-fruit-salad;
        }

        &--prev:before {
            transform: scale(-1,1);
        }
    }
}