.b-burger {

    &__link {
        width: 52px;
        height: 38px;

	    &:before,
	    &:after {
	        width: 52px;
	        height: 4px;
	    }

	    &.is-expand {

            &:before {
                top: 17px;
            }
            &:after {
                bottom: 17px;
            }
        }
    }

    &__line {
    	height: 4px;
    	width: 42px;
    }

    &__menu {
        padding: 16vh 48px;

        &.is-expand {
            display: block!important;
        }
    }

    &__list {
        padding-left: 32.8%;
        transition: padding-left .5s ease-out;

        &.open {
            padding-left: 30px;
        }
    }

    &__item {

        & + & {
            margin-top: 4.4vh;
        }
    }

    &__subitem {

        & + & {
            margin-top: 3vh;
        }
    }

    &__account-wrapper {
        height: 15vh;
        padding-bottom: 3vh;
        transition: width .5s ease-out, margin-left .5s ease-out;

        .open + & {
            width: ~'calc(50% - 32px)';
            margin-left: 16px;
        }

        &:before {
            width: 306px;
        }
    }

    &__account {
        margin: auto;
    }

    &__wrap {
        width: 50%;
        padding: 19vh 48px 0 88px;
        box-shadow: inset 0px 3px 25px rgba(141, 177, 216, 0.15);

        .icon-mobile-arr {
            display: none;
        }
    }

    &__link-wrapper-lvl2,
    &__link-wrapper-lvl3 {

        & + & {
            margin-top: 36px;
        }
    }

    &__list-lvl3 {
        margin-top: 36px;
    }

    &__box {

        & + & {
            padding-top: 3vh;
            margin-top: 8vh;

            &:before {
                left: -58px;
                width: ~'calc(100% + 58px)';
            }
        }
    }

    &__text {
        padding: 0 0 4vh;
    }

    &__list-lvl2 {
        margin: 0 0 24vh;
    }

    &__production-link {

        &--catalog {
            margin-bottom: 26px;
        }
    }

    &__production-item {

        & + & {
            margin-top: 23px;
        }
    }

    &__tm {
        height: 21vh;
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px 52px 40px 64px;
    }

    &__tm-link {
        max-width: 74px;
        max-height: 74px;
    }

    &__tm-box {
        justify-content: center;
    }
}