.b-burger {
    position: relative;
    pointer-events: auto;

    &__link {
        display: flex;
        width: 30px;
        height: 26px;
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 3;
        transition: opacity .3s ease;
        position: relative;
        
        .no-touchevents &:hover,
        .touchevents &:active {
            opacity: .8;
        }

        &.is-expand {

            &:before,
            &:after {
                background: @cl-ghost!important;
            }

            &:before {
                transform: rotate(45deg);
                top: 11px;
            }
            &:after {
                transform: rotate(-45deg);
                bottom: 11px;
            }

            .b-burger__line {
                opacity: 0;
                transform: translateX(20px);
            }
        }
    }

    &__line,
    &__link:before,
    &__link:after {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        background: @cl-white;
        position: relative;
        transform-origin: center;
        transition: transform .5s ease, color .3s ease-out;

        .light &,
        .header-color & {
            background: @cl-tuna;
        }
    }

    &__line {
        width: 24px;
        margin-left: auto;
        transition: opacity .3s ease, transform .3s ease;
    }

    &__menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: @cl-white;
        padding: 17vh 16px;
        transform: translateX(100%);
        transition: transform .5s ease-out;

        &.is-expand {
            transform: translateX(0);
            display: flex!important;
        }
    }

    &__list {
        padding: 0;
        width: auto;
        display: inline-flex;
        flex-direction: column;
        margin: auto;
    }

    &__item {
        list-style: none;

        & + & {
            margin-top: 3vh;
        }
    }

    &__subitem {
        list-style: none;
        margin-left: 35px;

        & + & {
            margin-top: .7vh;
        }
    }

    &__wrap {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: @cl-alice-blue;
        padding: 17vh 16px 3vh;
        transform: translateX(100%);
        transition: transform .5s ease-out;
        z-index: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .icon-mobile-arr {
            transform: scale(-1, 1) translateY(-50%);
            margin: 0;
        }

        &.is-expand {
            transform: translateX(0);
        }
    }

    &__link-lvl1 {
        .roboto-medium();
        text-transform: uppercase;
        font-size: 22px;
        line-height: 24px;
        color: @cl-tuna;
        transition: color .3s ease-out;
        display: inline-flex;
        align-items: center;

        &--sub {
            font-size: 16px;
            line-height: 20px;
        }

        &.no-show {
            color: @cl-ghost;
        }
    }

    &__link-lvl2 {
        .roboto-medium();
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: @cl-tuna;
        display: inline-flex;
        align-items: center;

        &--hidden {
            color: @cl-ghost;
            pointer-events: none;
        }
    }

    &__link-lvl3 {
        font-size: 16px;
        line-height: 22px;
        color: @cl-raven;
    }

    &__link-wrapper-lvl2,
    &__link-wrapper-lvl3 {

        & + & {
            margin-top: 3vh;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 18px;
        color: @cl-raven;
        padding: 0 0 2vh;
    }

    &__list-lvl3 {
        margin: 3vh 0 0 70px;
    }

    &__box {
        position: relative;

        & + & {
            padding-top: 2vh;
            margin-top: 3vh;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: @cl-hawkes-blue;
            }
        }
    }

    &__account-wrapper {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 17vh;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 16px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 1px;
            background: @cl-hawkes-blue;
        }
    }

    &__account {
        display: inline-flex;
        align-items: center;
        color: @cl-fruit-salad;
        font-size: 22px;
        line-height: 24px;
        text-transform: uppercase;
        .roboto-medium();
        margin: auto;
    }

    &__production-link {
        font-size: 14px;
        line-height: 20px;
        color: @cl-raven;

        &--name {
            font-size: 13px;
            line-height: 15px;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            .roboto-medium();
            color: @cl-tuna;
        }

        &--catalog {
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            .roboto-medium();
            color: @cl-tuna;
            display: inline-block;
            margin-bottom: 1vh;
        }
    }

    &__production-item {

        & + & {
            margin-top: 1vh;
        }
    }

    &__list-lvl2 {
        margin: 0 auto auto;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__tm {
        margin-top: 5vh;
    }

    &__tm-box {
        display: flex;
        justify-content: space-between;
    }

    &__tm-link {
        // width: 30%;
        display: block;

        & + & {
            margin-left: 18px;
        }
    }

    &__tm-name {
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        .roboto-medium();
        color: @cl-madison;
        margin-bottom: 3vh;
    }
}