//- ====================
//- kontora: 404
//- 00-00-2017: 
//- --------------------
//- 404 страница.
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = '404'
    - var not_found = true
    - var bodyClass = 'light'

//- Модифицируем head
block head
    - var pageTitle = 'Страница не найдена';

//- Выводим content
block content
    
    include section/ui-kit/title.pug
    include section/ui-kit/button.pug

    +b('section').not-found.-js-full
        +title('h1', '404. Страница не найдена').-hidden
        .b-container
            +e.inner.-container
                +e.nums
                    +e.num 4
                    +e('svg').svg(viewBox='0 0 192 215')
                        +e('mask')(id='mask_not_found' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='192' height='215')
                            +e('path')(d='M87.6968 212.772C90.309 214.257 93.2944 215 96.0933 215C98.8921 215 101.878 214.257 104.303 212.772L183.603 167.284C188.828 164.313 192 158.929 192 152.988V62.0121C192 56.0708 188.641 50.6865 183.603 47.7159L104.303 2.22798C99.2653 -0.74266 92.7347 -0.74266 87.6968 2.22798L8.3965 47.7159C3.17201 50.6865 0 56.0708 0 62.0121V152.988C0 158.929 3.3586 164.313 8.3965 167.284L87.6968 212.772Z' fill='#D4DAE1')
                        +e('g')(mask='url(#mask_not_found)')
                            +e('image')(xlink:href='images/inhtml/not_found.jpg' width='100%' height='100%' preserveAspectRatio='xMidYMid slice' overflow='hidden').image
                    +e.num 4
                +e.content
                    +title('h2', 'Что-то пошло не&nbsp;так')
                    +e('p').text Страница, которую вы&nbsp;искали, не&nbsp;найдена. Но&nbsp;вы&nbsp;обязательно найдете что-нибудь в&nbsp;нашем каталоге.
                    +button('', true, '/catalog.html').--contact-button
                        span в каталог