extends ./template/base_layout

block variables
    - var file_name = 'about'
    - var bodyClass = 'light about'

//- Модифицируем head
block head
    - var pageTitle = 'О компании';

//- Выводим попапы
block popup

//- Выводим content
block content

    include section/ui-kit/nav.pug
    include section/lead.pug
    include section/achieve.pug
    include section/values.pug
    include section/directions.pug
    include section/facts.pug
    include section/geography.pug
    include section/learn-more.pug

    //- +nav({
    //-     items: [{
    //-         name: 'География закупок',
    //-         link: '#geography'
    //-     },{
    //-         name: 'СТМ',
    //-         link: '#values'
    //-     },{
    //-         name: 'Цикл производства',
    //-         link: '#directions'
    //-     },{
    //-         name: '#achieve',
    //-         link: '#achieve'
    //-     },{
    //-         name: 'О компании',
    //-         link: '#lead',
    //-         active: true
    //-     }],
    //-     vertical: true
    //- })

    +lead-about()#lead

    //- +achieve([
    //-     {
    //-         achieve: 'По&nbsp;результатам 2019 года компания &laquo;Грин Лайн&raquo; вошла в&nbsp;первую тройку рейтинга Нильсен, продав более 214 тысяч тонн продукции.',
    //-         icon: 'logo',
    //-         desc: 'Производственные мощности, состоящие из&nbsp;тоннельных печей и&nbsp;упаковочных линий для различных видов упаковки, позволяют производить от&nbsp;500&nbsp;000&nbsp;кг готовой продукции в&nbsp;месяц.' ,
    //-         image: '../images/content/directions/1.jpg'
    //-     },{
    //-         achieve: 'На&nbsp;Кавказе грецкий орех считается священным деревом. Некоторым произрастающем в&nbsp;этом регионе деревьям уже более 400&nbsp;лет.',
    //-         icon: '_download',
    //-         desc: 'Современный складской комплекс с&nbsp;поддержанием заданной температуры и&nbsp;влажности воздуха позволяет хранить сырье и&nbsp;готовую продукцию в&nbsp;соответствии с&nbsp;требованиями международных стандартов ISO 9001:2015 и&nbsp;FSSC 22000:2010.' ,
    //-         image: '../images/content/directions/2.jpg'
    //-     },{
    //-         achieve: 'Из&nbsp;фундука некогда изготавливались амулеты, призванные отпугивать нечистую силу и&nbsp;отводить беды.',
    //-         icon: 'route',
    //-         desc: 'Производственные мощности, состоящие из&nbsp;тоннельных печей и&nbsp;упаковочных линий для различных видов упаковки, позволяют производить от&nbsp;500&nbsp;000&nbsp;кг готовой продукции в&nbsp;месяц.' ,
    //-         image: '../images/content/directions/3.jpg'
    //-     },{
    //-         achieve: 'Орехи кешью помогают успокоить зубную боль. При этом в&nbsp;сыром виде кешью безвкусны, поэтому их&nbsp;обычно обжаривают',
    //-         icon: 'account',
    //-         desc: 'Современный складской комплекс с&nbsp;поддержанием заданной температуры и&nbsp;влажности воздуха позволяет хранить сырье и&nbsp;готовую продукцию в&nbsp;соответствии с&nbsp;требованиями международных стандартов ISO 9001:2015 и&nbsp;FSSC 22000:2010.' ,
    //-         image: '../images/content/directions/4.jpg'
    //-     },{
    //-         achieve: 'Активированный уголь, всем известное лекарство, делают из&nbsp;скорлупы грецких орехов',
    //-         icon: 'tech',
    //-         desc: 'Производственные мощности, состоящие из&nbsp;тоннельных печей и&nbsp;упаковочных линий для различных видов упаковки, позволяют производить от&nbsp;500&nbsp;000&nbsp;кг готовой продукции в&nbsp;месяц.' ,
    //-         image: '../images/content/directions/4.jpg'
    //-     }
    //- ]).--md40#directions

    +directions(
        'Производственный контур',
        [{
            image: 'images/content/directions/5.jpg',
            title: 'В&nbsp;зависимости от&nbsp;вида сырья Грин Лайн использует тоннельные или конвекционные печи',
            text: 'Тоннельные печи имеют несколько точек нагрева, точно распределяют тепло и&nbsp;контроль влажность. В&nbsp;конвекционных печах используются разнонаправленные потоки воздуха для однородного нагрева обрабатываемого продукта. Линии контролируются электроникой, поэтому на&nbsp;выходе получается равномерно прожаренный чистый продукт, сохранивший свою биологическую ценность.',
            dot: 'Калибровка'
        },{
            image: 'images/content/directions/2.jpg',
            text: 'В&nbsp;зависимости от&nbsp;вида сырья Грин Лайн использует тоннельные или конвекционные печи. Тоннельные печи имеют несколько точек нагрева, точно распределяют тепло и&nbsp;контроль влажность. В&nbsp;конвекционных печах используются разнонаправленные потоки воздуха для однородного нагрева обрабатываемого продукта. Линии контролируются электроникой, поэтому на&nbsp;выходе получается равномерно прожаренный чистый продукт, сохранивший свою биологическую ценность.',
            dot: 'обжарка'
        },{
            image: 'images/content/directions/3.jpg',
            text: 'Ассортимент натуральных добавок позволяет Грин Лайн усиливать естественный вкус орехов и&nbsp;создавать уникальные сочетания. Для равномерного покрытия орехов и&nbsp;прочности закрепления составов продукция проходит обработку масляным аэрозолем. В&nbsp;некоторых случаях влажная оболочка создается на&nbsp;основе муки и&nbsp;крахмалов.',
            dot: 'специрование'
        },{
            image: 'images/content/directions/4.jpg',
            text: 'Все орехи проходят обработку базовым составом, чтобы ореховое масло не&nbsp;проникло в&nbsp;шоколад. После продукция проходит глазирование специально разработанными шоколадными составами. Глазурь наносят в&nbsp;два слоя для безупречной гладкости и&nbsp;блеска, после чего выдерживают при температуре +18&nbsp;до&nbsp;завершения процесса.',
            dot: 'дражирование'
        },{
            image: 'images/content/directions/1.jpg',
            text: 'Грин Лайн подбирает упаковку для удобства использования и&nbsp;сохранности продукта, оформляя ее&nbsp;в&nbsp;соответствии с&nbsp;современными трендами продуктового дизайна. Вся упаковка безопасна для человека и&nbsp;природы. Персонал проходит регулярные гигиенические проверки, а&nbsp;оборудование эксплуатируется в&nbsp;условиях строгих санитарных правил. Также упаковка проходит тщательную проверку на&nbsp;целостность и&nbsp;функциональность',
            dot: 'фасовка и упаковка'
        },{
            image: 'images/content/directions/2.jpg',
            text: 'В&nbsp;складском комплексе Грин Лайн постоянно поддерживается необходимая температура и&nbsp;степень влажности. Мы&nbsp;храним сырье и&nbsp;готовую продукцию в&nbsp;соответствии со&nbsp;стандартами ISO 9001:2015 и&nbsp;FSSC 22000:2010. Логистический комплекс работает 24&nbsp;часа в&nbsp;сутки 7&nbsp;дней в&nbsp;неделю',
            dot: 'склад и логистика'
        }]
    ).--about#directions

    //- +values2(['Брифинг и&nbsp;разработка технического задания.', 
    //-     'Исследования категорий и&nbsp;конкурентной среды.', 
    //-     'Разработка бренда и&nbsp;системы фирменной идентификации.', 
    //-     'Разработка концепции оформления линейки продукции.', 
    //-     'Прототипирование и&nbsp;кастомизация упаковки, подбор материалов.', 
    //-     'Производство тиража упаковки.', 
    //-     'Фасовка, упаковка и&nbsp;поставка продукции.', 
    //-     'Полное маркетинговое сопровождение продукта.'
    //- ])#values


    //- +facts([
    //-     {
    //-         value: '9',
    //-         desc: 'с&nbsp;момента основания в&nbsp;2012 году',
    //-         text: 'ЛЕТ РАБОТЫ'
    //-     },{
    //-         value: '20',
    //-         desc: 'продукции ежедневно',
    //-         text: 'ТЫСЯЧ&nbsp;КГ'
    //-     },{
    //-         value: '214',
    //-         desc: 'объем продаж за&nbsp;2019 год',
    //-         text: 'ТЫСЯЧ ТОНН'
    //-     },{
    //-         value: '500',
    //-         desc: 'оборот за&nbsp;2018 год',
    //-         text: 'МИЛЛИОНОВ РУБЛЕЙ'
    //-     },{
    //-         value: '40',
    //-         desc: 'на&nbsp;7&nbsp;видов орехов',
    //-         text: 'SKU'
    //-     },{
    //-         value: 'ISO',
    //-         desc: 'система менеджмента качества',
    //-         text: 'НА ПРЕДПРИЯТИЯХ'
    //-     }
    //- ]).--md40#facts

    +geography([
        {
            'image': 'images/content/blog1.jpg',
            'name': 'Миндаль',
            'text': ' мы привозим из Чили. Именно там выращивают одни из лучших сортов крупного сладкого миндаля - "маркона" и "нонпарель".'
        },{
            'image': 'images/content/blog2.jpg',
            'name': 'Миндаль',
            'text': ' мы привозим из Чили. Именно там выращивают одни из лучших сортов крупного сладкого миндаля - "маркона" и "нонпарель".'
        },{
            'image': 'images/content/blog1.jpg',
            'name': 'Миндаль',
            'text': ' мы привозим из Чили. Именно там выращивают одни из лучших сортов крупного сладкого миндаля - "маркона" и "нонпарель".'
        },{
            'image': 'images/content/blog2.jpg',
            'name': 'Миндаль',
            'text': ' мы привозим из Чили. Именно там выращивают одни из лучших сортов крупного сладкого миндаля - "маркона" и "нонпарель".'
        },{
            'image': 'images/content/blog1.jpg',
            'name': 'Миндаль',
            'text': ' мы привозим из Чили. Именно там выращивают одни из лучших сортов крупного сладкого миндаля - "маркона" и "нонпарель".'
        }
    ]).--md40#geography

    +learn-more(
        false,
        [
        {title:'Онлайн-каталог'},
        {title: 'Поставщикам'}
    ]).--md40.--about