//- ====================
//- kontora: blog
//- 00-00-2017:
//- --------------------
//- Блог
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'blog'
    - var bodyClass = 'light blog'

//- Модифицируем head
block head
    - var pageTitle = 'Блог';

//- Выводим попапы
block popup

//- Выводим content
block content

    include section/ui-kit/nav.pug
    include section/ui-kit/card.pug
    include section/ui-kit/pagination.pug
    include section/ui-kit/title.pug
    
    +nav({
        items: [
            {
                name: 'новости компании',
                id: 'news',
                active: true
            },{
                name: 'МЕРОПРИЯТИЯ',
                id: 'activity'
            },{
                name: 'Отраслевые события',
                id: 'industry-events'
            },{
                name: 'ПОказать ВСЕ',
                id: 'all'
            }
        ],
        form: true
    })

    +b('section').blog-page
        .b-container
            +e.title-block.-container
                +title('h1', 'Блог')
            +e.inner
                +card('&laquo;Anuga&raquo;&nbsp;&mdash; мировые новинки под одной крышей в&nbsp;Кельне', '20.07.2020', '/images/content/blog2.jpg')
                +card('&laquo;Anuga&raquo;&nbsp;&mdash; мировые новинки под одной крышей в&nbsp;Кельне', '20.07.2020', '/images/content/blog2.jpg')
                +card('&laquo;Anuga&raquo;&nbsp;&mdash; мировые новинки под одной крышей в&nbsp;Кельне', '20.07.2020', '/images/content/blog2.jpg')
                +card('&laquo;Anuga&raquo;&nbsp;&mdash; мировые новинки под одной крышей в&nbsp;Кельне', '20.07.2020', '/images/content/blog2.jpg')
                +card('&laquo;Anuga&raquo;&nbsp;&mdash; мировые новинки под одной крышей в&nbsp;Кельне', '20.07.2020', '/images/content/blog2.jpg')
                +card('&laquo;Anuga&raquo;&nbsp;&mdash; мировые новинки под одной крышей в&nbsp;Кельне', '20.07.2020', '/images/content/blog2.jpg')
                +card('&laquo;Anuga&raquo;&nbsp;&mdash; мировые новинки под одной крышей в&nbsp;Кельне', '20.07.2020', '/images/content/blog2.jpg')
                +card('&laquo;Anuga&raquo;&nbsp;&mdash; мировые новинки под одной крышей в&nbsp;Кельне', '20.07.2020', '/images/content/blog2.jpg')
            +pagination({'items':
                [{
                    'number': '01'
                }, {
                    'number': '02'
                }, {
                    'number': '03'
                }, {
                    'number': '04'
                }]}, {
                'current': '0'
            })
                
