extends ./template/base_layout

block variables
    - var file_name = 'buyer'
    - var bodyClass = 'light deal'

//- Модифицируем head
block head
    - var pageTitle = 'Покупателям';

//- Выводим попапы
block popup

    include section/ui-kit/popup-form.pug

    +popup-form2()(data-popup='popup-form2')

//- Выводим content
block content

    include section/lead.pug
    include section/stm.pug
    include section/values.pug
    include section/learn-more.pug
    
    +lead-buyer()

    +stm()

    +values3(['Брифинг маркетинговой команды', 
        'Исследования категорий и&nbsp;конкурентной среды', 
        'Разработка бренда и&nbsp;системы фирменной идентификации', 
        'Разработка концепции оформления линейки продукции', 
        'Прототипирование и&nbsp;кастомизация упаковки, подбор материалов', 
        'Производство тиража упаковки', 
        'Фасовка, упаковка и&nbsp;поставка продукции', 
        'Полное маркетинговое сопровождение продукта'
    ])

    +learn-more(
        false,
        [
        {title: 'Онлайн-каталог'},
        {title: 'О компании'}
    ])