extends ./template/base_layout

block variables
    - var file_name = 'main'
    - var bodyClass = 'light catalog'

//- Модифицируем head
block head
    - var pageTitle = 'Каталог';

//- Выводим попапы
block popup

//- Выводим content
block content

    include section/catalog.pug

    +catalog([
        {
            title: 'Арахисовое ассорти (паприка, сметана и зелень, холодец с хреном), 250 г',
            image: 'sn/1',
            sum: '88 шт'
        },{
            title: 'Миндаль в белой шоколадной глазури, 50 г',
            image: 'sn/2',
            sum: '88 шт'
        },{
            title: 'Миндаль жареный в блестящей оболочке со вкусом копченостей, 500 г',
            image: 'sn/3',
            sum: '88 шт'
        },{
            title: 'Кешью жареный, 500 г',
            image: 'sn/4',
            sum: '88 шт'
        },{
            title: 'Кешью жареный в блестящей оболочке с розмарином, 200 г',
            image: 'sn/5',
            sum: '88 шт'
        },{
            title: 'Арахисовое ассорти (паприка, сметана и зелень, холодец с хреном), 250 г',
            image: 'sn/6',
            sum: '88 шт'
        },{
            title: 'Кешью жареный, 500 г',
            image: 'sn/7',
            sum: '88 шт'
        },{
            title: 'Арахис жареный соленый, 200 г',
            image: 'sn/1',
            sum: '88 шт'
        },{
            title: 'Арахисовое ассорти (паприка, сметана и зелень, холодец с хреном), 250 г',
            image: 'sn/2',
            sum: '88 шт'
        },{
            title: 'Арахисовое ассорти (паприка, сметана и зелень, холодец с хреном), 250 г',
            image: 'sn/3',
            sum: '88 шт'
        },{
            title: 'Арахисовое ассорти (паприка, сметана и зелень, холодец с хреном), 250 г',
            image: 'sn/4',
            sum: '88 шт'
        },{
            title: 'Арахисовое ассорти (паприка, сметана и зелень, холодец с хреном), 250 г',
            image: 'sn/5',
            sum: '88 шт'
        },{
            title: 'Арахисовое ассорти (паприка, сметана и зелень, холодец с хреном), 250 г',
            image: 'sn/6',
            sum: '88 шт'
        },{
            title: 'Арахисовое ассорти (паприка, сметана и зелень, холодец с хреном), 250 г',
            image: 'sn/7',
            sum: '88 шт'
        },{
            title: 'Арахисовое ассорти (паприка, сметана и зелень, холодец с хреном), 250 г',
            image: 'sn/1',
            sum: '88 шт'
        },{
            title: 'Арахисовое ассорти (паприка, сметана и зелень, холодец с хреном), 250 г',
            image: 'sn/2',
            sum: '88 шт'
        }
    ])