extends ./template/base_layout

block variables
    - var file_name = 'content'
    - var bodyClass = 'content'

//- Модифицируем head
block head
    - var pageTitle = 'Контент';

//- Выводим попапы
block popup

//- Выводим content
block content

    include section/head-block.pug
    include section/ui-kit/content-block.pug

    +head-block()

    .b-container.b-container--narrow
        .b-head-block__lead-hidden Из какого ореха делают клей? Кто украл орешки у королевы Елизаветы? Все знают, что орехи — это полезно. Но есть несколько фактов, которые могут удивить — о них и поговорим сегодня.

        +content-block({
            title: 'Подзаголовок + Текст + Фото',
            content: 'Арахис доступный орех и популярная закуска. Вы только попробуйте нашу тарелку-ассорти! Только вот он — совсем не орех. Арахис — это боб, совсем как горох или фасоль. Интересно, что из арахиса делают пластмассу, синтетические нитки, клей и вообще много используют его в химической промышленности.',
            image: 'images/content/img.jpg'
        })

        +content-block({
            title: 'Подзаголовок + Текст + Видео',
            content: 'А вот еще один не-орех: кокосовый орех на самом деле — семечко пальмы. Жидкость в нем — вовсе не кокосовое молоко, как привыкли считать. Кокосовое молоко получают при отжиме мякоти.',
            video: 'iframe width="560" height="315" src="https://www.youtube.com/embed/vjcLnVeGY0Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe'
        })

        +content-block({
            title: 'Подзаголовок + Текст + Карусель фото',
            content: 'Популярные у нас грецкие орехи называются так не потому, что их родина — Греция. На самом деле, грецкие орехи произошли из Азии, а вот на территорию России их начали ввозить греческие торговцы. Оттуда и пошло название «грецкий орех». В древнем Вавилоне грецкие орехи запрещали есть простым людям — считалось, что если съесть много орехов, можно поумнеть.',
            slides: [
                {
                    image: 'images/content/directions/1.jpg'
                },{
                    video: 'iframe width="560" height="315" src="https://www.youtube.com/embed/vjcLnVeGY0Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe'
                },{
                    image: 'images/content/directions/2.jpg'
                },{
                    image: 'images/content/directions/3.jpg'
                },{
                    image: 'images/content/directions/4.jpg'
                },{
                    image: 'images/content/directions/5.jpg'
                }
            ]
        })

        +content-block({})

            include section/ui-kit/title.pug
            +title('h2', 'Подзаголовок')
            +e('p').text Основной текст. Волошский орех еще называют грецким (более распространенное название). Однако тому, кто познакомится и историей этого ореха, придется признать, что второе название присвоено ему неправильно. Ведь родиной этого растения является Средняя Азия и некоторые районы Кавказа. Именно там оно было введено в культуру еще до нашей эры.
            +e('p').text.--bold Bold. Другие источники утверждают, что родиной этого ореха являются страны Средиземноморья.
            +e('p').text Но к нам его плоды завезли главным образом с Греции на Крымский полуостров и на территорию современной Украины, откуда и пошло название плодов “грецкий орех”.
            +e('ul').list.--ul
                +e.item На территориях первых поселений человека, обнаруженных археологами в Швейцарии, Италии и некоторых других странах, было найдено много грецких орехов. 
                +e.item Известия о них встречаются и в разных письменных памятках. 
                +e.item В книгах часто вспоминается про орехи, попавшие в Палестину с Персии, которую считали родиной этого ореха. 
                +e.item Воспоминания о грецком орехе можно найти и у древних римлян и скифов.
            +e('p').text Но к нам его плоды завезли главным образом с Греции на Крымский полуостров и на территорию современной Украины, откуда и пошло название плодов “грецкий орех”.
            +e('ol').list.--ol
                +e.item На территориях первых поселений человека, обнаруженных археологами в Швейцарии, Италии и некоторых других странах, было найдено много грецких орехов. 
                +e.item Известия о них встречаются и в разных письменных памятках. 
                +e.item В книгах часто вспоминается про орехи, попавшие в Палестину с Персии, которую считали родиной этого ореха. 
                +e.item Воспоминания о грецком орехе можно найти и у древних римлян и скифов.
            +e('p').text По мнению ученых, грецкие орехи исчезли в некоторых районах северной Европы вероятнее всего во время ледникового периода, но затем были снова занесены “варварами” и греко-римскими завоевателями.

        +content-block({})

            +e('blockquote').blockquote Цитата. К нам орехи завезли главным образом с Греции, откуда и пошло название плодов “грецкий орех”.

        +content-block({})

            +e('p').text Основной текст. Волошский орех еще называют грецким (более распространенное название). Однако тому, кто познакомится и историей этого ореха, придется признать, что второе название присвоено ему неправильно. Ведь родиной этого растения является Средняя Азия и некоторые районы Кавказа. Именно там оно было введено в культуру еще до нашей эры.


    include section/learn-more.pug
    +learn-more(
        'Читайте также',
        [{
            title: 'Международная продуктовая выставка «WorldFood» — обзор и перспективы участия', 
            date: '20.07.2020'
        },{
            title: 'Выставка «InterFood Siberia»', 
            date: '20.07.2020'
        }]).--content