extends ./template/base_layout

block variables
    - var file_name = 'deal'
    - var bodyClass = 'light deal'

//- Модифицируем head
block head
    - var pageTitle = 'Поставщикам';

//- Выводим попапы
block popup

//- Выводим content
block content

    //- include section/ui-kit/nav.pug
    include section/lead.pug
    include section/directions.pug
    include section/requirements.pug
    include section/managers.pug
    include section/questionnaire.pug
    include section/learn-more.pug
    
    //- +nav({
    //-     items: [{
    //-         name: 'Заполнить анкету',
    //-         link: '#questionnaire'
    //-     },{
    //-         name: 'Направления',
    //-         link: '#directions'
    //-     },{
    //-         name: 'Поставщикам',
    //-         link: '#lead',
    //-         active: true
    //-     }],
    //-     vertical: true
    //- })

    +lead()#lead

    +directions(
        'Направления закупок',
        [{
            image: 'images/content/directions/1.jpg',
            text: '&laquo;Грин Лайн&raquo; осуществляет закупки сырья орехов из&nbsp;14&nbsp;стран мира, а&nbsp;также заготавливает орехи с&nbsp;собственных арендованных плантаций. Мы&nbsp;всегда открыты к&nbsp;сотрудничеству. Будем рады видеть вас в&nbsp;числе наших партнеров!',
            dot: 'орехи и бобовые'
        },{
            image: 'images/content/directions/2.jpg',
            text: 'Поиск новых потенциальных поставщиков и&nbsp;производителей сухофруктов с&nbsp;объемами поставок более 10&nbsp;000&nbsp;кг.',
            dot: 'сухофрукты'
        },{
            image: 'images/content/directions/3.jpg',
            text: '&laquo;Грин Лайн&raquo; развивает собственное направление изготовления сухофруктов и&nbsp;заинтересовано в&nbsp;сотрудничестве с&nbsp;компаниями-поставщиками свежих фруктов и&nbsp;ягод: киви, ананаса, вишни, ягод годжи.',
            dot: 'ягоды и фрукты'
        },{
            image: 'images/content/directions/4.jpg',
            text: '&laquo;Грин Лайн&raquo; доставляет свою продукцию в&nbsp;более чем 30&nbsp;городов России, Украины, Белоруссии, используя автомобильный, мультимодальный и&nbsp;железнодорожный транспорт. Мы&nbsp;готовы рассматривать предложения от&nbsp;логистических компаний.',
            dot: 'Логистика'
        }]
    )#directions

    //- +requirements()#requirements

    //- +managers()#managers

    +questionnaire()#questionnaire

    +learn-more(
        false,
        [
        {title: 'Онлайн-каталог'},
        {title: 'О компании'}
    ]).--light