//- ====================
//- kontora: Gui
//- 00-00-2017:
//- --------------------
//- Gui
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'gui'

//- Модифицируем head
block head
    - var pageTitle = 'gui';

//- Выводим попапы
block popup
    //- ПопАпчики
    include section/ui-kit/popup.pug
    +popup()(data-popup='test')
        div(style='background-color: white; height: 999px; width: 400px;') Тестовый текст
            br
            a.link.js-close-popup( href='#', style='font-size: 25px;' ) Закрыть ПопАп

    include section/ui-kit/popup.pug
    +popup()(data-popup='test2')
        div(style='background-color: white; height: 229px; width: 150px;') Тестовый текст 2
            br
            a.link.js-close-popup( href='#', style='font-size: 25px;' ) Закрыть ПопАп

//- Выводим content
block content
    .b-container
        h1 Gui

        include section/ui-kit/text-block.pug
        +text-block()
            p
                a.link.js-open-popup( href='#', data-popup='test' ) Открыть попАп - 1
            p
                a.link.js-open-popup( href='#', data-popup='test2' ) Открыть попАп - 2

        include section/ui-kit/hr.pug
        +hr()
        //- Текстовые ссылки
        include section/ui-kit/link.pug
        +link({
            content: 'text',
            link: true,
            href: '#',
        }).--test(data-url="atribute")
        include section/ui-kit/link.pug
        +link({
            content: 'text',
            link: false,
            href: '#',
        }).js-class.-active(data-popup="open-test")

        include section/ui-kit/hr.pug
        +hr().--none
        //- Кнопки похожие на кнопки
        include section/ui-kit/button.pug
        +button({
            content: 'text',
            link: true,
            href: '#',
        }).--test(data-url="atribute")
        include section/ui-kit/button.pug
        +button({
            content: 'text',
            link: false,
            href: '#',
        }).js-class.-active(data-popup="open-test")

        include section/ui-kit/hr.pug
        +hr()
        include section/ui-kit/text-block.pug
        +text-block()
            p Параграф

        include section/ui-kit/hr.pug
        +hr()
        //- Подключаем иконочки icon-{НАЗВАНИЕ SVG ФАЙЛА}
        include section/ui-kit/icon.pug
        +icon('sort').--test
        include section/ui-kit/icon.pug
        +icon('sort')

        include section/ui-kit/hr.pug
        +hr()
        //- Табы с анимацией
        include section/ui-kit/tab.pug
        //- +tab()
        //-     +e.content.js-tab-content.-active(data-tab-content="1")
        //-         //- контент таба
        //-         p Test tab
        //-     +e.content.js-tab-content(data-tab-content="2")
        //-         //- контент таба
        //-         p Test tab 2
        //-     +e.content.js-tab-content(data-tab-content="3")
        //-         //- контент таба
        //-     +e.content.js-tab-content(data-tab-content="4")
        //-         //- контент таба
        //-     +e.content.js-tab-content(data-tab-content="5")
        //-         //- контент таба


        include section/ui-kit/hr.pug
        +hr()
        //- Инпут: +input(id, type, placeholder, name, value)
        include section/ui-kit/input.pug
        +input({
            id: 'id-test',
            type: 'password',
            placeholder: 'write inside me',
            name: 'name-test',
            value: 'value-test',
        }).-active(data-input="input-test")
        include section/ui-kit/input.pug
        +input({
            id: 'id-test2',
            type: 'text',
            placeholder: '',
            name: 'name-test',
            value: 'value-test',
        }).--test

        include section/ui-kit/hr.pug
        +hr()
        //- Хлебные крошки
        include section/ui-kit/breadcrumbs.pug
        +breadcrumbs(['Главная', 'неГлавная', 'другая'])

        include section/ui-kit/hr.pug
        +hr()
        //- Чекбокс: +checkbox(name, id, title)
        include section/ui-kit/checkbox.pug
        +checkbox({
            name: 'box-test',
            id: 'box-test-1',
            title: 'Значение 1',
            js: 'js-class',
        })
        include section/ui-kit/checkbox.pug
        +checkbox({
            name: 'box-test',
            id: 'box-test-2',
            title: 'Значение 2',
            js: '',
        }).--class

        include section/ui-kit/hr.pug
        +hr()
        //- Радио: +radio(textLabel, name, id, checked, js)
        include section/ui-kit/radio.pug
        +radio({
            textLabel: 'textLabel-1',
            name: 'radio-test',
            id: 'id-test-3',
            js: '',
            checked: 'checked',
            radio: false,
        })
        include section/ui-kit/radio.pug
        +radio({
            textLabel: 'textLabel-2',
            name: 'radio-test',
            id: 'id-test-4',
            js: '',
            checked: 'checked',
            radio: true,
        })

        include section/ui-kit/hr.pug
        +hr()
        //- Заголовок
        include section/ui-kit/title.pug
        +title({
            type: 'h1',
            title: 'Отзывы',
        }).--mod
        include section/ui-kit/title.pug
        +title({
            type: 'h2',
            title: 'title',
        })

        div(style='height: 200px;')
