//- Используем стандартный шаблон
extends ./template/index_layout

//- Модифицируем head
block head
    - var pageTitle = 'Страница иконок';

//- Выводим контент
block content
    ul
    
        li
            i(class="b-icon icon-.DS_Store")  .icon-.DS_Store
    
        li
            i(class="b-icon icon-account")  .icon-account
    
        li
            i(class="b-icon icon-_download")  .icon-_download
    
        li
            i(class="b-icon icon-arrow-down")  .icon-arrow-down
    
        li
            i(class="b-icon icon-arrow-left")  .icon-arrow-left
    
        li
            i(class="b-icon icon-arrow-right")  .icon-arrow-right
    
        li
            i(class="b-icon icon-business")  .icon-business
    
        li
            i(class="b-icon icon-card-arr")  .icon-card-arr
    
        li
            i(class="b-icon icon-conversation")  .icon-conversation
    
        li
            i(class="b-icon icon-card-plus")  .icon-card-plus
    
        li
            i(class="b-icon icon-delivery-box")  .icon-delivery-box
    
        li
            i(class="b-icon icon-download")  .icon-download
    
        li
            i(class="b-icon icon-download2")  .icon-download2
    
        li
            i(class="b-icon icon-filter")  .icon-filter
    
        li
            i(class="b-icon icon-innovation")  .icon-innovation
    
        li
            i(class="b-icon icon-logo")  .icon-logo
    
        li
            i(class="b-icon icon-mass-production")  .icon-mass-production
    
        li
            i(class="b-icon icon-menu-arr")  .icon-menu-arr
    
        li
            i(class="b-icon icon-mobile-arr")  .icon-mobile-arr
    
        li
            i(class="b-icon icon-more")  .icon-more
    
        li
            i(class="b-icon icon-next")  .icon-next
    
        li
            i(class="b-icon icon-ok")  .icon-ok
    
        li
            i(class="b-icon icon-prev")  .icon-prev
    
        li
            i(class="b-icon icon-route")  .icon-route
    
        li
            i(class="b-icon icon-send-popup")  .icon-send-popup
    
        li
            i(class="b-icon icon-send")  .icon-send
    
        li
            i(class="b-icon icon-sort")  .icon-sort
    
        li
            i(class="b-icon icon-sorting")  .icon-sorting
    
        li
            i(class="b-icon icon-tax")  .icon-tax
    
        li
            i(class="b-icon icon-tech")  .icon-tech
    
        li
            i(class="b-icon icon-up")  .icon-up
    