//- Используем стандартный шаблон
extends ./template/index_layout

//- Модифицируем head
block head
    - var pageTitle = 'Страница страниц';

//- Выводим контент
block content
    ul
    
        li
            a(href=".htaccess") .htaccess
    
        li
            a(href="404.html") 404
    
        li
            a(href=".htpasswd") .htpasswd
    
        li
            a(href="about.html") about
    
        li
            a(href="blog-general.html") blog-general
    
        li
            a(href=".DS_Store") .DS_Store
    
        li
            a(href="buyer.html") buyer
    
        li
            a(href="catalog.html") catalog
    
        li
            a(href="contacts.html") contacts
    
        li
            a(href="content.html") content
    
        li
            a(href="deal.html") deal
    
        li
            a(href="gui.html") gui
    
        li
            a(href="iconlist.html") iconlist
    
        li
            a(href="main.html") main
    
        li
            a(href="product.html") product
    