//- ====================
//- kontora: main
//- 00-00-2017:
//- --------------------
//- Главная страница.
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'main'

//- Модифицируем head
block head
    - var pageTitle = 'Главная страница';

//- Выводим попапы
block popup

//- Выводим content
block content

    include section/ui-kit/title.pug
    include section/ui-kit/text-block.pug
    include section/ui-kit/icon.pug

    include section/head-block-slider.pug
    include section/production.pug
    include section/manufacture.pug
    include section/work-with-us.pug
    include section/form.pug
    include section/blog.pug
    include section/certificates.pug
    include section/values.pug

    +head-block-slider()

    +production([
        {
            name: 'Орехи',
            sum: '24 позиции',
            image: 'images/inhtml/nuts.png'
        },{
            name: 'Смеси',
            sum: '24 позиции',
            image: 'images/inhtml/mix.png'
        },{
            name: 'Кондитерские изделия',
            sum: '24 позиции',
            image: 'images/inhtml/dragee.png'
        },{
            name: 'Рыбные снеки',
            sum: '24 позиции',
            image: 'images/inhtml/dried-fruits.png'
        }
    ])

    //- +manufacture([
    //- 	{
    //- 		value: '20',
    //- 		desc: 'продукции ежедневно',
    //- 		text: 'ТЫСЯЧ&nbsp;КГ'
    //- 	},{
    //- 		value: '5',
    //- 		desc: 'производят орехи и&nbsp;сухофрукты',
    //- 		text: 'ЗАВОДОВ'
    //- 	},{
    //- 		value: '21',
    //- 		desc: 'из&nbsp;32&nbsp;стран мира',
    //- 		text: 'ПОСТАВЩИК'
    //- 	},{
    //- 		value: '2500',
    //- 		desc: 'работают в&nbsp;компании',
    //- 		text: 'СОТРУДНИКОВ'
    //- 	},{
    //- 		value: 'ISO',
    //- 		desc: 'система менеджмента качества',
    //- 		text: 'НА&nbsp;ПРЕДПРИЯТИЯХ'
    //- 	}
    //- ])

    +values([
        {
            icon: 'business',
            text: 'комплексные партнерские бизнес-решения'
        },{
            icon: 'tax',
            text: 'полная налоговая прозрачность'
        },{
            icon: 'mass-production',
            text: 'отлаженный цикл производства и поставок, контроль каждого этапа от грядки до отгрузки клиенту'
        },{
            icon: 'delivery-box',
            text: 'адекватное ценообразование, основанное на видении бизнес-системы партнера'
        },{
            icon: 'conversation',
            text: 'комфортное дружеское общение во время сотрудничества'
        },{
            icon: 'innovation',
            text: 'постоянный мониторинг рынка и разработка инновационных решений'
        }
    ]).--main

    +work-with-us([
        {
            link: 'javascript:void(0);',
            image: '/images/content/markets/ozon.png'
        },{
            link: 'javascript:void(0);',
            image: '/images/content/markets/azbuka-vkusa.png'
        },{
            link: 'javascript:void(0);',
            image: '/images/content/markets/perekryostok.png'
        },{
            link: 'javascript:void(0);',
            image: '/images/content/markets/pyaterochka.png'
        },{
            link: 'javascript:void(0);',
            image: '/images/content/markets/wildberries.png'
        },{
            link: 'javascript:void(0);',
            image: '/images/content/markets/yandex.png'
        },{
            link: 'javascript:void(0);',
            image: '/images/content/markets/ozon.png'
        },{
            link: 'javascript:void(0);',
            image: '/images/content/markets/azbuka-vkusa.png'
        },{
            link: 'javascript:void(0);',
            image: '/images/content/markets/perekryostok.png'
        },{
            link: 'javascript:void(0);',
            image: '/images/content/markets/pyaterochka.png'
        },{
            link: 'javascript:void(0);',
            image: '/images/content/markets/wildberries.png'
        },{
            link: 'javascript:void(0);',
            image: '/images/content/markets/yandex.png'
        }
    ])
    
    +form()

    +blog()

    //- +certificates([
    //-     '/images/content/certificates/1.jpg',
    //-     '/images/content/certificates/2.jpg',
    //-     '/images/content/certificates/3.jpg',
    //-     '/images/content/certificates/4.jpg',
    //-     '/images/content/certificates/2.jpg',
    //-     '/images/content/certificates/3.jpg',
    //-     '/images/content/certificates/4.jpg',
    //-     '/images/content/certificates/1.jpg',
    //-     '/images/content/certificates/3.jpg'
    //- ])

    +b.blog.--cooperation
        .b-container
            +e.title-block.-container
                +title('h2', 'Хотите с&nbsp;нами<br>сотрудничать?')
                +e.wrap
                    +text-block()
                        p Мы&nbsp;заинтересованы в&nbsp;сотрудничестве с&nbsp;крупными производителями и&nbsp;поставщиками орехов и&nbsp;сухофруктов.

                    +e.link-wrapper
                        +e('a').link
                            +icon('next')
                            +e Узнать подробнее