extends ./template/base_layout

block variables
    - var file_name = 'main'
    - var bodyClass = 'light'

//- Модифицируем head
block head
    - var pageTitle = 'Продукт';

//- Выводим попапы
block popup

//- Выводим content
block content

    include section/ui-kit/breadcrumbs.pug
    include section/ui-kit/title.pug
    include section/ui-kit/accordion.pug
    include section/ui-kit/button.pug
    include section/ui-kit/tooltip.pug
    include section/more-slider.pug

    +b('article').product
        .b-container.b-container--wide
            
            +breadcrumbs('Главная', 'Каталог', 'Сухофрукты', 'Чернослив отборный')

            +e.inner

                +e.image-box
                    
                    +e.image-wrapper
                        +e.image-slider.js-image-slider
                            +e.slide
                                +e.slide-box
                                    img(src='/images/catalog/sn/1.png', alt='')
                            +e.slide
                                +e.slide-box
                                    img(src='/images/catalog/sn/2.png', alt='')
                            +e.slide
                                +e.slide-box
                                    img(src='/images/catalog/sn/3.png', alt='')
                            +e.slide
                                +e.slide-box
                                    img(src='/images/catalog/sn/4.png', alt='')
                            +e.slide
                                +e.slide-box
                                    img(src='/images/catalog/sn/5.png', alt='')
                        +e.slider-pagination
                            +e.dots.-js-image-dot(data-item='1')
                                +e.slide-box
                                    img(src='/images/catalog/sn/1.png', alt='')
                            +e.dots.-js-image-dot(data-item='2')
                                +e.slide-box
                                    img(src='/images/catalog/sn/2.png', alt='')
                            +e.dots.-js-image-dot(data-item='3')
                                +e.slide-box
                                    img(src='/images/catalog/sn/3.png', alt='')
                            +e.dots.-js-image-dot(data-item='4')
                                +e.slide-box
                                    img(src='/images/catalog/sn/4.png', alt='')
                            +e.dots.-js-image-dot(data-item='5')
                                +e.slide-box
                                    img(src='/images/catalog/sn/5.png', alt='')
                +e.feed
                    +title('h3', 'Приобрести продукцию')
                    +e.feed-text Хотите получить больше информации и приобрести нашу продукцию? Напишите нам!
                    +button('Написать')(data-popup='popup-form').--contact-button.-js-open-popup

                +e.lead-box

                    +title('h1', 'Арахис жареный солёный, 100&nbsp;г (ТМ&nbsp;&laquo;Seven Nuts&raquo;)')
                    +e.header-text
                        +e.row
                            +e.name Наименование сырья:
                            +e.value--block Ядра арахиса сырые бланшированные  (без кожуры)
                        +e.row
                            +e.name Категория:
                            +tooltip('product-tooltip')
                                +e здесь отображается примечание
                            +e.value W450
                        +e.row
                            +e.name Страна происхождения:
                            +e.value.--block Вьетнам, Индия

                +e.acc-box
                    +accordion([
                        {
                            title: 'Переработка',
                            items: [
                                {
                                    name: 'Термообработка:',
                                    value: 'Обжарка в печи тоннельного типа при t150-165C'
                                },{
                                    name: 'Бланшировка',
                                    value: 'Бланшировка до 97 %'
                                },{
                                    name: 'Соление:',
                                    value: '2,5%-3,0% в водно-солевом растворе перед обжаркой'
                                },{
                                    name: 'Специрование:',
                                    value: 'Нет'
                                },{
                                    name: 'Ручная переработка:',
                                    value: 'Нет'
                                },{
                                    name: 'Дополнительно:',
                                    value: 'Удаление инородных примесей при визуальном осмотре'
                                }
                            ]
                        },{
                            title: 'Фасовка',
                            items: [
                                {
                                    name: 'Упаковка',
                                    value: 'Прозрачный пакет'
                                },{
                                    name: 'Автоматическая / Ручная:',
                                    value: 'Автоматическая, на упакмашинах вертикального типа'
                                },{
                                    name: 'Упаковочные материалы:',
                                    value: 'В работе'
                                },{
                                    name: 'Вес нетто товара, кг.',
                                    value: '0,1'
                                },{
                                    name: 'Вложение товара в короб, шт:',
                                    value: '12'
                                },{
                                    name: 'Коробов на паллете, шт.:',
                                    value: '216'
                                },{
                                    name: 'Упаковка на паллете, шт.:',
                                    value: '2 592'
                                },{
                                    name: 'Вес короба, кг:',
                                    value: '1,2'
                                },{
                                    name: 'Тип и размер короба:',
                                    value: 'Т-22, 370*190*70'
                                },{
                                    name: 'Вес паллета, кг:',
                                    value: '260'
                                },{
                                    name: 'Размер паллета (евро), см:',
                                    value: '1200*800'
                                }
                            ]
                        },{
                            title: 'Состав и пищевая ценность',
                            items: [
                                {
                                    name: 'Состав:',
                                    value: 'Ядро кешью жареное. Может содержать следы других орехов, арахиса, кунжута и фрагменты скорлупы. Продукт готов к употреблению.'
                                },{
                                    name: 'Пищевая ценность: (средние значения на 100 г продукта)',
                                    value: 'Белки – 21 г, жиры – 51 г, углеводы – 19 г, энергетическая ценность – 620 ккал/2570 кДж.'
                                }
                            ]
                        }
                    ])
                    +e.footer-text
                        +e.row
                            +e.name Хранение:
                            +e.value.--block Хранить при температуре (18±3)°С  и относительной влажности воздуха не более 75%
                        +e.row
                            +e.name Срок годности:
                            +e.value 6 месяцев
                        +e.row-icon
                            +e('img').icon(src='images/inhtml/eac.svg', alt='', title='EAC (EurAsian Conformity, «Евразийское соответствие») – единый знак обращения продукции на рынке государств–членов Таможенного союза стран Евразийского экономического союза (ЕАЭС), включающего Россию, Беларусь, Казахстан, Армению, Киргизию. Данный знак подтверждает соответствие продукции минимальным требованиям союза.')
                            +e('img').icon(src='images/inhtml/food.svg', alt='', title='Нетоксичный материал — изделие изготовлено из материала (обычно — пластик), который нетоксичен и может соприкасаться с пищевыми продуктами. Применяется на пластиковой (одноразовой) посуде, кухонной технике, иногда на упаковке продуктов питания.')
                            +e('img').icon(src='images/inhtml/5pp.svg', alt='', title='5. PP (ПП) — полипропилен (используется в автомобильной промышленности для оборудования и бамперов, а также для игрушек, одноразовой посуды, зубных щеток и т.п.; безопасен для пищевого использования);')

            +e.more
                +title('h3', 'Этот продукт в других упаковках')
                +more-slider([
                    {
                        title: 'Арахисовое ассорти (паприка, сметана и зелень, холодец с хреном), 250 г',
                        image: 'sn/1',
                        sum: '88 шт'
                    },{
                        title: 'Миндаль в белой шоколадной глазури, 50 г',
                        image: 'sn/2',
                        sum: '88 шт'
                    },{
                        title: 'Арахисовое ассорти (паприка, сметана и зелень, холодец с хреном), 250 г',
                        image: 'sn/3',
                        sum: '88 шт'
                    },{
                        title: 'Миндаль в белой шоколадной глазури, 50 г',
                        image: 'sn/4',
                        sum: '88 шт'
                    },{
                        title: 'Арахисовое ассорти (паприка, сметана и зелень, холодец с хреном), 250 г',
                        image: 'sn/5',
                        sum: '88 шт'
                    },{
                        title: 'Миндаль в белой шоколадной глазури, 50 г',
                        image: 'sn/6',
                        sum: '88 шт'
                    },{
                        title: 'Арахисовое ассорти (паприка, сметана и зелень, холодец с хреном), 250 г',
                        image: 'sn/1',
                        sum: '88 шт'
                    },{
                        title: 'Миндаль в белой шоколадной глазури, 50 г',
                        image: 'sn/7',
                        sum: '88 шт'
                    }
                ])