.b-values {
    padding: 60px 0 48px;
    position: relative;

    &__list {
    	width: 288px;
    	height: 330px;
    	position: relative;
    	padding: 0;
    	margin: 36px auto 0;
    	background: url('../images/content/logo.svg') center center no-repeat;
    	background-size: 94px;

        &--img {
            background: transparent;
        }
    }

    &__item {
    	position: absolute;
    	left: ~'calc(50% - 44px)';
    	top: ~'calc(50% - 75px)';
    	width: 88px;
    	height: 150px;
    	list-style: none;
    	padding: 0;

    	&:nth-child(1) {
    		transform: rotate(0) translateX(-100px);

    		.b-icon {
    			transform: rotate(0);
    		}
    	}

    	&:nth-child(2) {
    		transform: rotate(60deg) translateX(-100px);

    		.b-icon {
    			transform: rotate(-60deg);
    		}
    	}

    	&:nth-child(3) {
    		transform: rotate(120deg) translateX(-100px);

    		.b-icon {
    			transform: rotate(-120deg);
    		}
    	}

    	&:nth-child(4) {
    		transform: rotate(180deg) translateX(-100px);

    		.b-icon {
    			transform: rotate(-180deg);
    		}
    	}

    	&:nth-child(5) {
    		transform: rotate(240deg) translateX(-100px);
    		
    		.b-icon {
    			transform: rotate(-240deg);
    		}
    	}

    	&:nth-child(6) {
    		transform: rotate(300deg) translateX(-100px);

    		.b-icon {
    			transform: rotate(-300deg);
    		}
    	}
    }

    &__img {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }

    &__svg {
    	width: 100%;
    	height: 100%;
    	transition: fill .5s ease-out;
    }

    &__link {
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	width: 100%;
    	height: 100%;
    	transition: transform .5s ease-out;

    	&.active {
    		transform: translateX(-16px);
    	}
    }

    &__link.active & {
    		
		&__svg {
			fill: @cl-fruit-salad;
		}

		&__icon {
			color: @cl-white;
		}
	}

    &__icon {
    	position: relative;
    	font-size: 44px;
    	color: @cl-fern;
    	transition: color .5s ease-out;
    }

    &--buyer {
        background: @cl-alice-blue;
        padding-bottom: 0;
    }

    &__before-after {
        position: relative;
        width: 100%;
        max-width: 380px;
        margin: auto;
    }

    .twentytwenty-wrapper {
        margin-top: 32px;
    }
}