.b-values {
    padding: 110px 0 100px;

	&--main {
		padding-bottom: 88px;
	}

    &__list {
    	width: 500px;
    	height: 580px;
    	background-size: 150px;
    	flex-shrink: 0;
        margin: 48px auto 0;
    }

    &__item {
    	left: ~'calc(50% - 81.5px)';
    	top: ~'calc(50% - 138px)';
    	width: 163px;
    	height: 276px;

    	&:nth-child(1) {
    		transform: rotate(0) translateX(-170px);
    	}

    	&:nth-child(2) {
    		transform: rotate(60deg) translateX(-170px);
    	}

    	&:nth-child(3) {
    		transform: rotate(120deg) translateX(-170px);
    	}

    	&:nth-child(4) {
    		transform: rotate(180deg) translateX(-170px);
    	}

    	&:nth-child(5) {
    		transform: rotate(240deg) translateX(-170px);
    	}

    	&:nth-child(6) {
    		transform: rotate(300deg) translateX(-170px);
    	}
    }

    &__icon {
    	font-size: 64px;
    }

    .twentytwenty-wrapper {
        margin-top: 60px;
    }

    &--buyer {
        padding-bottom: 0;
    }
}