.b-values {
	padding: 136px 0 146px;

	&__list {
		transform: none;
		margin-top: -21px;
	}

	&--md40 {
		margin-top: 40px;
	}

	&--buyer {
		padding: 86px 0 40px;
	}

	// &--buyer & {

	// 	&__inner {
	// 		padding: 0 10% 0 8%;
	// 	}
	// }

	// &__list {
	// 	width: 500px;
    // 	height: 580px;
    // 	transform: none;
	// }
}