.b-content-block {
    margin: 52px 0;

    &__text {
        margin: 14px 0;
        font-size: 16px;
        line-height: 24px;

        &--bold {
            .roboto-medium();
        }
    }

    &__content {
        position: relative;
        padding-bottom: 56.25%;
        width: 100%;
        height: 0;
        overflow: hidden;
        margin: 18px 0;

        iframe,
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-width: 0;
            outline-width: 0;
        }

        img {
            object-fit: cover;
            font-family: "object-fit: cover;";
        }

        // iframe {
        //     object-fit: none;
        // }
    }

    &__slide &__content {
        margin: 0;

        &:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
            background-color: rgba(44, 59, 75, 0.3);
  			backdrop-filter: blur(6px);
  			transition: opacity .7s ease-out;
		}
    }

    .slick-current &__content:after {
        opacity: 0;
        z-index: -1;
    }

    &__list {
        margin: 14px 0;
        padding: 0;
        list-style-type: none; 
        counter-reset: num; 
    }

    &__item {
        list-style: none;
        padding-left: 48px;
        position: relative;
        margin: 14px 0;
        font-size: 16px;
        line-height: 24px;
    }

    &__list--ul &__item {

        &:before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 14px;
			width: 10px;
			height: 10px;
            border-radius: 50%;
            background-color: @cl-tuna;
		}
    }

    &__list--ol &__item {

        &:before {
		    content: counter(num) '.';
		    counter-increment: num;
		    position: absolute;
		    top: 50%;
		    left: 0;
            transform: translateY(-50%);
            .roboto-medium();
            font-size: 24px;
            line-height: 32px;
		}

		&:nth-child(-n+9):before {
			content: '0' counter(num) '.';
		}
    }

    &__blockquote {
        text-transform: none;
        font-size: 24px;
        line-height: 34px;
        margin: auto;
    }

    &__slider {
        position: relative;
    }

    &__slide {
        width: ~'calc(100vw - 32px)';
    }

    &__arrows {
        width: 100%;
        margin: 36px 0 0;
        pointer-events: none;
	}

	&__arrows-inner {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__pagination {
	    z-index: 3;
        pointer-events: none;
        margin-bottom: 11px;

	    & * {
	    	pointer-events: none;
	    }
	}

	&__pagination-inner {
		display: flex;
		color: @cl-tuna;
	}

	&__num-total-slides {
		opacity: .6;
        .roboto-light();
        font-size: 18px;
        line-height: 30px;
	}

	&__num-active-slide {
        font-size: 24px;
        line-height: 34px;
        margin-right: 8px;
        color: @cl-tuna;
	}
}