// .b-content-block {

//     &__arrows {
//         margin: 0;
//         position: absolute;
//         left: -94px;
//         bottom: 232px;
//         width: ~'calc(100% + 188px)';
//     }

//     &__arrows-inner {
//         justify-content: space-between;
//     }
// }
.b-content-block {
    
    &__slide {
        width: 898px;
        margin: 0 56px;
    }
}