.b-content-block {
    margin: 54px 0;

    &__text,
    &__item {
        .roboto-light();
        font-size: 18px;
        line-height: 30px;

        &--bold {
            .roboto-medium();
        }
    }

    &__text {
        margin: 18px 0;
    }

    &__list {
        max-width: 825px;
        margin: 18px auto;
    }

    &__item {
        padding-left: 64px;
        margin: 8px 0;
    }

    &__list--ul &__item {

        &:before {
            left: 24px;
        }
    }

    &__slide {
        width: ~'calc(100vw - 64px)';
    }

    &__arrows {
        margin: 40px 0 0;
    }

    &__pagination {
        margin-bottom: 8px;
    }

    &__content {
        padding-bottom: 55.25%;
    }
}