.b-contact-card {
    margin: 0 0 57px;
    display: flex;
    flex-direction: column;
    
	&__phone {
        .roboto-medium();
		font-size: 18px;
        line-height: 28px;
        color: @cl-raven;
        display: block;
        transition: color .3s ease-out;
        margin: 0 0 10px;

        &--main {
            font-size: 30px;
            line-height: 36px;
            font-weight: bold;
            color: @cl-tuna;
            margin-bottom: 8px;
        }

        .no-touchevents &:hover,
		.touchevents &:active {
            color: @cl-pale-sky;
        }
    }

    &__property {
        font-size: 16px;
        line-height: 20px;
        color: @cl-tuna;
    }

    &__proviso {
        font-size: 16px;
        line-height: 20px;
        color: @cl-raven;
        margin-top: 4px;
    }
    
    &__email {
        font-size: 18px;
        line-height: 30px;
        display: inline-block;
        margin: 0 0 10px;
        position: relative;
        transition: color .3s ease-out;
        .roboto-light();
        color: @cl-raven;

        .no-touchevents &:hover,
		.touchevents &:active {
            color: @cl-pale-sky;
        }
    }

    &__address {
        font-style: normal;
        font-size: 18px;
        line-height: 30px;
        .roboto-light();
        color: @cl-raven;
    }

    &:not(&--main) & {

        &__text-groupe {
            margin: 0 0 35px;
        }
    }

    &--main {
        position: relative;
        padding: 26px 0;
        margin: 0 0 30px;
        
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            height: 100%;
            background: @cl-alice-blue;
            z-index: -1;
        }
    }

    &--main & {

        &__property {
            .roboto-medium();
        }
    }
}