.b-contact-card {
    flex-direction: column;

    &:not(&--main) {
        width: ~'calc(100% / 3)';
    }

    &__text-groupe {
        margin-right: 0;
        margin-bottom: auto;
        width: 356px;
    }

    &__phone {
        margin: 0 0 19px;
    }

    &--main & {

        &__text-groupe {
            padding-left: ~'calc(100% / 3)';
            width: 100%;
        }
    }
}