.b-contact-card {
    margin: 0 0 49px;

    &__text-groupe {
        width: 336px;
        margin-right: auto;
    }

	&__phone {

        &--main {
            font-size: 30px;
            line-height: 40px;
        }
    }

    &__proviso {
        line-height: 24px;
    }
}