.b-menu {
	display: block;
	height: 100%;

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100vw;
		height: 1px;
		background-color: @cl-hawkes-blue;
		opacity: 0;
		// transition: opacity .1s ease-out;
		z-index: 1;
		// border-bottom: 1px solid @cl-hawkes-blue;
	}

	.hover-menu &:before {
		opacity: 1;
	}

	&__list {
		position: relative;
		display: flex;
		align-items: stretch;
		padding: 0;
		height: 100%;
		z-index: 1;
	}

	&__item {
		list-style: none;
		display: flex;
		align-items: center;
		padding: 0 1.4vw;
		cursor: pointer;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	&__link {
		.roboto-medium();
		color: @cl-white;
		font-size: 13px;
		line-height: 13px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		transition: color .3s ease;

		&--about {

			body.about & {
				opacity: 1;
				color: @cl-tuna;
			}
		}

		&--catalog {

			body.catalog & {
				opacity: 1;
				color: @cl-tuna;
			}
		}

		&--contacts {

			body.contacts & {
				opacity: 1;
				color: @cl-tuna;
			}
		}

		&--blog {

			body.blog & {
				opacity: 1;
				color: @cl-tuna;
			}
		}

		&--deal {

			body.deal & {
				opacity: 1;
				color: @cl-tuna;
			}
		}
	}

	&__wrap-bg {
		position: absolute;
		top: 0;
		left: 50%;
		// padding-top: 23px;
		transition: height .4s ease-out;
		transform: translateX(-50%);
		background-color: @cl-white;
		width: 100vw;
		height: 0;
		opacity: 0;
		pointer-events: none;
	}

	&__wrap {
		position: absolute;
		top: 100%;
		left: 0;
		height: 0;
		transition: height .6s ease-out;
		overflow: hidden;
		opacity: 0;
	
		// display: none;

		.is-expand & {
			opacity: 1;
		}		
	}

	&__wrap-inner {
		display: flex;
		padding: 46px 0 0;
	}

	&__list-lvl2 {
		flex-shrink: 0;
		width: 225px;
		padding-right: 20px;
		padding-bottom: 48px;
	}

	&__link-wrapper-lvl2 + &__link-wrapper-lvl2 {
		margin-top: 18px;
	}

	&__link-wrapper-lvl3 + &__link-wrapper-lvl3 {
		margin-top: 7px;
	}

	&__list-lvl3 {
		margin: 7px 0 0 42px; 
	}

	&__link-lvl2,
	&__link-lvl3,
	&__production-link {
		overflow: hidden;
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		color: @cl-raven;

		&--hidden {
			color: @cl-hawkes-blue;
			pointer-events: none;
		}

		.b-icon:before {
			transform: translateX(-36px);
			transition: transform .3s ease;
		}

		span {
			margin-left: -36px;
			transition: margin .3s ease;
		}

		.no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-fruit-salad;

			.b-icon:before {
				transform: translateX(0);
			}

			span {
				margin-left: 0;
			}
		}

		&--online {

			.b-icon:before {
				transform: none;
			}

			span {
				margin-left: 0;
			}

			.no-touchevents &:hover,
			.touchevents &:active {
				.b-icon:before {
					animation: online-arrow .7s linear 1;
				}
			}
		} 
	}

	&__link-lvl2 {
		.roboto-medium();
		font-size: 13px;
		line-height: 13px;
		text-transform: uppercase;
	}

	&__link-lvl3 {
		font-size: 14px;
		line-height: 18px;
	}

	&__img {
		width: 380px;
		height: 190px;
		object-fit: cover;
        font-family: "object-fit: cover;";
	}

	&__image-wrapper {
		padding-bottom: 54px;
	}

	&__column {
		width: 536px;
		position: relative;
		flex-shrink: 0;

		&:before {
			content: '';
			position: absolute;
			right: 0;
			top: -54px;
			width: 1px;
			height: ~'calc(100% + 108px)';
			background: @cl-hawkes-blue;
		}
	}

	&__box {
		margin: 14px 0 0 77px;
		width: 185px;
		flex-shrink: 0;
	}

	&__text {
		font-size: 14px;
		line-height: 18px;
		color: @cl-raven;
		margin-bottom: 20px;
	}

	&__link-logo {
		display: block;
		transition: transform .3s ease;

		.no-touchevents &:hover,
		.touchevents &:active {
			transform: scale(1.05);
		}
	}

	&__production {
		display: flex;
		flex-direction: column;
		margin-right: 60px;
	}

	&__production-box {
		display: flex;
		padding: 0 0 22px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: @cl-hawkes-blue;
		}
	}

	&__production-col {
		width: 150px;
		display: flex;
		flex-direction: column;

		& + & {
			margin-left: 16px;
		}
	}

	&__production-name {
		height: 40px;
		color: @cl-tuna;
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		.roboto-medium();
	}

	&__production-link {
		color: @cl-raven;
		font-size: 14px;
		line-height: 20px;
	}

	&__production-item {
		margin: 8px 0 0;
	}

	&__production-link-wrap {
		padding: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__production-link-all {
		color: @cl-tuna;
		font-size: 13px;
		line-height: 15px;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		.roboto-medium();
	}

	&__tm {
		width: 125px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__tm-name {
		height: 40px;
		color: @cl-ghost;
		margin-bottom: 8px;
		font-size: 13px;
		line-height: 15px;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		.roboto-medium();
	}

	&__tm-link {
		display: block;
		width: 74px;
		height: 74px;

		& + & {
			margin-top: 14px;
		}

		.no-touchevents &:hover,
		.touchevents &:active {

			img {
				transform: scale3d(1.05, 1.05, 1.05);
			}
		}
	}

	&__tm-logo {
		width: 100%;
		min-height: 100%;
		object-fit: contain;
        font-family: "object-fit: contain;";
		transition: transform .3s ease-out;
	}

	&__line {
		display: block;
	}

	.light &,
	.hover-menu &,
	.header-color & {

		&__link {
			color: @cl-raven;
			opacity: .7;

			&:hover,
			&:active {
				opacity: 1;
				color: @cl-tuna;
			}
		}
	}

	// .header-color & {

	// 	&__wrap {
	// 		padding-top: 15px;
	// 	}
	// }
}