.b-menu {
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	&__item {
		pointer-events: auto;
	}

	&__line {
		display: none;
		list-style: none;
		position: absolute;
		z-index: 5;
		left: 0;
		bottom: -1px;
		width: 0;
		height: 3px;
		background: #3AAA35;
		border-radius: 1px;
		transition: all .3s ease;
	}
}