/* 320 + */
.b-popup {
    display: none;
    align-items: center;
    position: fixed;
    -webkit-overflow-scrolling: touch;
    z-index: 15000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(44, 59, 75, 0.4);
    .roboto-regular();

    &__fix-scroll {
        display: flex;
        width: ~"calc(100vw - 40px)";
        margin-left: 20px;
        padding: 20px 0;
        margin-right: auto;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 100%;
    }

    &__content {
        margin: auto;
    }

    &.open {
        display: block;
    }

    &--send & {
        
        &__content {
            position: relative;
            width: 288px;
            background: @cl-white;
            border-radius: 12px;
            padding: 76px 38px 43px;
        }

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__text {
            text-align: center;
            color: @cl-raven;
            font-size: 16px;
            line-height: 26px;
            width: 100%;

            span {
                display: block;
            }
        }
    }

    &--form & {

        &__content {
            position: relative;
            width: 288px;
            background: @cl-alice-blue;
            border-radius: 12px;
            padding: 25px 20px 31px;
        }
    }
}