/* 768 + */
.b-popup {

    &--send & {
        
        &__content {
            width: 672px;
            box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
			border-radius: 20px;
            padding: 84px 136px 74px;
        }

        &__text {
        	font-size: 21px;
			line-height: 34px;
        }
    }

    &--form & {

    	&__content {
            width: 672px;
			border-radius: 20px;
            padding: 45px 114px 51px;
        }
    }
}