.b-manufacture {
	color: @cl-white;

	&__head {
		background: url("../images/inhtml/bg_manufacture_mobile.jpg") top/cover no-repeat;
		padding: 48px 0 68px;
	}

	&__facts {
		background: linear-gradient(168.2deg, #3AAA35 0%, #3FAB39 17.45%, #63B559 42.27%, #70B965 52.3%, #64B65B 62.59%, #40AC3A 85.61%, #3AAA35 100%);
		box-shadow: 2px 6px 50px rgba(141, 177, 216, 0.3);
		padding: 51px 0 9px;
	}

	&__link {
		color: @cl-white;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 20px;
		.roboto-medium();
		margin: 24px 0 0;
		display: inline-flex;
		align-items: center;
		cursor: pointer;

		.no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-white;
		}
	}

	&__button-wrapper {
		display: flex;
		justify-content: center;
		margin: 68px 0 0;
	}

	&__button {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;
		color: @cl-white;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 20px;
		.roboto-medium();
	}

	&__button-img {
		width: 60px;
		height: 60px;
		margin: 0 0 18px;
	}

	&__facts-inner {
		width: 280px;
		padding-left: 40px;
		margin: auto;
	}

	&__item {
		display: flex;
		flex-direction: column;
		margin: 0 0 42px;
	}

	&__item-main {
		display: flex;
	}

	&__item-value {
		font-size: 64px;
		line-height: 59px;
		letter-spacing: -0.05em;
		.roboto-bold();
		margin-right: 14px;
		flex-shrink: 0;
	}

	&__item-desc {
		font-size: 14px;
		line-height: 18px;
		max-width: 95px;
	}

	&__item-text {
		font-size: 18px;
		line-height: 26px;
		letter-spacing: 0.01em;
		.roboto-medium();
	}
}