.b-manufacture {
	background-position: center;

	&__head {
		padding: 120px 0 75px;
	}

	&__description {
		padding: 18px 55px 0 0;
	}

	&__facts-inner {
		max-width: 50%;
		// padding-right: 55px;
	}
}