.b-manufacture {
	background: url("../images/inhtml/bg_manufacture_tablet.jpg") top/cover no-repeat;

	&__head {
		background: none;
		padding: 100px 0;
	}

	&__facts {
		background: url("../images/inhtml/bg_facts.svg") top/cover no-repeat;
		padding: 78px 0 37px;
	}

	&__facts-inner {
		width: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__link {
		margin: 33px 0 0;
	}

	&__button-wrapper {
		margin: 79px 0 0;
	}

	&__item-text {
		font-size: 24px;
		line-height: 34px;
		letter-spacing: normal;
	}

	&__item-value {
		font-size: 72px;
		line-height: 63px;
	}
}