.b-head-block {
    position: relative;
    background: #AFC559 radial-gradient(50% 100% at 50% 100%, #B2C55A 0%, rgba(176, 198, 89, 0.5) 40.23%, rgba(127, 156, 66, 0.8) 86.46%, #7E9C41 100%);
    padding: 8vh 0 4vh;
    min-height: 400px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: @cl-madison;
        opacity: .5;
        z-index: 1;
    }

    .b-container {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__inner {
        margin: auto;
    }

    &__lead-hidden {
        font-size: 24px;
        line-height: 34px;
        margin-top: 44px;
        color: @cl-tuna;
    }

    &__lead {
        display: none;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
		object-fit: cover;
        font-family: "object-fit: cover;";
    }

    &__desc {
        display: flex;
        align-items: center;
        height: 32px;
    }

    &__source,
    &__time,
    &__link {
        color: @cl-alice-blue;
        font-size: 12px;
        line-height: 15px;
    }

    &__source,
    &__time {
        opacity: .8;
    }

    &__source,
    &__link {
        margin-right: 8px;
    }

    &__link {
        text-decoration: underline;
    }

    &__time {
        position: relative;
        padding-left: 9px;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 1px;
            height: 32px;
            background-color: @cl-alice-blue;
            opacity: .8;
        }
    }

    &__arrow {
        display: flex;
        justify-content: center;

        .b-icon {
            border: 1px solid rgba(246, 248, 250, .8);
            width: 30px;
            height: 49px;
            margin: 0;

            &:before {
                font-size: 9px;
                color: @cl-alice-blue;
                transform: rotate(90deg);
            }
        }

        span {
            display: none;
            font-size: 16px;
            line-height: 24px;
            color: rgba(246, 248, 250, .8)
        }
    }
}