.b-head-block {
    padding: 5vh 0;
    margin-bottom: 90px;

    &__lead-hidden {
        display: none;
    }

    &__lead {
        margin-top: 42px;
        display: block;
        color: @cl-alice-blue;
        font-size: 24px;
        line-height: 34px;

        span {
            display: block;
            margin-bottom: 8px;
        }
    }

    &__source,
    &__time,
    &__link {
        font-size: 16px;
        line-height: 24px;
    }

    &__arrow {
        position: relative;

        .b-icon {
            width: 47px;
            height: 77px;

            &:before {
                font-size: 14px;
            }
        }

        span {
            display: block;
            position: absolute;
            top: 50%;
            transform: translate(50px, -50%);
            left: 50%;
        }
    }
}