.b-stm {
	padding: 0 0 60px;

	&__video {
		position: relative;
		padding-bottom: 56.25%;
		width: 100%;
		height: 0;
		overflow: hidden;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-width: 0;
			outline-width: 0;
		}
	}

	&__wrap {
		margin-bottom: 32px;
	}
}