.b-breadcrumbs {
    font-size: 16px;
    line-height: 26px;
    color: @cl-raven;
    margin: 0 60px 0 0;

    &__link {
        white-space: nowrap;
        min-width: 0;
        color: @cl-raven;
        transition: color .3s ease-out;

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-pale-sky;
        }
    }

    &__list {
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0;
        white-space: nowrap;
    }

    &__item {
        list-style-type: none;
        .icon('arrow-left');
        white-space: nowrap;

        &:not(:nth-last-child(2)) {
            display: none;
        }

        &:before {
            font-size: 10px;
            line-height: 26px;
            color: @cl-raven;
            margin: 0 24px 0 4px;
        }
    }

    &--light & {

        &__link {
            color: @cl-alice-blue;

            .no-touchevents &:hover,
            .touchevents &:active {
                color: @cl-white;
            }
        }

        &__item {

            &:after,
            &:before {
                color: @cl-alice-blue;
                opacity: .8;
            }
        }
    }
}